<?php echo $header; ?>
<div class="breadcrumb-container">
	<div class="container">
		<h3 class="category-name"><?php echo $heading_title; ?></h3>
		<ul class="breadcrumb breadcrumb-success">
			<?php foreach ($breadcrumbs as $breadcrumb) { ?>
			<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
			<?php } ?>
		</ul>
	</div>
</div>
<div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <?php echo $text_message; ?>
      <div class="buttons">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>

				<?php if( (isset($order_id)) && ($order_id) && (isset($iAnalytics)) && ($iAnalytics['Enabled']=='yes') && ($iAnalytics['GoogleAnalytics']=='yes') && (isset($iAnalytics['GoogleAnalyticsIDNumber'])) ) { ?>
				<script type="text/javascript">
					<?php if (isset($iAnalytics['GoogleAnalyticsTracking']) && $iAnalytics['GoogleAnalyticsTracking']=='ec_tracking') { ?>	
						ga('require', 'ec');	
						<?php foreach ($order_products as $row) { ?>						
						ga('ec:addProduct', {               // Provide product details in an productFieldObject.
						  'id': '<?php echo $row["product_id"]; ?>',                   // Product ID (string).
						  'name': '<?php echo $row["name"]; ?>', // Product name (string).
						  'category': '',            // Product category (string).
						  'brand': '',                // Product brand (string).
						  'variant': '<?php echo $row["model"]; ?>',               // Product variant (string).
						  'price': '<?php echo $row["price"]; ?>',                 // Product price (currency).
						  'coupon': '',          // Product coupon (string).
						  'quantity': <?php echo $row["quantity"]; ?>                     // Product quantity (number).
						});
						<?php } ?>
						
						ga('ec:setAction', 'purchase', {          // Transaction details are provided in an actionFieldObject.
						  'id': '<?php echo $order_id; ?>',                         // (Required) Transaction id (string).
						  'affiliation': '', // Affiliation (string).
						  'revenue': '<?php echo $order_info["total"]; ?>',                     // Revenue (currency).
						  'tax': '<?php echo $tax; ?>',                          // Tax (currency).
						  'shipping': '',                     // Shipping (currency).
						  'coupon': ''                  // Transaction coupon (string).
						});
						
						ga('send', 'event', 'placed a new order','<?php echo $order_id; ?>', '');
					<?php } else if (isset($iAnalytics['GoogleAnalyticsTracking']) && $iAnalytics['GoogleAnalyticsTracking']=='regular_tracking') { ?>
				        var _gaq = _gaq || [];
       					_gaq.push(['_setAccount', '<?php echo $iAnalytics['GoogleAnalyticsIDNumber']; ?>']);
       					_gaq.push(['_set', 'currencyCode', '<?php echo $order_info["currency_code"]; ?>']);
        				_gaq.push(['_trackPageview']);
        				_gaq.push(['_addTrans',
         					'<?php echo $order_id; ?>',					   // Transaction ID *
          					'<?php echo $store_name; ?>',					 // Store Name
							'<?php echo $order_info["total"]; ?>',          // Cart Total
							'<?php echo $tax; ?>',          				// Tax
							'<?php echo $order_info["shipping_city"]; ?>',	// City
							'<?php echo $order_info["shipping_zone"]; ?>',	// State/Province
							'<?php echo $order_info["shipping_country"]; ?>'// Country
        				]);
						<?php foreach ($order_products as $row) { ?>
							_gaq.push(['_addItem',
								'<?php echo $order_id; ?>',					// Transanction ID *
								'<?php echo $row["model"]; ?>',              // SKU/Code *
								'<?php echo $row["name"]; ?>',               // Product Name
								'',          							     // Category
								'<?php echo $row["price"]; ?>',				// Price *
								'<?php echo $row["quantity"]; ?>'			 // Quantity *
							 ]);
						<?php } ?>
         				_gaq.push(['_trackTrans']); 

						(function() {
						  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						})();
					<?php } ?>
   		 		</script>
				<?php } ?>
			
<?php echo $footer; ?>