<div style="border:1px solid #ddd; margin-bottom:20px;float: left;">
	<div style="font-size:15px;padding: 8px 12px; color: #000;background: #eeeeee;border-bottom: 1px solid #DDDDDD;text-shadow: 0 1px 0 #FFF;">Check Delivery at Your Location</div>
	<div style="padding: 10px;">
		<form method = "POST" id = "pincheck" <?php if(isset($_SESSION['pincode'])){ echo "style='display:none;'";}?>>
			<input placeholder="Enter Your Pincode" type="text" id="pin" style="padding: 5px;">
			<input type = "button"  onClick = "getdata()" value="CHECK" id="button-check" class="button"/>
		<div id="show_message" style="display:none; color: red;">Please Enter Postcode</div>
		</form>
		<div id="msg1" >
			<?php
				if(isset($_SESSION['pincode'])){
					echo "<div id='msg' ><p style='background:url(image/catalog/postcode/postcode_icons.jpg); background-repeat: no-repeat;background-position: 3px 3px;float: left;padding: 8px 0 0 22px;height: 35px;'> Delivery for : <b>".$_SESSION['pincode']."</b>&nbsp;&nbsp;<form style='display:inline;'><input type = 'button'  onclick = 'showform1()' value='CHANGE' id='button-change' class='button'/></form></p>";
					echo $_SESSION['pin_check_result']."<br />";
					if(isset($_SESSION['pin_check_delivery']) && $_SESSION['pin_check_delivery'] != ''){
						echo $_SESSION['pin_check_delivery'];
					}
					echo"</font></font><br /></div>";
				}
			?>
		</div>
	</div>
</div>
<style>
#msg1{color:#000}
#msg1 .fa-2x{font-size:2em!important;}
</style>
<script type="text/javascript">
        $('#pincheck').submit(function (e) {
			e.preventDefault();
			getdata();			
		});
	function getdata(){
		var pin = $("#pin").val();
		if(pin != ''){
			$.ajax({
				type: "POST",
				url: "?route=extension/module/pincode/pinCheck",
				data: {pincode: pin},
				dataType : "text"
			}).done(function( result ) 
			{
				$("#msg").show();
				$("#msg").html( result );
				$("#pincheck").hide();	
				$("#show_message").hide();				
			});
		}
		else{
			$("#show_message").show();
		}
	}
	function showform1(){
		$("#msg").hide();
		$("#pincheck").show();		
	}
</script>	