
@media screen and (max-width: 900px) and (min-width: 700px){
        .col-sm-12{
            width: 100% !important;
        }
    
    }
 
    @media screen and (max-width: 500px) and (min-width: 300px){
        .forshadowboximg{
          padding: 3% 26% 0 26% !important;
        }
    } 
    
    .product-rating {
        margin-bottom: 12px;
    }

    .product-rating span{
        font-size: 17px;
    } 
    
    /*slick slider*/
 
 
    @media screen and (min-width: 500px) {
        ul.slider-thumb{
            padding-left: 0!important;
            padding-top: 12px;
            padding-bottom: 15px;
        } 
        
        ul.slider-thumb li.type-image {
            padding: 6px;
           /* margin-top: 9px;
            margin-bottom: 8px;*/
           /* margin-top: 8px;
            margin-bottom: 8px;*/
        }
    
        ul.slider-thumb li.type-image img{
            border: 1px solid #f49a25;
            opacity: 0.5;
            width: 65px;
        }
    
        ul.slider-thumb li.slick-current img{
            opacity: 1 !important;
            border: 2px solid #f49a25;
        }
     
        .slider-thumb .slick-arrow i::before{
            color: black !important;
            font-size: 30px;
        }
    
        .slider-thumb .slick-arrow{
            background-color: transparent !important;
        }
    }
    
    /* START MODULE STYLING */
    
    ul.slider-preview li.type-image img{
        padding: 10px;
    }
    
    .slider-preview iframe{
      padding: 15px;
    }
    
    .slider-preview{
        padding-left: 0 !important;
    }
    
    .module-gallery {
        width: 100%;
    }
    
    .module-gallery .slider-wrapper {
        display: flex;
        overflow: hidden;
        max-height: 500px
    }
    
    .module-gallery .slider-thumb {
        max-width: 80px;
    }
    
    .module-gallery .slider-thumb li {
        max-height: 100px;
    }
    
    /* .module-gallery .slider-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */
    
    .module-gallery .slider-thumb .slick-prev,
    .module-gallery .slider-thumb .slick-next {
        z-index: 1;
        height: 1em;
        width: 100%;
        background-color: #000;
        opacity: 0.3;
        transition: opacity 300ms ease;
        font-size: 1.5em;
        color: #fff;
    }
    
    .module-gallery .slider-thumb .slick-prev:before,
    .module-gallery .slider-thumb .slick-next:before {
        content: '';
    }
    
    .module-gallery .slider-thumb .slick-prev:hover,
    .module-gallery .slider-thumb .slick-next:hover {
        opacity: 0.5;
    }
    
    .module-gallery .slider-thumb .slick-prev {
        left: unset;
        top: 1;
    }
    
    .module-gallery .slider-thumb .slick-next {
        top: unset;
        right: unset;
        bottom: -0.5em;
    }

    .slick-track .slick-track { display: none; }

    .slider-preview{
      max-width: 400px;
    }


    @media (max-width: 767px) {
        .module-gallery .slider-wrapper {
            flex-direction: column-reverse;
        }
        
        .module-gallery .slider-thumb {
            max-width: 100%;
        }
        
        .module-gallery .slider-thumb .slick-prev,
        .module-gallery .slider-thumb .slick-next {
            top: 50%;
            width: 1em;
            height: 100%;
        }
      
        .module-gallery .slider-thumb .slick-prev {
            left: 0;
        }
      
        .module-gallery .slider-thumb .slick-prev .fa:before {
            content: "\f104";
        }
      
        .module-gallery .slider-thumb .slick-next {
            right: 0;
        }
      
        .module-gallery .slider-thumb .slick-next .fa:before {
            content: "\f105";
        }
    }
 

    .fa-times, .fa-check-square, .fa-map-marker {
        color: #000!important;
        margin-top: 5px;
    }
    
    #msg1 {
        color: #000;
        margin-top: 3%;
    }
    
    #popup-product {
        top: 10% !important;
        overflow: hidden;
    }
    
    .reviewerror{
        margin-top: 5%!important;
    }


    .oos{
        background: #777!important;
        border-radius: 4px!important; 
        margin-right: 20px;
        float: left;
        margin-bottom: 15px!important;
    }
    
    .oos:hover {
        cursor: not-allowed!important;
    }
    
    .waorder {
        display:none; 
    }

    /* #button-cart {
      margin-bottom: 15px!important;
    }*/
    
    @media screen and (max-width: 500px) {
        .waorder { display:block; }

        .pro_img {height: 219px;width: 219px;}

        #button-cart {
            padding: 0!important;
            font-size: 15px;
            width: 26%;
            border-radius: 4px!important;
            margin-bottom: 15px;
        }
    
        #button-wa {
            display: inline-block;
            cursor: pointer;
            -webkit-transition: ease .3s all;
            -moz-transition: ease .3s all;
            transition: ease .3s all;
        }
    }
    
    .product-name {
        font-weight: 500!important;
        line-height: 1.5 !important;
    }
  
    .qty-product {
        display: inline!important;
    }
  
    .has-option {
        border: none!important;
        box-shadow: none!important;
    }
  
     body {
        font-size: 15px!important;
    }
  
    .disc1 ul li {
        margin: 0px;
        list-style-type: disc !important;
    }
  
    .thumbnail img {
        display: block;
    }
  
    .coupon img {
        width: 15px!important;
        height: 15px!important;
        margin-right: 10px!important;
        margin-bottom: 5px!important;
    }
  
    .coupon {
        margin-bottom: 10px!important;
        float: left;
    }
  
    .coupon ul {
        padding-left: 0px!important;
    }
  
    .coupon ul li {
        margin-top: 5px!important;
    }
  
    .coupon1 img {
        width: 15px!important;
        height: 15px!important;
        margin-right: 10px!important;
        margin-bottom: 5px!important;
    }
  
    .coupon1 {
        margin-top: 10px!important;
    }
  
    #button-check, #button-change {
        border-radius: 0px;
        margin-bottom: 1px;
        font-weight: 500!important;
        background: #000;
        color: #fff;

    }

    #button-check:hover, #button-change:hover {
        background: #000!important;
    }
    
    .form-control {
        background: #fff!important;
        border: 1px solid #f2f2f2!important;
        border-radius: 3px!important;
    }
    
    .fa-exclamation-circle {
        margin-right: 10px!important;
    }
    
    #button-review {
        border-radius: 4px;
        font-weight: 600!important;
        background: #f49a25!important;
        font-size: 16px!important;
    }
    
    #button-review:hover {
        background: #000!important;
    }
    
    #form-review .alert-danger, #form-review .alert-success {
        padding: 10px!important;
        margin-top: 5%!important;
    }
  
    .proimg{
        border-right: 1px solid #ebebeb;
    }
  
    .owl-carousel .owl-item img {
        display: inline-block!important;
    }
  
    .quickview-product .row {
        margin-right: -17px;
    }
  
    @media screen and (max-width: 500px){
        .proimg{
         border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;border-left: 1px solid #ebebeb;border-top: 1px solid #ebebeb;
        } 
    }
  
    @media screen and (max-width: 800px) {
        /*.coupon {
            margin-top: 10px!important;
            float: left;
        }*/
        
        .row_items {
            height: 450px!important;
        }
        .recipe_row_items {
            height: 200px!important;
        }
        
        .quickview-product .row {
         margin-right: -15px!important;
        }
    
        .feature-banner h4 {
            clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
            padding: 10px 5px;
            font-size: 14px;
        }
    
        .feature-banner {
            padding-left: 0!important;
            padding-right: 0!important;
        }
    
        .feature-banner-container {
            padding-left: 5px!important;
            padding-right: 5px!important;
        }
    
        .old-order-date h4 {
            text-align: center;
        }
    }
    
    .button {
        font-weight: 600!important;
        font-size: 16px!important;
    }
  
    .alert-info {
        float: left;
        width: 100%;
        margin-bottom: 5px!important;
        margin-top: 10px;
    }
  
    .fa-info-circle {
        margin-right: 10px;
    }
  
    .form-control:focus {
        border-color: #80bdff!important;
        outline: 0!important;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)!important;
    }
  
    #form-review .alert {
        width: 100%;
    }
  
    @media(max-width:800px) {
        #form-review .alert {
            width: 100%;
        }
    }
    
    .reviews {
        background: #F2F2F2;
        padding: 15px 20px;
        margin: 10px 0;
        border-left: 5px solid #ddd;
    }
    
    .reviews-avatar {
        background: #f49a25;
        color: #fff;
        height: 50px;
        width: 50px;
        text-align: center;
        display: table;
        float: left;
    }
    
    .reviews .reviews-wrap{
        margin-left: 65px;
    }
  
    .reviews .reviews-wrap h5{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin: 5px 0;
    }
  
    .reviews-avatar i {
        font-size: 25px;
        display: table-cell;
        vertical-align: middle;
    }
  
    .reviews-author {
        font-style: italic;
        font-weight: 600;
    }
  
    .reviews-wrap .fa {
        color: #f49a25;
    }
  
    .fa-calendar {
        color: #000!important;
        margin-right: 10px!important;
    }
  
    .reviews-date {
        margin-top: 0!important;
    }
  
    .reviews-text {
        line-height: 22px!important;
    }
    
    #product .control-label {
        font-weight: 600;
    }
  
    .feature-banner h4 {
        text-align: center;
        padding: 10px;
        background: #000;
        color: #fff;
        font-weight: bold;
        clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
    }

    .feature-banner {
        z-index: 1;
    }

    .breadcrumb {
        margin-bottom: 10px!important;
    }

    .old-order-date {
        border: 1px solid #f49a25;
        border-radius: 4px;
        margin: 15px 0!important;
    }

    .old-order-date h4 {
        font-weight: 600;
    }

    .options .radio input {
        display: none !important;
    }
    
    .options .radio {
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }
    
    .options label {
        display: block;
        background-color: #fff;
        border: 0.5px solid #000;
        border-radius: 3px;
        padding: 0;
        text-align: center;
        min-width: 52px;
    }
    
    .options .checked-option {
        background-color: #000 !important;
        color: #fff !important;
        border: 1px solid #000!important;
    }
    
    .radio label span {
        display: block;
        font-size: 13px;
    }
    
    label.disabled {
        background: #ddd!important;
        cursor: not-allowed!important;
    }
   
   .old-price{
        color:#000;
    }
    
    /*.product-name {
        min-height: 65px!important;
    }*/
    
    .options {
        min-height: 55px;
    }
    
    .product-options {
        margin-top: 10px;
        text-align: center;
        float: left;
        background: #fff!important;
    }
    
    .button-cart {
        float: right!important;
        font-size: 13px!important;
        padding: 8px 10px!important;
    }
    
    .button-personalize {
        font-size: 13px!important;
        padding: 8px 10px!important;
        float: right !important;
    }
    
    .price-label {
        padding: 8px 0px !important;
        min-height: 37px;
        width: 100% !important;
    }
    
    .quantity {
        height: 35px!important;
        text-align: center;
        background: #fff!important;
        border: 1px solid #f2f2f2 !important;
        float: left;
        width: 57%;
    }
    
    .minus-button, .plus-button {
        font-weight: 700;
        text-align: center;
        height: 35px !important;
        width: 20% !important;
        font-size: 14px !important;
        padding: 0px !important;  
        background: #fff !important;
        border: 1px solid #f2f2f2 !important;
        float: left;
    }
    
    .minus-button:hover, .plus-button:hover {
        background: #f49a25!important;
        color: #fff!important;
        border: 1px solid #f2f2f2!important;
    }
    
    .minus-button {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }
    
    .plus-button {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    
    @media(max-width: 1000px) {
        .button-cart, .button-personalize, .oos {
            padding: 9px 10px !important;
            font-size: 14px!important;
            margin-bottom: 15px!important;
            margin-right: 20px!important;
        }
        
        .radio label span {
            font-size: 12px!important;
        }
        
        .des-container .options .radio {
            margin: 0px 0px 5px -2px!important;
        }
        
        .options {
            min-height: 55px!important;
        }
        
        .category-products {
            padding: 0!important;
        }
        
        .product-container {
            padding: 7px!important;
        }
        
        .image1, .image2 {
            padding: 10px!important;
        }
        
        #bestsellers {
            display: none!important;
        }
    }
    
    @media(min-width: 800px) {
       /* .des-container {
          height: 200px;
        }*/
        
        .recipe_row_items {
          height: 220px!important;
        }
        
    }
    
    .item-inner .des-container {
        padding:10px!important;
    }
        
    .oos {
        background: #777!important;
        border-radius: 4px!important;
        font-size: 13px!important;
        padding: 8px 10px!important;
    }
    
    .oos:hover {
        cursor: not-allowed!important;
    }
    
    .button-cart:focus, .button-personalize:focus {
        color: #fff!important;
    }
   
    .related-product-container, .order-history-carousel {
        padding-bottom: 3%;
    }
    
    .image1, .image2 {
        padding: 10px;
    }
    
    .des-container .options .radio input {
        display: none !important;
    }
    
    .des-container .options .radio {
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }
    
    .des-container .options label {
        display: block;
        background-color: #fff;
        border: 0.5px solid #000;
        border-radius: 3px;
        padding: 0;
        text-align: center;
        min-width: 52px;
    }
    
    .des-container .options .checked-option {
        background-color: #000 !important;
        color: #fff !important;
        border: 1px solid #000!important;
    }
    
    .radio label span {
        display: block;
        font-size: 13px;
    }
    
    label.disabled {
        background: #ddd!important;
        cursor: not-allowed!important;
    }
    
    .price, .coupon {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    
    .coupon {
        min-height: 20px!important;
        text-align: left;
        font-size: 12px!important;
        margin-bottom: 0!important;
    }
    
    .recipe-steps li {
        list-style-type: disc!important;
    }
    
    .recipe-steps {
        padding-left: 15px !important;
    }
    
    .recipe-image {
        margin-top: 20px;
    }
    
    #prod-special h3 {
        margin-top: 0 !important;
    }
    
    .op-0 {
        opacity: 0.3;
    }
    
    .deals-discount {
        border-radius: 50%;
        right: 0px;
        top: 5%;
        position: absolute;
        background: #f49a25;
        text-align: center;
        z-index: 5;
        width: 50px;
    }
    
    .deals-discount h5 {
        color: #fff;
        font-weight: 600;
        padding: 1px;
    }
    
    .price-coupon{
        font-weight: bold;
    }
    
    #content {
        margin-top: 15px;
    }
    
    #productslider .carousel-control{
        background: none !important;
    }
    
    #productslider .carousel-inner img{
        padding: 25px;
    }
    
    #productslider .carousel-indicators{
        position: relative !important;
        width: 100%; 
        margin:0 !important;
        left: 0;
        top:60;
        bottom: 0 !important;
    }
    
    #productslider .carousel-indicators li{  
        border: 1px solid #f49a25;
        text-indent:0;
        width: 65px !important;
        height: 75px;
        background: none !important;
        border: none !important;
        border-radius: 0 !important;
        margin: 5px 0 5px 0;
    }
    
    .carousel-indicators li img{
        width: 65px !important;
        height: 75px;
        border: 1px solid #CCCCCC;
    }
        
    #productslider .carousel-indicators .active img{
        border: 1px solid #f49a25;
        height: 75px;
        width: 65px !important;
    }
    
    #productslider .carousel-indicators li.active{
        border: 1px solid #f49a25;
        height: 75px;
        width: 65px !important;
        margin: 5px 0 5px 0;
    }
          
    #productslider .carousel-control.left{
        background-image: none;
        width: 0 !important;
    }

     #productslider.carousel-control.right,
    
    #productslider .carousel-control .next{
        right: 20;
    }

    .carousel-control{
        width: 0 !important;
    }
    
    #productslider .carousel-control .prev, .carousel-control .next{
        top: 256 !important;
        font-size: 20px;
        color: #000 !important;
    }
    
    @media screen and (min-width:300px) and (max-width:330px) {
        #productslider .carousel-control .prev, .carousel-control .next{
            top:269 !important;
            font-size: 15px;
        }

        #productslider .carousel-control .next{
            right: 18 !important;
        }
        
        /*.carousel-indicators li img{
            width:95%;
            height:50px;
        }
        
        .carousel-indicators li{
            width:20%;
            height:50px;
        }
        
        .carousel-indicators .active{
            width:20%;
            height:50px;
        }*/
    }

    @media screen and (min-width:330px) and (max-width:370px) {
       #productslider .carousel-control .prev, .carousel-control .next{
            top: 265 !important;
            font-size: 20px;
        }
    }

    @media screen and (min-width:371px) and (max-width:450px) {
        #productslider .carousel-control .prev, .carousel-control .next{
            top: 308 !important;
        }
    }

    @media screen and (min-width:768px) and (max-width:980px){
        .carousel-control .prev, .carousel-control .next{
            top: 159 !important;
            font-size: 20px;
            right: 10 !important;
        } 
    }
    
    .rating-text {
        font-size: 13px;
        padding-left: 0;
        text-indent: 0;
    }
    
    .rating-box {
        cursor: pointer;
    } 
    
    .checked{
        color:  #ffd800 !important;
        font-size: 18px !important;
    }
    
    .product_pricing{
        padding: 0 !important;
    }
      
    .product-pricing{
        border-top: 1px solid #eee;
    }

    .product-mrp{
        line-height: 21px;
        font-size: 15px !important;
        font-weight: 500;
    }
    
    .product-price{
        font-size: 18px !important;
        font-weight: 700;
        color: #f49a25;
    }

    .product-mrp span{
        text-decoration: line-through !important;
    }

    .product-mrp h3, .product-mrp h3 span small, .product-price h3{
        font-size: 18px !important;
    }

    .product-price h3{
        color: #f49a25;
        font-weight: 700 !important;
    }

    @media screen and (max-width: 480px) and (min-width: 300px){
        .product-mrp h3, .product-mrp h3 span small, .product-price h3{
            font-size: 16px !important;
        }
    }
    
    @media only screen and (max-width:779px){
        #cart_section.fixed_cart {
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 26;
            margin: -15px -15px 0px -15px;
        }
                
        #cart_section {
            background: #fff;
            padding: 8px 16px;
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: block;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            border-top: 2px solid rgba(0,0,0,.19);
        }
                
        #cart_section .cart_details {
            float: left;
            /*width: calc(100% - 160px);*/
            font-size: 12px;
            /*font-family: JioMedium;*/
            line-height: 16px;
            color: #000;
            text-align: left;
            padding: 0;
        }
        
        #cart_section .cart_details a {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: #e11500;
        }
                
        #cart_section .actions {
            float: right;
            height: auto;
            padding: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: block;
        }
                
        #cart_section .actions .toCart {
            width: 100%;
            font-size: 16px;
            color: #fff;
            font-family: JioMedium;
            cursor: pointer;
            line-height: 20px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 0;
            background: 0 0;
            -webkit-appearance: none;
            height: 40px;
            padding: 0;
            background: #008ecc;
            border-radius: 4px;
        }
                
        #back-top { 
            bottom: 17% !important;
        }
    }  
            
    @media only screen and (min-width:780px){
        #cart_section {
            display:none;
        }
    }
            
    .cart_details .radio label span {
        min-width: 55px;
        padding: 6px 1px!important;
    }
            
    #button-cart-bottom {
        padding: 8px 10px !important;
        width: 113px;
        float: right;
        height: auto;
        margin-top: 10px!important;
        background: #f49a25;
        font-weight: 600;
        color: #fff;
        border: none;
        font-size: 15px;
        display: inline-block;
        border-radius: 4px;
    }
            
    #plus-bottom, #minus-bottom {
        background: #000 !important;
        color: #fff !important;
        float: left;
        width: 24px;
        font-size: 14px;
        padding: 0;
        height: 40px;
    }
    
    .highlight-panel{
        margin: 15px 0 0 0;
        border-left: 4px solid #f49a25 !important;
        border:1px solid #eee;
        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
        border-radius: 7px;
    }
    
    .panel-body ul{
        padding: 0 10px 0 10px;
    }

    .panel-body ul li{
        list-style-type: disc;
    }

    .panel-heading{
        font-size: 15px !important;
        font-weight: 600 !important;
        color: #000 !important;
    } 
              
    /*offers*/
              
    .coupon{
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 8px !important;
        background: #f7f8fa;
        margin-top: 15px;
    }
               
    .coupon{
        font-size: 14px !important;
    }
    
    
    .quantity {
        position: relative;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .quantity input {
        width: 84px;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding: 0 25px 0 25px;
        border: 1px solid #eee;
        border-radius: 4px;
    }

    .quantity input:focus {
        outline: 0;
    }

    .quantity-nav {
        float: left;
        position: relative;
        height: 42px;
    }

    .quantity-button {
        position: relative;
        cursor: pointer;
        border-left: 1px solid #eee;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        line-height: 1.7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: 1px solid #eee;
    }

    .quantity-button.quantity-down {
        position: absolute;
        bottom: -1px;
        height: 50%;
    }

    .quantity-down{
        height: 58% !important;
    }
    
    .qty-label{
        line-height: 40px;
    }
    
    .qtybtn{
        width: 68%;
        margin: 0 !important;
        height: 40px !important;
    }

    .product_qty{
        margin-bottom: 10px;
        margin-top: 15px;
    }

    @media screen and (max-width:450px) and (min-width: 300px) {
        .qtybtn{
            margin-left: 0 !important;
            width: 100% !important;
        }
    }

     /*traceability*/
               
    .btn-trace-journey{
        background: none !important;
        border: 2px solid #f49a25 !important;
        color: #f49a25 !important;
        width: 95%;
    }
   
    .btn-trace-journey:hover{
        background: #f49a25 !important;
        color: #fff !important; 
    }
    
    .traceproduct{
        margin: 15px 0 15px 0 !important;
    }
    
    .traceproduct .input-group input{
        padding: 19px;
        border: 1px solid #ccc !important;
    }

    /*.traceproduct .input-group span{
        background: #000 !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: 600 !important;
    }*/
    
    .pin_input{
        border-radius: 4px !important;
    }
                 
    .pin-btn{
        background: #ccc !important;
        padding: 9px;
        width: 70px;
        border-radius: 5px !important;
    }
                 
    .pin-btn:hover{
        background: #000 !important;
        color: #fff !important;
    }
               
    .revwbutton {
        background: none !important;
        color: #000 !important;
        border: 1px solid #000 !important;
        padding: 6px 16px !important;
    }

    .revwbutton:hover{
        background: #000 !important;
        color: #fff !important;
    }

    @media screen and (max-width: 450px) and (min-width: 300px){
        .traceability{
            margin-bottom: 20px;
        }

        .revwbutton{
            font-size: 14px !important;
        }
    }
    
    .btn-trace-journey{
        font-size: 14px !important;
    }

    .revwbutton{
        padding: 7px 10px !important;
    }

    #input-quantity{
        width: 52px !important;
    }
    .product-info{
        margin-top: 30px;
    }
    .productdesc.well{
        line-height: 28px !important;
        display: inline-block;
    }
    
    .whytetitle{
       font-size: 18px !important;
    }

    .productdesc ul li{
        list-style-type: disc;
        font-size: 15px !important;
    } 
    
    .ingredient-banner{
        margin-top: 10px;
     }

    .product-htu{
       margin-top: 20px;
     }
     
    .product-htu .usetitle{
       font-size: 18px !important; 
       line-height: 1.5 !important;
     }
 
    .ytp-button{
        left: 69% !important;
        top: 48% !important;
        width: 43px !important;
        height: 58px !important;
    }

 /*reviews*/
        
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide, .swiper-container {
        height: 300px !important;
    }

    .swiper-slide-shadow-left, .swiper-slide-shadow-right{
        background-image: none !important;
    }
        
    /*panels*/

     
    @media screen and  (max-width: 900px) and (min-width: 500px){
        .customer-review .panel-heading{
            margin-top: 13% !important;
        }
    }
    
    .profile-card-2 .card-img-block{
        float:left;
        width:100%;
        height:150px;
        overflow:hidden;
    }
    
    .profile-card-2 .card-body{
        position:relative;
    }
    
    /*.profile-card-2 .profile, {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 48%;
        max-width: 75px;
        border: 3px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    } */
    
    .profile-card-2 .review-icon {
        width: 91%;
        height: 25%;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        max-width: 75px;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }

    .profile-card-2 h5{
        font-weight:600;
        color:#6ab04c;
    }
    
    .profile-card-2 .card-text{
        font-weight:300;
        font-size:15px;
        text-align: center !important;
    }
    
    .profile-card-2 .icon-block{
        float:left;
        width:100%;
    }
    
    .profile-card-2 .icon-block a{
        text-decoration:none;
    }
    
    .profile-card-2 i {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin:0 -5px;
    }
    
    .profile-card-2 i:hover {
        background-color:#6ab04c;
        color:#fff;
    }

    .profile-card-2{
        min-height: 218;
        margin-top: 14%;
        background: #f49a25;
        background-image: linear-gradient(0deg, #f49a25,  #fed8b1);
        border: 1px solid#f49a25 !important;
    }

    .swiper-button-prev, .swiper-button-next{
        color: #000 !important;
    }
    
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 30px !important;
    }
    
    .review-icon span .fa{
        background: none !important;
        border: none !important;
        color: #000 !important;
        font-size: 28px !important;
        margin:20px;
    }

    .customer-review .swiper-pagination-bullet-active, .swiper-pagination-bullet{
        background: #f49a25 !important;
    }

/*add review*/

    .addrvw{
        border-radius: 4px;
        font-weight: 600 !important;
        background: #f49a25 !important;
        font-size: 16px !important;
        color: #fff;
        border: none !important;
    }

    .addrvw:hover, .addrvw:focus{
        background: #000 !important;
        color: #fff !important;
        -moz-transition: .5s ease-in;
    }
    
   @media screen and (max-width: 1800px) and (min-width: 500px){
        #health-benefits{
            padding: 15px 0 15px 0;
            height: 271px;
            margin-bottom: 20px;
        }
        
        .hbimg  {
            opacity: 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .hb-one{
            width: 237px;
        }

        .hb-two, .hb-three, .hb-four{
            width: 198px;
        }
        
        .hb-one {
            animation-delay: 0ms;
        }

        .hb-two {
            animation-delay: 50ms;
        }

        .hb-three {
            animation-delay: 100ms;
        }

        .hb-four {
            animation-delay: 150ms;
        } 
   }
    

/* hb */
 .hb-img 
   {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  #hb {
    padding: 15px 0 15px 0;
    }
 
 @media screen and (min-width:300px) and (max-width: 480px){
 .hb-sect{
    margin-bottom: 12px; 
 }
}
 @media screen and (max-width: 1800px) and (min-width: 500px){
        #hb{
            height: 271px;
            margin-bottom: 20px;
        }
        
        #hb div{
          padding-top: 17px;
          padding-bottom: 13px;
        }


       /* .hb-two, .hb-three, .hb-four{
            width: 198px;
        }
        
        .hb-one {
            animation-delay: none;
        }

        .hb-two {
            animation-delay: 100ms;
        }

        .hb-three {
            animation-delay: 300ms;
        }

        .hb-four {
            animation-delay: 500ms;
        }
*/
       /* .fadein {
            animation-name: fadein;
            animation-fill-mode: both;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }*/

        .hb1{
            padding: 0 !important;
        }
        
      /*  @keyframes fadein {
            0% {
                opacity: 0;
                transform: translate3d(0, -20%, 0);
            }

            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }*/
    }


/* blogs */
.blog-link{
  font-weight: 500;
  color: #f49a25;
}

.blog-section{
  display: inline-block;
  margin-bottom:  20px;
}

.related-blogs span{
  font-size: 17px;
  font-weight: 700;
}

.related-blogs{
  margin-top: 20px;
}
.blog-section{
  margin: 20px 0;
  }
.blog-padding{
  padding: 0 !important;
    }
    
.blog-section h3{
   font-size: 17px !important;
 }

 @media screen and (min-width: 480px) {
  .related-blogs .blog-section:nth-child(odd) .blog-img{
    float: right !important;
  }

  .related-blogs .blog-section:nth-child(odd) .blog-content{
    padding-left: 0px !important;
  }

  .related-blogs .blog-section:nth-child(even) .blog-content{
    padding-right: 0px !important;
  }

  .blog-section h3{
   margin-top: 0 !important;
}
}


@media screen and (max-width: 480px){
  .blog-content{
    padding: 0px !important;
  }
}

/* allergen and storage information */

 .product-content-info ul{
     padding-left: 12px;
  }

 .product-content-info ul li{
    list-style: disc;
   }

 .product-content-info .well{
    background: none !important;
    padding: 10px !important;
  }
