.nav-container {
	background:#026e8d;
}
.pt_custommenu {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    z-index: 90;
    display: inline-block;
	text-align:left;
	width:100%;
}
.pt_custommenu div.pt_menu {
    display: inline-block;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
	color: #666666;
    display: block;
    font-size: 22px;
    padding: 0 20px 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
	z-index:1;
}
div.pt_menu .parentMenu a, .parentMenu .block-title {
    color: #666;
    font-size: 18px;
}
.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background-color:#fff;
    text-align:left;
    padding:15px;
    margin: 0;
}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}
.pt_custommenu .itemMenu h4.level0,.pt_custommenu .itemMenu a.level0 {
    color: #444444;
    font-size: 16px;
    text-transform: capitalize;
}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName{ color: #7a7a7a;}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu .level1 a.level0{
    color: #555555;
    font-size: 13px;
    font-weight: normal;
    padding-left: 35px;
    text-transform: none;
	line-height:30px;
}
.block-menu {
	width:840px;
	margin:30px 0 0;
}
.block-menu img {
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.block-menu img:hover {
	opacity:0.8;
}
.pt_custommenu div.column {
    float: left;
	margin-right: 25px;
    width: 200px;
}
.pt_custommenu div.blockright {
	width:300px;
    float: right
}
.pt_custommenu div.popup .blockright img {
    max-width: 100%;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
}
.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
#block2_pt_item_menu_custom_menu {
    width: 700px;
	padding:0;
}
.static-menu-img {
    margin: 0 20px 0 0;
	width:40%;
	float:left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
}
#block2_pt_item_menu_custom_menu .content-custom {
	font-size:14px;
	color:#444444;
	font-weight:normal;
	line-height:20px;
	margin:10px 0 0;
	float:left;
	width:50%;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 
.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}
/*mobile menu*/
/*------Accordion ---------*/
/********** < Navigation */
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    top: 100%;
	left: 0;
    margin:0;
    width: 100%;
	position: absolute;
	z-index: 3;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.1) !important;
}
.nav-collapse, .nav-collapse.collapse {
}
.navbar-inner {
    border: 0;
    border-radius: 0;
}
.navbar .btn-navbar .icon-bar{
	background: #fff
}
.navbar .btn-navbar{
	background:none;
    border: 0 none !important;
    box-shadow: none !important;
    margin-top: 10px;
	display:block !important;
}
.navbar .btn-navbar:hover{
	background: none !important;
	border: none;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;
}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}
.mobilemenu .level2{
    padding: 0 15px;
}
.mobilemenu li {
	background: #faf8f8;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
	border-radius: 0 !important;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
    border-bottom: 1px solid #E1E4EB;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.mobilemenu li:last-child a{
	border: none;
}
.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	/* color: #666 !important; */
}
.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #666 !important;
}
.mobilemenu li.active>ul {

}
.mobilemenu ul ul a {
	padding-left: 15px;
}
.mobilemenu ul ul ul a {
	padding-left: 30px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 45px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 60px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.ttclose,.mobilemenu span.ttopen {
	position: absolute;
	top: 0px;
	right: 8px;
    padding: 13px 0;
}
.mobilemenu span.ttclose a { 
	background: url("../images/menu_down.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.ttopen a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.no-close a,.mobilemenu ul li ul span.ttclose a { background:none; }
.mobilemenu span.up a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.menu-mobile {
	display: inline-block;
    width: 100%;
    height: 50px;
	background: #026e8d;
}
/** hozmegamenu **/
#pt_custommenu {
    position: relative;
    z-index: 111;
	width: 100%;
}
.pt_custommenu div.pt_menu .parentMenu {
    position: relative;
	z-index:1;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title {
    font-size: 14px ;
	line-height:25px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 25px;
	position: relative;
	font-weight: 700;
}
.pt_custommenu div.popup {
    padding:0;
    margin: 0 !important;
	background: #252525 !important;
}
.pt_custommenu div.popup .block1 {
    overflow: hidden !important;
    float: left !important;
    padding: 30px !important;
    border-top: medium none !important;
    
}
.pt_custommenu .popup a:hover {
    color: #b6a08e !important;
}
.pt_custommenu .itemMenu.level1 a.itemMenuName.level0.actParent:hover{
	/* color: #fff !important; */
}
.pt_custommenu .itemMenu.level1 a.itemMenuName.level0 {
    font-size: 15px;
	font-weight:700;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 25px;
	color:#ffffff;
}
.pt_custommenu .itemMenu.level1 .itemSubMenu.level0{
	margin-top:15px;
}
.pt_custommenu .itemMenu.level1 .itemSubMenu.level0 .itemMenuName.level0:last-child{
	background: none;
}
.pt_custommenu .itemMenu.level1 .itemSubMenu.level0 .itemMenuName.level0{
	color: #929292;
	font-weight: 600;
	padding: 8px 0 6px;
	font-size: 12px;
	text-transform:uppercase;
	border-bottom:1px solid #303030;
	font-style:italic;
}
.pt_custommenu .itemMenu.level1 .itemSubMenu.level0 .itemMenuName.level0:last-child{
	border: none;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link .parentMenu ul li a.act,
.pt_custommenu #pt_menu_link .parentMenu ul li a:hover,
.pt_custommenu div.pt_menu.act .parentMenu a,
.pt_custommenu div.pt_menu.active .parentMenu a{
	color: #333333 !important;
}
/*hozmobile*/
.ma-nav-mobile-container{
	display: none;
	float:right;
	width:100%;
	z-index:997;
	position:relative;
}
#ma-mobilemenu{
  background: #fff;
}
.navbar .brand {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 15px;
    font-weight: 700;
}
@media(max-width: 767px){
	.ma-nav-mobile-container { width:100%; float:none;  }
}