@media only screen and (min-width:640px){
    
    ul.teUL li{background-position: center 0 }
    
}    

@media only screen and (min-width:1024px){
	ul.teUL li .caption{left: 60%; text-align: left; bottom: auto; top: 55%; transform: translateY(-50%); }
	
	ul.teUL li .caption a{float: left;} 
	
    .teWrapper .swiper-button-prev {
        background: url(https://www.true-elements.com/image/catalog/svg/right-white-arrow.svg) no-repeat center;
        background-size: cover;
        transform: rotate(-180deg);
        width: 40px;
        height: 50px;
    }
    .teWrapper .swiper-button-next {
        background: url(https://www.true-elements.com/image/catalog/svg/right-white-arrow.svg) no-repeat center;
        background-size: cover;
        width: 40px;
        height: 50px;
    }

    .swipeButton {
        display: block;
    }
}


@media only screen and (max-width:360px) {
	
	ul.teUL li .caption h2 {font-size: 2.4em; margin: 0 0 10px 0; line-height: 1.3em;}
	ul.teUL li .caption a {margin: 20px auto 0px auto; padding: 10px 30px;}
	
	ul.teUL li .caption p, ul.teUL li .caption a { font-size: 1.4em }


}
@media only screen and (max-width:1600px){
	ul.teUL li .caption {width: 450px;}
	ul.teUL li .caption h2 {font-size: 3em; margin: 0 0 20px 0; line-height: 1.1em;}
	ul.teUL li .caption p {width: 100%;}
	ul.teUL li .caption p, ul.teUL li .caption a {font-size: 1.7em; line-height: 1.5em;}
	ul.teUL li .caption a{margin: 40px auto 0px auto; padding: 14px 40px;}

	.teCaption h2{font-size: 3.5em; margin: 0 0 20px 0;}
	.teCaption p{font-size:1.8em;line-height: 1.3em;}

	nav .topDesc h2 {font-size: 2.5em;}
	nav .topDesc {padding: 0px 20px 15px 20px;}

}
@media only screen and (max-width:1200px){
	ul.teUL li .caption {width: 350px;}
	ul.teUL li .caption h2 {font-size: 4em; }
	ul.teUL li .caption p, ul.teUL li .caption a {font-size: 1.8em; line-height: 1.5em;}
}

@media only screen and (max-width:1023px){
	ul.teUL li .caption {width: 70%;}
	ul.teUL li .caption a {display: inline-block;}
	ul.teUL li .caption h2, .teCaption h2 {font-size: 2.6em; margin: 0 0 5px 0; line-height: 1.4em;}
	ul.teUL li .caption p, ul.teUL li .caption a, .teCaption p {font-size: 1.2em;}
	ul.teUL li .caption a {margin: 20px auto 0px auto;}

	.teCaption {width: 70%; left: 15%; top: auto; transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -o-transform: translateY(0%); right: auto; bottom: 60px; text-align: center;}

	a.backButton {
		margin: 60px 0 10px 2%;
	}
	
}

@media only screen and (max-width:500px) and (min-width: 300px){
ul.teUL li.slide01{background-image: url(https://www.true-elements.com/image/catalog/Banner/mobile/mmm-home-slider-mobile.webp);}
		ul.teUL li.slide02{background-image: url(https://www.true-elements.com/image/catalog/Banner/mobile/whole-jowar-flakes-home-slider-mobile.webp);}
		ul.teUL li.slide04{background-image: url(https://www.true-elements.com/image/catalog/Banner/mobile/chocolate-granola-banner.webp);}
		ul.teUL li.slide09{background-image: url(https://www.true-elements.com/image/catalog/Banner/mobile/5-in-1-home-slider.jpg);}
}	 
@media only screen and (max-width:600px){
	 
	 
	.teWrapper .swiper-container{height: calc( 100vh - 60px);}
	a.logo img {width: 120px;}
	.rgteULul.rgtUL li {margin:0 0 0 18px;}
	ul.teUL li .caption {width: 90%;}teULteUL
	
	ul.teUL li .caption a {margin: 20px auto 0px auto; padding: 10px 30px;}
        .teWrapper, .teWrapper .swiper-container, ul.teUL li {height: calc( 88vh - 88px);}
	.teWrapper .swiper-container-horizontal>.swiper-pagination-bullets {bottom: 10px;}
    ul.formUL li .error  { color: #e62027;font-size: 12px;bottom: 0;margin: 5px 0 0 0;width: 100%;float: left;height: 21px;}

} 

@media screen and (max-width:400px){
	ul.teUL li .caption h2, .teCaption h2 {font-size: 2em; line-height: 1.2em;}
	ul.teUL li .caption p, ul.teUL li .caption a, .teCaption p {font-size: 1.1em;}
	ul.teUL li .caption a {margin: 10px auto 0px auto;}

}

/* ipad */

@media only screen and (max-width:850px) and (min-width: 700px){

		ul.teUL li.slide01{background-image: url(https://www.true-elements.com/image/cachewebp/catalog/Banner/desktop/chocolate-granola-1920x640-1920x640.webp);}
		ul.teUL li.slide02{background-image: url(https://www.true-elements.com/image/cachewebp/catalog/Banner/desktop/daily-dose-home-slider-desktop-1920x640.webp);}
		ul.teUL li.slide04{background-image: url(https://www.true-elements.com/image/cachewebp/catalog/Banner/desktop/mmm-home-slider-desktop-1920x640.webp);}
		ul.teUL li.slide09{background-image: url(https://www.true-elements.com/image/cachewebp/catalog/Banner/desktop/whole-jowar-flakes-home-slider-desktop-1920x640.webp);}
	 }
/* swiper mobile */

/*@media only screen and (max-width:600px) and (min-width: 400px){

.teWrapper, .teWrapper .swiper-container, ul.teUL li{
   height: calc( 88vh - 88px) !important;
 }
}*/

@media only screen and (max-width:600px) and (min-width: 250px){

.teWrapper, .teWrapper .swiper-container, ul.teUL li{
  height: calc( 100vh - 58px) !important;
}
}