
section.homepage .makingWrapper{background: #fff}
 section {
    padding:0; 
     
 }
.teWrapper .swiper-pagination-bullet{background:  #fff!important;}
.teWrapper .swiper-pagination-bullet-active{background: #fb9935 !important;}

.teWrapper, .teWrapper .swiper-container{height: calc( 100vh - 58px); padding: 0; background: #1f1f22!important;}
ul.teUL li .box, ul.teUL, ul.teUL li{width: 100%; float: left; position: relative;}
ul.teUL li img{width: 100%; float: left; display: none;}
ul.teUL li{height: calc( 100vh - 59px);  overflow: hidden; background-position: center bottom; background-size: cover; background-repeat: no-repeat; }
 

ul.teUL li .caption{position: absolute; bottom: 50px; z-index: 1; text-align: center; width: 75%; left: 50%; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%);  float: left; width: 590px;}
ul.teUL li .caption h2{color: #fff; font-size: 5em; font-weight: 700; text-transform: uppercase; margin: 0 0 30px 0; position: relative; top: 25px; line-height: 1.2em; letter-spacing: .04em; word-break: break-word;}
ul.teUL li .caption p{font-size: 2.5em; color: #fff; font-weight: 300; top: 15px; line-height: 1.6em; float: left; width: 80%;}
ul.teUL li .caption a{color: #fb9935; font-size: 2.2em;  margin: 60px auto 0px auto; display: table; padding: 16px 50px; background: #1b1a19; border-radius:40px; top: 0; font-weight: 800; }
.teWrapper .swiper-container-horizontal>.swiper-pagination-bullets, .teWrapper .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 25px}
ul.teUL li .caption h2, ul.teUL li .caption p, ul.teUL li .caption a{-webkit-transition: all ease 1s; -moz-transition: all ease 1s; transition: all ease 1s; opacity: 0;  position: relative;}
ul.teUL li.swiper-slide-active .caption h2{opacity: 1; top: 0; -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; transition-delay: 0.2s;}
ul.teUL li.swiper-slide-active .caption p{opacity: 1; top: 0; -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; transition-delay: 0.5s;}
ul.teUL li.swiper-slide-active .caption a{opacity: 1; top: 0; -webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s;}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 0}
.swiper-pagination-bullet{background: #c4c5c5; opacity: 1; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; transition: all ease 0.5s;}
.swiper-pagination-bullet-active{background: #006439 !important;width: 20px !important;border-radius: 5px !important;}
.teWrapper .swiper-pagination-bullet{background:  #fff!important;}
.teWrapper .swiper-pagination-bullet-active{background: #fb9935 !important;}

.swipeButton {
    display: none;
}

/* ipad */
@media (max-width: 850px) and (min-width: 700px){
.teWrapper, .teWrapper .swiper-container, ul.teUL li
{
 height: 256px !important;
 width: 768px !important;
}

}