


<?php foreach ($photos['items'] as $photo) { ?>
  <?php if ($photo['is_extra']) { ?>
    <div class="islip-photo-item col-xs-6 col-sm-3 col-md-3">
      <a href="<?php echo $photo['url']; ?>" target="_blank">
        <img src="<?php echo $photo['image_thumb']; ?>" alt="<?php echo $photo['shortcode']; ?>" style="padding:10%" class="img-responsive">
      </a>
    </div>
  <?php } else { ?>
         <div class="islip-photo-item col-xs-6 col-sm-3 col-md-3">
              <a href="index.php?route=product/insta_shop/modal&<?php echo http_build_query($photo); ?>" class="isl-photo-gallery">
                
                <img src="https://www.instagram.com/p/<?php echo $photo['shortcode']; ?>/media/?size=m" alt="<?php echo $photo['shortcode']; ?>"  width="480" style="height:280px;"  class="img-responsive">
              </a>
        </div>
 <?php } ?>
 <?php } ?> 
 
 
 <!--   <?php foreach ($photos['items'] as $photo) { ?>
  <?php if ($photo['is_extra']) { ?>
    <div class="islip-photo-item col-xs-6 col-sm-3 col-md-3">
      <a href="<?php echo $photo['url']; ?>" target="_blank">
        <img src="<?php echo $photo['image_thumb']; ?>" style="padding:10%" class="img-responsive">
      </a>
    </div>
  <?php } else { ?>
         <div class="islip-photo-item col-xs-6 col-sm-3 col-md-3">
              <a href="index.php?route=product/insta_shop/modal&<?php echo http_build_query($photo); ?>" class="isl-photo-gallery">
                <img src="<?php echo $photo['image_thumb']; ?>" class="img-responsive">
              </a>
        </div>
 <?php } ?>
 <?php } ?> -->



