.vermagemenu{
    position: relative;
	margin:0;
    z-index: 99;    
}
.over-menu { display: none; }
.close-wrap i,
.more-wrap i{
    margin-right:10px;
}
.close-wrap a,
.more-wrap a {
    padding: 15px 20px 14px 20px !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    color: #e44f4f !important;
	background:none !important;
}
.close-wrap a:hover,
.more-wrap a:hover { background:none !important; }
.title-vermegamenu {
	border-bottom: 3px solid #dc8c00;
    padding-left: 45px;
	display:none;
}
.vermagemenu h2{
	font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 8px 20px 0;
	height:48px;
	line-height:40px;
    margin: 0 0 -3px;
    border-left: 1px solid #fff;
	display:none;
}
.navleft-container{
    font-size:14px;
    width: 100%;
}
.common-home .navleft-container{
    display:block;
}
.pt_vmegamenu{margin:0px}
.pt_vmegamenu div.pt_ver_menu.active{background:none!important}
.pt_vmegamenu .parentMenu .parentMenu a span{font-size:15px!important}
#pt_vmegamenu{ 
	margin-bottom: 0;
	padding-bottom:0;
	padding-top:0;
}
.pt_vmegamenu .parentMenu a{
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 700;
    font-size: 14px;
    color: #252525;
    padding:13px 0;
    display: block;
	text-transform:uppercase;
}
.pt_vmegamenu .pt_ver_menu:last-child .parentMenu a { border:0; }
.pt_vmegamenu .parentMenu a img { display:none; }
.pt_vmegamenu .parentMenu a:hover,.pt_vmegamenu .pt_ver_menu.active .parentMenu a,
.pt_vmegamenu .pt_ver_menu.active .parentMenu a::before,
.pt_vmegamenu .pt_ver_menu.act .parentMenu a,
.pt_vmegamenu div.pt_ver_menu.act .parentMenu a::before,
.pt_vmegamenu div.pt_ver_menu.active .parentMenu a:hover::before {
    color:#14663b;
	transition:0s;
}
.pt_vmegamenu div.had-child .parentMenu a::before{
    content:"\f105";
	font-family: FontAwesome;
	font-size:14px;
    float: right;
    color: #252525;
	font-weight:normal;
}
.pt_vmegamenu div.had-child .parentMenu a:hover::before{
    color: #fff;
}
#pt_vmegamenu .pt_ver_menu, #pt_vmegamenu .pt_ver_menu .parentMenu{
	width:100%;
}
#pt_vmegamenu .pt_ver_menu {
	position:relative;
}
#pt_vmegamenu .pt_ver_menu:last-child { border:0; }
.pt_vmegamenu .pt_ver_menu .popup{
    border:none;
    padding: 0px;
    position: absolute;
    left: 100%;
	top:0;
    text-align: left;
    z-index: 3000 !important;
    background: none!important;
}
.pt_vmegamenu div.column {
    width: 200px !important;
}
.pt_vmegamenu .pt_ver_menu .popup .content-popup{
    background:#202020;
    float: left;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    padding:30px 30px 20px;
	margin-left:30px;
}
.pt_vmegamenu div.popup a.act{color:#333;}
.block1 .column{padding-bottom:0!important; margin-bottom:0px!important}
.block1 .column .itemMenu a.level0{
    font-weight: 700;
	color:#fff;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    word-wrap: break-word;
	
}
.block1 .column .itemMenu a.level0.actParent{
    
}
.block1 .column .itemMenu a.level0.actParent span{
	width:100%;
	display: inline-block;
}
.block1 .column .itemSubMenu a.level0{background:none}
.pt_vmegamenu div.column{
    border:none!important;
    margin:0 20px 0 0!important;
    padding:0px!important;
    float:left;
}
.pt_vmegamenu div.column.last{
    margin-right:0px!important;
}
.pt_vmegamenu div.column.blockright{
    width:150px;
    text-align: center;
    margin-right:0!important;
}
.popup .block1{
    float:left;
}
.pt_vmegamenu div.itemSubMenu {
    margin:15px 0 0!important;
}
.block1 .itemSubMenu .itemMenu a.itemMenuName {
	color: #929292;
    font-weight: 600;
    padding: 8px 0 6px;
    font-size: 12px;
	line-height:25px;
    text-transform: uppercase;
    border-bottom: 1px solid #303030;
    font-style: italic;
	display:inline-block;
	width:100%;
}
.block1 .itemSubMenu .itemMenu a.itemMenuName:hover{
    color:#14663b !important;
    
    
}
.block1 .itemSubMenu .itemMenu a.itemMenuName:last-child {
	border:0;
}
a.itemMenuName:hover{
    color:#14663b !important;
    
}
.navleft-container .thumbnail_image{
    background: #797979;
    border-radius: 100%;
    margin-right: 10px;
}