.table>tbody>tr>td {
  vertical-align: middle;
}

.table tr:first-child td {
  border-top: none;
}

.required {
  color: red;	
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0px;
}

#main_settings_sub_tab .input-group {
  max-width: 137px;
}

.messageSubject {
  margin-bottom: 20px;
}

.list tbody td a {
  text-decoration: none;
}

.tab-navigation {
  position: relative;
}

.tab-navigation .nav {
  margin-bottom: 20px;
}

.tab-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.center {
  text-align: center;
}

.registeredDomains {
  padding: 0;
  margin: 0;
  list-style: none;
}

.licenseAlerts {
  margin-top: 10px;
}

/* iModules */

.iModuleContent .box .notActivatedContent {
  padding: 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-height: 300px;
  overflow: auto;
  text-align: center;
  padding-top: 80px;
}

.iModuleContent .iModuleActivateButton {
  background: #069;
  padding: 16px 28px;
  color: white;
  border: 4px solid #fff;
  outline: 4px solid #ccc;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.iModuleContent .iModuleActivateButton:hover {
  background: #06d;
}

/* ADMIN PANEL STYLES - END */

.colorsLi .colorPreview {
  width: 18px;
  height: 18px;
  background: #ccc;
  border: 1px solid #aaa;
}

.colorsLi tr th {
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
}

.colorsLi tr td {
  text-align: left;
}

/*Support tab*/
.panel-body .notLicensedTable, .panel-body .licensedTable {
  table-layout: fixed;
}

.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
  margin-bottom: 15px;
}

.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-body .notLicensedTable tr > td {
  padding: 10px 0;
}

.panel-body .box-content {
  padding: 10px;
  border: 1px solid #DBDBDB;
  min-height: 300px;
  overflow: auto;
}

.notLicensedTable .small-link {
  font-size: 12px;
}

.input-group[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.notificationMessageTabs {
  margin: 20px 0;
}

input[type='text'], input[type='password'] {
  padding: 6px 12px;
}

.form-control.customCss {
  height: 80px;
  min-height: 80px;
}

.storeSwitcherWidget {
  position: absolute;
  right: 15px;
  top: 8px;
}

.storeSwitcherWidget .form-group {
  margin-bottom: 0;
}

.storeSwitcherWidget .form-group.open .dropdown-menu {
  right: 0;
  left: auto;
}

.table-header {
	background: #EFEFEF;
}

.OrderReviews .review-list {
  width: 200px;
  float: left;
  border: none;
  border-right: 1px solid #DBDBDB;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 200px;
}
.OrderReviews .review-list + .tab-content {
  overflow: auto;
}
.OrderReviews .review-list > li {
  position: relative;
  display: block;
  width: 101%;
  margin: 0 0 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.OrderReviews .review-list > li .removeReviewMail {
  position: absolute;
  top: 50%;
  right: -5px;
  left: auto;
  margin-top: -10px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.OrderReviews .review-list > li.active {
  z-index: 2;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.3);
}
.OrderReviews .review-list > li.active a {
  color: #428bca !important;
  border-color: #DBDBDB transparent #DBDBDB #DBDBDB;
  margin: 0;
}
.OrderReviews .review-list > li > a {
  margin: 0 1px 0 0;
  border-right: none;
  color: #333333 !important;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.OrderReviews .review-list > li > a.addNewReviewMail {
  cursor: pointer;
  font-size: 14px;
  color: #428bca !important;
}
.OrderReviews .review-list > li > a:hover,
.OrderReviews .review-list > li > a:focus {
  border-color: #cecece transparent #cecece #cecece;
}
.OrderReviews .review-list > li:hover .removeReviewMail {
  color: #C00;
  cursor: pointer;
  right: 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.OrderReviews .review-settings .empty {
  font-size: 14px;
  margin-top: 10px;
  position: absolute;
}
.OrderReviews .review-settings .tab-pane {
  background: #fff;
  position: relative;
}
.nprogress-busy {
  overflow: hidden;
}
#nprogress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  z-index: 1030;
  cursor: wait;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  top: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

a.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}

a:visited.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}