/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {
	margin: 0; 
	padding: 0;
}
.oc-banner7-container .flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden; 
	position: relative; 
} 
/* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {
	display: block;
}
.oc-banner7-container .flex-pauseplay span {
text-transform: capitalize;
}

/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0;
	height: 0;
} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {
	margin: 0 0 0px 0; 
	position: relative; 
	zoom: 1;
}
.oc-banner7-container .flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.oc-banner7-container .loading .flex-viewport {
	max-height: 300px;
}
.oc-banner7-container .flexslider .slides {zoom: 1;}

.oc-banner7-container .carousel li {
	margin-right: 5px
}

/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {
	width: 100%; 
	position: absolute; 
	bottom: 25px; 
	text-align: center;
}
.oc-banner7-container .flex-control-nav li { 
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	display: inline; 
}
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #aaa; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	-o-border-radius: 100%; 
	border-radius: 100%; 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	z-index: 9; 
}
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
    height: 10px;
    line-height: 10px;
    width: 10px;
}
.oc-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    padding: 0 30px;
    text-align: left;
}
.nivo-controlNav a {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    line-height: 8px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 8px;
}
.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 8;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
@keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 5px;
	animation: ease-in-out 0s normal none 1 running timeloading;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content {
	height: 100%;
	position: relative;
}
.banner7-content.slider-3 .text-content,
.banner7-content.slider-1 .text-content{
	position: absolute;
	top: 50%;
	width: 35%;
	left: 50%;
	padding: 0;
	margin-left:30px;
	z-index: 2;
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	transform: translateY(-60%);
}
.banner7-content.slider-2 .text-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width:30%;
	margin-left:-475px;
	margin-top:-130px;
	text-align:left;
	padding: 0;
	z-index: 2;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
#content .banner7-content .title1 {
	font-size:36px;
	text-transform: uppercase;
	color: #252525;
	font-weight: 700;
	letter-spacing:2px;
	margin: 0;
	line-height:1.2;
}
#content .banner7-content.slider-1 .title1 {
	font-size:36px;
	color:#252525;
}
#content .banner7-content .sub-title {
	margin: 20px 0 0;
	font-size:28px;
	color:#252527;
	text-transform:uppercase;
	font-weight:400;
	letter-spacing:2px;
}
.banner7-content .banner7-des {
	text-transform: inherit;
	color: #252525;
	font-size:26px;
	font-weight:400;
	line-height:1;
	display:none;
}
.banner7-content.slider-1 .banner7-des {
	font-size:20px;
	margin:20px 0 0;
}
.banner7-content.slider-1 .banner7-des h1{
	color: #444444;
	font-size: 50px;
	margin: 0;
	font-weight: 700;
}
.banner7-content.slider-2 .banner7-des h1{
	color: #f8484a;
	font-size: 50px;
	margin: 0;
	font-weight: 700;
}
.banner7-content.slider-1 .banner7-des h2{
	color: #f8484a;
	font-size: 90px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 6px;
}
.banner7-content.slider-2 .banner7-des h2{
	color: #444444;
	font-size: 90px;
	font-weight: 700;
	margin: 5px 0 0;
}
.banner7-content.slider-1 .banner7-des p span{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.banner7-readmore{
	position: relative;
	z-index: 10;
	margin:35px 0 0;
}
.banner7-readmore a:hover{
	background: #333;
}
.banner7-readmore a {
	background:#252525;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	line-height: 40px;
	padding:0 20px;
	border:0;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.banner7-readmore a:hover {
	background:#ed9153;
}
.banner7-content .title1{ 
	animation: fadeInDown 1000ms ease-in-out; 
	-webkit-animation: fadeInDown 1000ms ease-in-out;
	-moz-animation: fadeInDown 1000ms ease-in-out;
}
.banner7-content .sub-title  {
	animation: fadeInRight 1300ms ease-in-out; 
	-webkit-animation: fadeInRight 1300ms ease-in-out;
	-moz-animation: fadeInRight 1300ms ease-in-out;
}
.banner7-content.slider-2 .sub-title {
	animation: fadeInLeft 1300ms ease-in-out; 
	-webkit-animation: fadeInLeft 1300ms ease-in-out;
	-moz-animation: fadeInLeft 1300ms ease-in-out;
}
.banner7-content .banner7-des {
	animation: fadeInLeft 1600ms ease-in-out; 
	-webkit-animation: fadeInLeft 1600ms ease-in-out;
	-moz-animation: fadeInLeft 1600ms ease-in-out;
}
.banner7-content .banner7-readmore{
	animation: slideInUp 1800ms linear alternate; 
	-webkit-animation: slideInUp 1800ms linear alternate;
	-moz-animation: slideInUp 1800ms linear alternate;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:8;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 8;
}
.nivo-caption .container{
	
}
.nivo-caption p {
	padding:5px;
	margin:0;
}

.nivo-html-caption {
    display:none;
}
/** ocslideshow **/
.banner7{
  position: relative;
  z-index: 0;
  margin:30px 0 0;
}
.nivo-directionNav i {
	font-size: 25px;
	display: block;
	line-height: 55px;
}
.oc-banner7-container .flex-direction-nav a,
.nivo-directionNav a {
	width: 55px; 
	height: 55px;
	margin: -30px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	font-size: 0;
	z-index: 9;  
	background: rgba(255,255,255,0.1);
	border-radius: 100%;
	line-height: 55px;
	text-align: center;
	color: #fff;
}
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .nivo-directionNav a.nivo-nextNav { 
	opacity: 0; 
	transition: all 0.3s ease-out; 
	right: 20px; 
}
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .nivo-directionNav a.nivo-prevNav { 
	left: 20px;  
	opacity: 0; 
	transition: all 0.3s ease-out;
}
.oc-banner7-container:hover .nivo-directionNav a{  
	opacity:1;
}
.oc-banner7-container .flexslider .flex-next:hover, 
.oc-banner7-container .nivo-directionNav a.nivo-nextNav:hover,
.oc-banner7-container .flexslider .flex-prev:hover, 
.oc-banner7-container .nivo-directionNav a.nivo-prevNav:hover { 
	background: #f0ce16 ;
}
.oc-banner7-container .flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default; 
}
.oc-banner7-container .nivo-controlNav a {
	border: none;
	display: inline-block;
	height: 15px;
	margin: 0 3px;
	font-size: 0;
	width: 15px; 
	cursor: pointer;
	position: relative;
	z-index: 9;
	border:2px solid #fff;
	background: #e7e7e7;
	line-height: 10px;
	box-shadow: none;
	border-radius:0;
}
.oc-banner7-container .nivo-controlNav a.active,
.oc-banner7-container .nivo-controlNav a:hover {
	background: #ed9153;
}
/** /ocslideshow **/
/* responsive */
@media(max-width:1199px){
	.banner7-content.slider-2 .text-content { margin-left:-390px; }
	#content .banner7-content .title1 { font-size:14px; }
	#content .banner7-content .sub-title { font-size:15px; margin:10px 0 0; }
	.banner7-readmore { margin:15px 0 0; }
	.banner7-readmore a { height:23px; line-height:25px; padding:0 10px; font-size:10px; }
	#content .banner7-content.slider-1 .title1 { font-size:15px; }
}
@media(max-width:992px){
	.banner7-content.slider-2 .text-content { margin-left:-235px; margin-top:-65px; }
}
@media(max-width:767px){
	.banner7 { margin:0; }
}
@media(max-width:600px){
	.banner7-content.slider-2 .text-content { margin-left:-160px; }
	#content .banner7-content.slider-1 .title1 { font-size:8px; }
	#content .banner7-content .sub-title { font-size:7px; margin:5px 0 0; }
	.banner7-readmore { margin:5px 0 0; }
	.banner7-readmore a { height: 18px; line-height: 20px; padding: 0 10px; font-size: 7px; }
	#content .banner7-content .title1 { font-size:7px; }
}
@media(max-width:400px){
	.banner7-content.slider-2 .text-content { margin-left:-100px; margin-top:-35px; }
}