.joseanmatias-preco-cupom-list{
    text-align: center;
    /*background:#333;*/
    padding:5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.joseanmatias-preco-cupom-list .price-new{
    font-size: 20px;
}
.joseanmatias-preco-cupom-list .coupon-code{
    background:#fff;
    color:#333;
    padding-top:6px;
    padding-bottom: 6px;
    font-size: 16px;    
}
.joseanmatias-preco-cupom-page{
    text-align: center;
    background:#333;
    color:#fff;
    padding:20px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.joseanmatias-preco-cupom-page .price-new{
    font-size: 20px;
}
.joseanmatias-preco-cupom-page .coupon-code{
    background:#fff;
    color:#333;
    padding-top:6px;
    padding-bottom: 6px;
    font-size: 16px;
}