.alert-jpn {
	border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px;
}

.alert-jpn > [data-notify="dismiss"] {
	top: 0px !important;
	right: 4px !important;
}

.alert-jpn > [data-notify="icon"] {
	float: left;
	margin-right: 12px;
	border: 1px solid #DDD; 
}

.alert-jpn > [data-notify="title"] {
	display: block;
	font-size: 10px;
}

.alert-jpn > [data-notify="message"] {
	display: block;
	margin-right: 10px;
	line-height: 17px;
}

.alert-jpn > .progress {
	height: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
}

.alert-jpn.alert-custom {
	background: #f1f2f0;
	border-color: #DDD;
	color: #666;
}