/* options style */

#product .checkbox, #product .radio { 
	display: inline-block;
	margin: 0px 2px 5px 0px;
}
#product .checkbox input, #product .radio input, #product .radio label > div, #product .checkbox label > div { 
	display: none !important;
}
#product .checkbox label span, #product .radio label span {
	display: block;
	padding: 6px 12px;
}
#product .checkbox label, #product .radio label {
	display: block;
	background-color: #FFFFFF;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	color: #222222;
	padding: 0;
	text-align: center;
}
#product .radio label img {
	border: 2px solid #FFFFFF;
	margin: 2px;
}
#product .checkbox label img {
	border: none;
	padding: 4px 0 0 0;
}
#product .checked-option {
	background-color: #000000 !important;
	color: #FFFFFF !important;
	border: 1px solid #000000 !important;
}
