#shipway_track_wrapper{width:60%; margin: 0 auto;}
#content table{width:100%}
td{font-family: sans-serif!important;}
fieldset legend + table tbody tr td input{width: 99%; padding: 4px;}
.onj_content{min-height:500px;}
fieldset{border: 1px solid #2eade0 !important;padding: 20px!important; margin :0 auto !important;}
legend{border-bottom:none!important;width: 123px !important; margin-bottom:0!important}
#shipway_track_wrapper .track_table{border-collapse : collapse;margin: 20px auto;}
#shipway_track_wrapper .track_table th{padding:5px; text-align:center; color:#ffffff; font-size: 14px;}
#shipway_track_wrapper .track_table td{text-align:center;}
#shipway_track_wrapper .track_table tr.head{background-color:#2386AD;}
#shipway_track_wrapper .track_table .rhead{border:1px solid #2eade0; padding:5px;}
.shp_table{width:500px;}

@media (max-width:767px){	
	fieldset{padding:5px!important;}
	#shipway_track_wrapper{width:98%;}
	.onj_content{min-height:200px;}
}