<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
		<!--[if gte mso 15]>
		<xml>
			<o:OfficeDocumentSettings>
			<o:AllowPNG/>
			<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
	<![endif]-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
	<style type="text/css">
		p{
			margin:10px 0;
			padding:0;
		}
		table{
			border-collapse:collapse;
		}
		h1,h2,h3,h4,h5,h6{
			display:block;
			margin:0;
			padding:0;
		}
		img,a img{
			border:0;
			height:auto;
			outline:none;
			text-decoration:none;
		}
		body,#bodyTable,#bodyCell{
			height:100%;
			margin:0;
			padding:0;
			width:100%;
		}
		.mcnPreviewText{
			display:none !important;
		}
		#outlook a{
			padding:0;
		}
		img{
			-ms-interpolation-mode:bicubic;
		}
		table{
			mso-table-lspace:0pt;
			mso-table-rspace:0pt;
		}
		.ReadMsgBody{
			width:100%;
		}
		.ExternalClass{
			width:100%;
		}
		p,a,li,td,blockquote{
			mso-line-height-rule:exactly;
		}
		a[href^=tel],a[href^=sms]{
			color:inherit;
			cursor:default;
			text-decoration:none;
		}
		p,a,li,td,body,table,blockquote{
			-ms-text-size-adjust:100%;
			-webkit-text-size-adjust:100%;
		}
		.ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
			line-height:100%;
		}
		a[x-apple-data-detectors]{
			color:inherit !important;
			text-decoration:none !important;
			font-size:inherit !important;
			font-family:inherit !important;
			font-weight:inherit !important;
			line-height:inherit !important;
		}
		#bodyCell{
			padding:10px;
		}
		.templateContainer{
			max-width:600px !important;
		}
		a.mcnButton{
			display:block;
		}
		.mcnImage,.mcnRetinaImage{
			vertical-align:bottom;
		}
		.mcnTextContent{
			word-break:break-word;
		}
		.mcnTextContent img{
			height:auto !important;
		}
		.mcnDividerBlock{
			table-layout:fixed !important;
		}
	/*
	@tab Page
	@section Background Style
	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	*/
	body,#bodyTable{
		/*@editable*/background-color:#FFFFFF;
	}
	/*
	@tab Page
	@section Background Style
	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	*/
	#bodyCell{
		/*@editable*/border-top:0;
	}
	/*
	@tab Page
	@section Email Border
	@tip Set the border for your email.
	*/
	.templateContainer{
		/*@editable*/border:5px solid #FFFFFF;
	}
	/*
	@tab Page
	@section Heading 1
	@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
	@style heading 1
	*/
	h1{
		/*@editable*/color:#B2B2B2;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:30px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/letter-spacing:normal;
		/*@editable*/text-align:left;
	}
	/*
	@tab Page
	@section Heading 2
	@tip Set the styling for all second-level headings in your emails.
	@style heading 2
	*/
	h2{
		/*@editable*/color:#303030;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:22px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:125%;
		/*@editable*/letter-spacing:normal;
		/*@editable*/text-align:left;
	}
	/*
	@tab Page
	@section Heading 3
	@tip Set the styling for all third-level headings in your emails.
	@style heading 3
	*/
	h3{
		/*@editable*/color:#303030;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:16px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:125%;
		/*@editable*/letter-spacing:normal;
		/*@editable*/text-align:left;
	}
	/*
	@tab Page
	@section Heading 4
	@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
	@style heading 4
	*/
	h4{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:14px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:125%;
		/*@editable*/letter-spacing:normal;
		/*@editable*/text-align:left;
	}
	#templateUpperHeader{
		padding-top:30px;
		padding-right:15px;
	}
	/*
	@tab Header
	@section Header Style
	@tip Set the background color and borders for your email's header area.
	*/
	.templateHeader{
		/*@editable*/background-color:#EFEFEF;
		border-top:0;
		border-bottom:0;
		padding-bottom:10px;
	}
	/*
	@tab Header
	@section Header Text
	@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
	*/
	.templateHeader .mcnTextContent,.templateHeader .mcnTextContent p{
		/*@editable*/color:#202020;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:16px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
	/*
	@tab Header
	@section Header Link
	@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	*/
	.templateHeader .mcnTextContent a,.templateHeader .mcnTextContent p a{
		/*@editable*/color:#2BAADF;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	#templateSidebar{
		border-top:0;
		border-bottom:0;
		padding-top:9px;
		padding-bottom:9px;
	}
	/*
	@tab Sidebar
	@section Calendar Style
	@tip Set the background color and borders for your email's calendar.
	*/
	#calendarContainer{
		/*@editable*/background-color:#FFFFFF;
		/*@editable*/border:5px solid #FFFFFF;
	}
	/*
	@tab Sidebar
	@section Calendar Month Text
	@tip The styling for your email's calendar month text. Make it a color and size that is easy to read.
	*/
	#monthContainer{
		/*@editable*/background-color:#EFEFEF;
		/*@editable*/color:#303030;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:14px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:150%;
	}
	/*
	@tab Sidebar
	@section Calendar Day Text
	@tip The styling for your email's calendar day text. Make it a color and size that is easy to read.
	*/
	#dayContainer{
		/*@editable*/background-color:#FFFFFF;
		/*@editable*/color:#303030;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:72px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
	}
	/*
	@tab Sidebar
	@section Sidebar Text
	@tip Set the styling for your email's sidebar text. Choose a size and color that is easy to read.
	*/
	#templateSidebar .mcnTextContent,#templateSidebar .mcnTextContent p{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:12px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
	/*
	@tab Sidebar
	@section Sidebar Link
	@tip Set the styling for your email's sidebar links. Choose a color that helps them stand out from your text.
	*/
	#templateSidebar .mcnTextContent a,#templateSidebar .mcnTextContent p a{
		/*@editable*/color:#6ACC3B;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	/*
	@tab Body
	@section Body Style
	@tip Set the background color and borders for your email's body.
	*/
	#templateBody,#templateColumns{
		/*@editable*/background-color:#EFEFEF;
		/*@editable*/border-top:0;
		/*@editable*/border-bottom:0;
		padding-top:0;
		padding-bottom:9px;
	}
	/*
	@tab Body
	@section Body Text
	@tip Set the styling for your email's body text. Choose a size and color that is easy to read.
	*/
	#templateBody .mcnTextContent,#templateBody .mcnTextContent p{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:16px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
	/*
	@tab Body
	@section Body Link
	@tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
	*/
	#templateBody .mcnTextContent a,#templateBody .mcnTextContent p a{
		/*@editable*/color:#6ACC3B;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	/*
	@tab Lower Body
	@section Lower Body Style
	@tip Set the background color and borders for your email's lower body.
	*/
	#templateLowerBody{
		/*@editable*/background-color:#EFEFEF;
		/*@editable*/border-top:0;
		/*@editable*/border-bottom:0;
		padding-top:0;
		padding-bottom:0;
	}
	/*
	@tab Lower Body
	@section Lower Body Text
	@tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
	*/
	#templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:16px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
	/*
	@tab Lower Body
	@section Lower Body Link
	@tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
	*/
	#templateLowerBody .mcnTextContent a,#templateLowerBody .mcnTextContent p a{
		/*@editable*/color:#6ACC3B;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	/*
	@tab Footer
	@section Footer Style
	@tip Set the background color and borders for your email's footer area.
	*/
	#templateFooter{
		/*@editable*/background-color:#EFEFEF;
		/*@editable*/border-top:5px solid #FFFFFF;
		/*@editable*/border-bottom:0;
		padding-top:9px;
		padding-bottom:9px;
	}
	/*
	@tab Footer
	@section Footer Text
	@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
	*/
	#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:12px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:center;
	}
	/*
	@tab Footer
	@section Footer Link
	@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
	*/
	#templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
		/*@editable*/color:#6ACC3B;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	@media only screen and (min-width:768px){
		.templateContainer{
			width:600px !important;
		}

		}	@media only screen and (max-width: 480px){
			body,table,td,p,a,li,blockquote{
				-webkit-text-size-adjust:none !important;
			}

			}	@media only screen and (max-width: 480px){
				body{
					width:100% !important;
					min-width:100% !important;
				}

				}	@media only screen and (max-width: 480px){
					#bodyCell{
						padding-top:10px !important;
					}

					}	@media only screen and (max-width: 480px){
						#templateSidebar,#templateBody{
							max-width:100% !important;
							width:100% !important;
						}

						}	@media only screen and (max-width: 480px){
							.mcnRetinaImage{
								max-width:100% !important;
							}

							}	@media only screen and (max-width: 480px){
								.mcnImage{
									width:100% !important;
								}

								}	@media only screen and (max-width: 480px){
									.mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
										max-width:100% !important;
										width:100% !important;
									}

									}	@media only screen and (max-width: 480px){
										.mcnBoxedTextContentContainer{
											min-width:100% !important;
										}

										}	@media only screen and (max-width: 480px){
											.mcnImageGroupContent{
												padding:9px !important;
											}

											}	@media only screen and (max-width: 480px){
												.mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
													padding-top:9px !important;
												}

												}	@media only screen and (max-width: 480px){
													.mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
														padding-top:18px !important;
													}

													}	@media only screen and (max-width: 480px){
														.mcnImageCardBottomImageContent{
															padding-bottom:9px !important;
														}

														}	@media only screen and (max-width: 480px){
															.mcnImageGroupBlockInner{
																padding-top:0 !important;
																padding-bottom:0 !important;
															}

															}	@media only screen and (max-width: 480px){
																.mcnImageGroupBlockOuter{
																	padding-top:9px !important;
																	padding-bottom:9px !important;
																}

																}	@media only screen and (max-width: 480px){
																	.mcnTextContent,.mcnBoxedTextContentColumn{
																		padding-right:18px !important;
																		padding-left:18px !important;
																	}

																	}	@media only screen and (max-width: 480px){
																		.mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
																			padding-right:18px !important;
																			padding-bottom:0 !important;
																			padding-left:18px !important;
																		}

																		}	@media only screen and (max-width: 480px){
																			.mcpreview-image-uploader{
																				display:none !important;
																				width:100% !important;
																			}

																			}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Heading 1
	@tip Make the first-level headings larger in size for better readability on small screens.
	*/
	h1{
		/*@editable*/font-size:22px !important;
		/*@editable*/line-height:125% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Heading 2
	@tip Make the second-level headings larger in size for better readability on small screens.
	*/
	h2{
		/*@editable*/font-size:20px !important;
		/*@editable*/line-height:125% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Heading 3
	@tip Make the third-level headings larger in size for better readability on small screens.
	*/
	h3{
		/*@editable*/font-size:18px !important;
		/*@editable*/line-height:125% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Heading 4
	@tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
	h4{
		/*@editable*/font-size:16px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Boxed Text
	@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	.mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
		/*@editable*/font-size:14px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Header Text
	@tip Make the header text larger in size for better readability on small screens.
	*/
	.templateHeader .mcnTextContent,.templateHeader .mcnTextContent p{
		/*@editable*/font-size:16px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Sidebar Text
	@tip Make the sidebar text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	#templateSidebar .mcnTextContent,#templateSidebar .mcnTextContent p{
		/*@editable*/font-size:16px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Body Text
	@tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	#templateBody .mcnTextContent,#templateBody .mcnTextContent p{
		/*@editable*/font-size:16px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section BLower ody Text
	@tip Make the lower body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
	#templateLowerBody .mcnTextContent,#templateLowerBody .mcnTextContent p{
		/*@editable*/font-size:16px !important;
		/*@editable*/line-height:150% !important;
	}

	}	@media only screen and (max-width: 480px){
	/*
	@tab Mobile Styles
	@section Footer Text
	@tip Make the footer content text larger in size for better readability on small screens.
	*/
	#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
		/*@editable*/font-size:14px !important;
		/*@editable*/line-height:150% !important;
	}

}</style></head>
<body>
	<center>
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
			<tr>
				<td align="center" valign="top" id="bodyCell">
					<!-- BEGIN TEMPLATE // -->
						<!--[if gte mso 9]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
						<tr>
						<td align="center" valign="top" width="600" style="width:600px;">
						<![endif]-->
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
							<tr>
								<td valign="top" id="templateUpperHeader" class="templateHeader">
									<table align="left" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="middle">
												<img src="https://cdn-images.mailchimp.com/template_images/gallery/47662b23-df38-45d4-8005-9b2f50193f4b.png" height="30" width="15" style="boder:0; display:block;">
											</td>
											<td align="left" valign="middle" width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
				
				<!--[if mso]>
				<td valign="top" width="560" style="width:560px;">
				<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;position: relative;text-align: center;left: 23%;" width="100%" class="mcnTextContentContainer">
					<tbody><tr>
						
						<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
							
							<h1 style="text-align: center;"><span style="font-size:25px"><font color="#000000"><strong>Did you just leave your True Cash unused?</strong></font></span></h1>

						</td>
					</tr>
				</tbody></table>
				<!--[if mso]>
				</td>
			<![endif]-->
			
				<!--[if mso]>
				</tr>
				</table>
			<![endif]-->
		</td>
	</tr>
</tbody>
</table></td>
</tr>
</table>
</td>
</tr>
<tr>
	<td valign="top" class="templateHeader">
		<table align="left" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left" valign="middle" width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
					<tbody class="mcnImageBlockOuter">
						<tr>
							<td valign="top" style="padding:0px" class="mcnImageBlockInner">
								<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
									<tbody><tr>
										<td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
											
											<a href="https://www.true-elements.com/our-products?utm_source=email&utm_medium=tesystem&utm_campaign=tc-expiry" title="" class="" target="_blank">
												<img align="center" alt="" src="https://mcusercontent.com/f2a297baccac31d4574488d02/images/e4e36553-8f05-40fc-860c-8f3e485449bf.jpg" width="591.2727661132812" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
											</a>
											
										</td>
									</tr>
								</tbody></table>
							</td>
						</tr>
					</tbody>
				</table></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td valign="top" id="templateColumns">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
			<tr>
				<td valign="top">
												<!--[if gte mso 9]>
												<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
												<tr>
												<td align="center" valign="top" width="400" style="width:400px;">
												<![endif]-->
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="380" id="templateBody">
													<tr>
														<td><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
															<tbody class="mcnTextBlockOuter">
																<tr>
																	<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
				
				<!--[if mso]>
				<td valign="top" width="379" style="width:379px;">
				<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody><tr>
						
						<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
							
							<div style="text-align: justify;"><span style="color:#000000"><font face="roboto, helvetica neue, helvetica, arial, sans-serif">Did you know? You have Rs <b><?php echo $mail_data['balance']; ?>/-</b> True Cash left in your wallet.<br>
								<br>
							Why leave it on the table and let it go waste when you can fully use it to shop your favourite True Elements Breakfast Cereals and Snacks?</font><br>
							<br>
						Hurry Up Now, because your True Cash worth Rs <b><?php echo $mail_data['expiring']; ?>/-</b> expires in 3 Days!</span>
						<br/><br/><br/><br/>
						<span style="color:#000000; font-size:20px;">
						Use <b>TRUE10</b> for additional 10% off.</span></div>

					</td>
				</tr>
			</tbody></table>
				<!--[if mso]>
				</td>
			<![endif]-->
			
				<!--[if mso]>
				</tr>
				</table>
			<![endif]-->
		</td>
	</tr>
</tbody>
</table></td>
</tr>
</table>
												<!--[if gte mso 9]>
												</td>
												<td align="center"  valign="top" width="200" style="width:200px;">
												<![endif]-->
											<?php 
											$NewDate=Date('Y-m-d', strtotime('+3 days'));
											$timestamp = strtotime($NewDate);
											
										
										?>
										
										
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="186" id="templateSidebar">
													<tr>
														<td align="center" valign="top" style="padding-top:9px; padding-bottom:9px;">
															<table border="0" cellpadding="5" cellspacing="5" width="150" id="calendarContainer">
																<tr>
																	<td align="center" bgcolor="#EFEFEF" valign="top" id="monthContainer">
																		<div mc:edit="month"><span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif"><b><?php echo date("F Y", $timestamp); ?></b></span></div>
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top" id="dayContainer">
																		<div mc:edit="day"><span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif; font-size: 30px;"><b><?php echo date("d", $timestamp); ?></b></span></div>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
															<tbody class="mcnTextBlockOuter">
																<tr>
																	<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
				
				<!--[if mso]>
				<td valign="top" width="185" style="width:185px;">
				<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody><tr>
						
						<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
							
							<span style="color:#000000"><span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif">3 days left to redeem your unused True Cash</span></span>
						</td>
					</tr>
				</tbody></table>
				<!--[if mso]>
				</td>
			<![endif]-->
			
				<!--[if mso]>
				</tr>
				</table>
			<![endif]-->
		</td>
	</tr>
</tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
	<tbody class="mcnButtonBlockOuter">
		<tr>
			<td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 5px solid #FFFFFF;border-radius: 13px;background-color: #DA311B;">
					<tbody>
						<tr>
							<td align="center" valign="middle" class="mcnButtonContent" style="font-family: Helvetica; font-size: 14px; padding: 15px;">
								<a class="mcnButton " title="REDEEM NOW" href="https://www.true-elements.com/our-products?utm_source=email&utm_medium=tesystem&utm_campaign=tc-expiry" target="_self" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">REDEEM NOW</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table></td>
</tr>
</table>
												<!--[if gte mso 9]>
												</td>
												</tr>
												</table>
											<![endif]-->
										</td>
										<td align="right" valign="top" style="padding-top:18px;">
											<img src="https://cdn-images.mailchimp.com/template_images/gallery/03c9e5d8-4a2f-471e-b646-37327134c2b0.png" height="30" width="15" style="boder:0; display:block;">
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top" id="templateLowerBody">
								<table align="left" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td align="left" valign="middle">
											<img src="https://cdn-images.mailchimp.com/template_images/gallery/47662b23-df38-45d4-8005-9b2f50193f4b.png" height="30" width="15" style="boder:0; display:block;">
										</td>
										<td align="left" valign="middle" width="100%"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top" id="templateFooter"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
								<tbody class="mcnTextBlockOuter">
									<tr>
										<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
				
				<!--[if mso]>
				<td valign="top" width="595" style="width:595px;">
				<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody><tr>
						
						<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
							
							<span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif"><strong>Our mailing address is:</strong><br>
								care@true-elements.com<br>
								<br>
								<strong>True Elements</strong><br>
								What you see above is part of our world that is Made of Truth – Not a world full of lies, jargon or False Promises. Where what is written on the pack is what's in it, and vice versa.<br>
							Food ranging from ‘Nashta’ to ‘Tiffin’, from Breakfast to Snacks.</span>
						</td>
					</tr>
				</tbody></table>
				<!--[if mso]>
				</td>
			<![endif]-->
			
				<!--[if mso]>
				</tr>
				</table>
			<![endif]-->
		</td>
	</tr>
</tbody>
</table></td>
</tr>
</table>
						<!--[if gte mso 9]>
						</td>
						</tr>
						</table>
					<![endif]-->
					<!-- // END TEMPLATE -->
				</td>
			</tr>
		</table>
	</center>
</body>
</html>