<style>
    .old-price{
        color:#000;
    }
    .product-name {
        min-height: 75px!important;
    }
    .options {
        min-height: 80px;
    }
    
    .product-options {
        margin-top: 10px;
        text-align: center;
        float: left;
        background: #fff!important;
    }
    .button-cart {
        float: right!important;
        font-size: 13px!important;
        padding: 8px 10px!important;
    }
    .button-personalize {
        font-size: 13px!important;
        padding: 8px 10px!important;
        float: right !important;
    }
    .price-label {
        padding: 8px 0px !important;
        min-height: 37px;
        width: 100% !important;
    }
    .quantity {
        height: 35px!important;
        width: 60%!important;
        text-align: center;
        background: #fff!important;
        border: 1px solid #f2f2f2 !important;
        float: left;
    }
    .minus-button, .plus-button {
        font-weight: 700;
        text-align: center;
        height: 35px!important;
        width: 20%!important;
        font-size: 14px!important;
        padding: 0px!important;
        background: #fff!important;
        border: 1px solid #f2f2f2!important;
        float: left;
    }
    
    .minus-button:hover, .plus-button:hover {
        background: #f49a25!important;
        color: #fff!important;
        border: 1px solid #f2f2f2!important;
    }
    
    .minus-button {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }
    
    .plus-button {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    
    @media(max-width: 1000px) {
        .button-cart, .button-personalize, .oos {
            padding: 7px 10px !important;
            font-size: 14px!important;
            margin-bottom: 15px!important;
        }
        .radio label span {
            font-size: 12px!important;
        }
        .des-container .options .radio {
            margin: 0px 0px 5px -2px!important;
        }
        /*.options {
            min-height: 55px!important;
        }*/
        .category-products {
            padding: 0!important;
        }
        .product-container {
            padding: 7px!important;
        }
        .image1, .image2 {
            padding: 5%!important;
        }
    }
    
    @media(min-width: 1000px) {
        .des-container {
            height: 200px;
        }
    }
    .oos {
        background: #777!important;
        border-radius: 4px!important;
        float: right!important;
        font-size: 13px!important;
        padding: 8px 10px!important;
    }
    .oos:hover {
        cursor: not-allowed!important;
    }
    .button-cart:focus, .button-personalize:focus {
        color: #fff!important;
    }
   
    .bestseller-products-slider, .order-history-carousel {
        padding-bottom: 3%;
    }
    
    .image1, .image2 {
        padding: 14%;
    }
    .des-container .options .radio input {
        display: none !important;
    }
    .des-container .options .radio {
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }
    .des-container .options label {
        display: block;
        background-color: #fff;
        border: 0.5px solid #000;
        border-radius: 3px;
        padding: 0;
        text-align: center;
        min-width: 52px;
    }
    .des-container .options .checked-option {
        background-color: #000 !important;
        color: #fff !important;
        border: 1px solid #000!important;
    }
    .radio label span {
        display: block;
        font-size: 13px;
    }
    label.disabled {
        background: #ddd!important;
        cursor: not-allowed!important;
    }
    .price, .coupon {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .coupon {
        min-height: 20px!important;
        text-align: left;
        font-size: 12px!important;
        margin-bottom: 0!important;
    }

    @media (max-width: 850px) and (min-width: 700px){
       

        .quickview-product .col-sm-12{
            width: 100% !important;
        }
    }
</style>
<div class="quickview-product" id="bestsellers">
    <div class="new-title">
        <h2 class="te"><?php echo $title; ?></h2>
    </div>
    
    <div class="col-sm-3 col-md-4"></div>
    <div class="title-line col-sm-6 col-md-4" style="margin-top: -10px;margin-bottom: 20px;">
        <div class="tl-1" style="width: 44%;height: 1px;display: inline-block;background: #eee;"></div>
        <div class="tl-2" style="display: inline-block;height: 13px;margin: 0 5px;position: relative;top: 5px;width: 13px;border: 1px solid #ebc131;border-radius: 50px;"></div>
        <div class="tl-3" style="width: 44%;height: 1px;display: inline-block;background: #eee;"></div>
    </div>
    <div class="col-sm-3 col-md-4"></div>

    <?php
        $count = 0;
        $rows = $config_slide['f_rows'];
        if(!$rows) { $rows=1; }
    ?>
    <div class="container">  
        <div class="row">
            <input type="hidden" name="product_id" value="" />
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row row2">
                    <div class="bestseller-products-slider quickview-added category-products" id="bestseller-products-slider">
                        <?php if($products): ?>
                            <?php foreach ($products as $product) { ?>
                                <?php if($count % $rows == 0 ) { echo '<div class="row_items product-container">'; } $count++; ?>
                                <div class="item">
                                    <div class="item-inner">
                                        <?php if($config_slide['f_show_label']): ?>
                                            <?php if($product['special']) { ?>
                                                <div class="label-product <?php if($product['is_new']){ echo " f-label "; } ?>">
                                                    <span><?php echo $text_sale; ?></span>
                                                </div>
                                            <?php }?>
                                            <?php if($product['is_new']) { ?>
                                                <div class="label-product l-new">
                                                    <span><?php echo $text_new; ?></span>
                                                </div>
                                            <?php } ?>
                                        <?php endif;?>
                                        <div class="images-container">
                                            <a class="image" href="<?php echo $product['href']; ?>/?tracking=<?php echo $tracking_code; ?>">
                                                <img class="image1" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
                                                <?php if($product['rotator_image']): ?>
                                                    <img class="image2" src="<?php echo $product['rotator_image']; ?>" alt="<?php echo $product['name']; ?>" />
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                        <!--images-container-->
                                        <!--<?php if (isset($product['rating'])) { ?>
                                            <center>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <?php for ($i = 0; $i <= 5; $i++) { ?>
                                                            <?php if ($product['rating'] == $i) {
                                                                $class_r= "rating".$i;
                                                                echo '<div class="'.$class_r.'">rating</div>';
                                                            } 
                                                        } ?>
                                                    </div>
                                                </div>
                                            </center>
                                        <?php } ?>-->
                    
                                        <div class="des-container">
                                            <div class="name-wishlist">
                                                <h2 class="product-name hidden-xs hidden-sm" ><a href="<?php echo $product['href']; ?>/?tracking=<?php echo $tracking_code; ?>"><?php echo $product['name']; ?></a></h2>
                                                <h2 class="product-name hidden-md hidden-xl hidden-lg" ><a href="<?php echo $product['href']; ?>/?tracking=<?php echo $tracking_code; ?>"><?php echo $product['name_mobile']; ?></a></h2>
                                            </div>
                                            <?php $is_optionqty = 1; ?>
                                            <?php if($product['options']) { ?>
                                                <div class="options options-<?php echo $product['product_id']; ?>">
                                                    <?php foreach($product['options'] AS $option) { ?>
                                                        <?php $countoption = count($option['product_option_value']); ?>
                                                        <?php $price_tooltip_radio = 1; ?>
                                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                                            <div class="radio">
                                                                <?php if($countoption == 1) { ?>
                                                                    <label class="<?php if($option_value['quantity'] > 0) { echo 'checked-option'; } else { echo 'disabled'; } ?>">
                                                                        <input type="radio" class="option-<?php echo $product['product_id']; ?>" onchange="price_with_options_ajax_call(<?php echo $product['product_id']; ?>,'bestseller-products-slider')" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($option_value['quantity'] < 1) { echo 'disabled'; } else { echo 'checked'; } ?>/>
                                                                <?php } else { ?>
                                                                    <label class="<?php if($option_value['quantity'] < 1) { echo 'disabled'; } ?>">
                                                                        <input type="radio" class="option-<?php echo $product['product_id']; ?>" onchange="price_with_options_ajax_call(<?php echo $product['product_id']; ?>,'bestseller-products-slider')" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($option_value['quantity'] < 1) { echo 'disabled'; } ?> />
                                                                <?php } ?>
                                                                <?php if($price_tooltip_radio && $option_value['price']) { ?>
                                                                    <span data-toggle="tooltip" title="<?php echo $option_value['price_prefix']; ?><?php echo round($option_value['price']); ?>"><?php echo $option_value['name']; ?></span>
                                                                <?php } elseif (!$price_tooltip_radio && $option_value['price']) { ?>
                                                                    <span><?php echo $option_value['name']; ?> (<?php echo $option_value['price_prefix']; ?><?php echo round($option_value['price']); ?>)</span>
                                                                <?php } elseif ($price_tooltip_radio && !$option_value['price']) { ?>
                                                                    <span><?php echo $option_value['name']; ?></span>
                                                                <?php } ?>
                                                                </label>
                                                            </div>
                                                        <?php } ?>
                                                    <?php } ?>
                                                </div>
                                            <?php } else { ?>
                                                <div class="options hidden-sm hidden-xs hidden-sm"></div>
                                                <?php $is_optionqty = 0; ?>
                                            <?php } ?>
                    
                                            <div class="price-rating">
                                                <div class="price-label">
                                                    <div class="box-price">
                                                        <?php if($config_slide['f_show_price']) { ?>
                                                            <?php if ($product['price']) { ?>
                                                                <?php if (!$product['special']) { ?>
                                                                    <div class="price-box box-regular">
                                                                        <span class="regular-price">
                                                                            <span class="price-new-<?php echo $product['product_id']; ?> price"><?php echo $product['price']; ?></span>
                                                                        </span>
                                                                    </div>
                                                                <?php } else { ?>
                                                                    <div class="price-box box-special">
                                                                        <p class="special-price"><span class="price-new-<?php echo $product['product_id']; ?> price"><?php echo $product['special']; ?></span></p>
                                                                        <p class="price-old-<?php echo $product['product_id']; ?> old-price"><span class="price"><?php echo $product['price']; ?></span></p>
                                                                    </div>
                                                                <?php } ?>
                                                                <p class="coupon col-md-12 col-xs-12 col-sm-12 pull-right"><?php echo $product['coupon'] ? 'Coupon: <b>' . $product['coupon'] . '</b>' : ''; ?></p>
                                                            <?php } ?>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row add-to-cart" style="padding-top: 7px;">
                                                <?php if($product['personalized'] == 0) { ?>
                                                    <?php if($is_optionqty == 1 && $product['quantity'] > 0) { ?>
                                                        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
                                                            <input type="button" value="-" class="minus-button" onclick="minus(<?php echo $product['product_id']; ?>,'bestseller-products-slider')" />
                                                            <input type="text" class="quantity-<?php echo $product['product_id']; ?> quantity" name="quantity" value="1" onchange="quantityVerify(<?php echo $product['product_id']; ?>,'bestseller-products-slider')" />
                                                            <input type="button" value="&#43;" class="plus-button" onclick="plus(<?php echo $product['product_id']; ?>,'bestseller-products-slider')" />
                                                        </div>
                                                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-4">
                                                        <button type="button" class="hidden-md hidden-lg hidden-xl btn button button-cart cart-<?php echo $product['product_id']; ?>" onclick ="addtocart(<?php echo $product['product_id']; ?>,'bestseller-products-slider')"><i class="fa fa-shopping-cart"></i></button>
                                                        <button type="button" class="hidden-xs hidden-sm btn button button-cart cart-<?php echo $product['product_id']; ?>" onclick ="addtocart(<?php echo $product['product_id']; ?>,'bestseller-products-slider')"><?php echo $button_cart; ?></button>
                                                    <?php } else { ?>
                                                        <button class="hidden-md hidden-lg hidden-xl oos btn button" type="button" disabled><i class="fa fa-shopping-cart"></i></button>
                                                        <button class="hidden-xs hidden-sm oos btn button" type="button" disabled>Stock Over!</button>
                                                    <?php } ?>
                                                <?php } else { ?>
                                                    <?php if($product['quantity'] > 0) { ?>
						                                <a href="<?php echo $product['href']; ?>" class="btn button button-personalize">Personalize Now</a>
					                                <?php } else { ?>
						                                <button class="oos btn button hidden-xs hidden-sm" type="button" disabled>Stock Over!</button>
						                                <button class="oos btn button btn-oos-mobile hidden-xl hidden-lg hidden-md" type="button" disabled><i class="fa fa-shopping-cart"></i></button>
					                                <?php } ?>
                                                <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php if($count % $rows == 0 || $count == count($products)): ?>
                                </div>
                            <?php endif; ?>
                        <?php } ?>
                    <?php else: ?>
                        <p><?php echo $text_empty; ?></p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    
    <?php if($order_history_products) { ?>
        <div class="new-title">
            <h2 class="te">Buy Again..!</h2>
        </div>
        
        <div class="col-sm-3 col-md-4"></div>
        <div class="title-line col-sm-6 col-md-4" style="margin-top: -10px;margin-bottom: 20px;">
            <div class="tl-1" style="width: 44%;height: 1px;display: inline-block;background: #eee;"></div>
            <div class="tl-2" style="display: inline-block;height: 13px;margin: 0 5px;position: relative;top: 5px;width: 13px;border: 1px solid #ebc131;border-radius: 50px;"></div>
            <div class="tl-3" style="width: 44%;height: 1px;display: inline-block;background: #eee;"></div>
        </div>
        <div class="col-sm-3 col-md-4"></div>
        <div class="container">  
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row row2">
                        <div class="order-history-carousel quickview-added category-products" id="order-history-carousel">
                            <?php foreach ($order_history_products as $product) { ?>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="images-container">
                                            <a class="image" href="<?php echo $product['href']; ?>">
                                                <img class="image1" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
                                                <?php if($product['rotator_image']): ?>
                                                    <img class="image2" src="<?php echo $product['rotator_image']; ?>" alt="<?php echo $product['name']; ?>" />
                                                <?php endif; ?>
                                            </a>
                                        </div>
                    
                                        <div class="des-container">
                                            <div class="name-wishlist">
                                                <h2 class="product-name hidden-xs hidden-sm" ><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h2>
                                                <h2 class="product-name hidden-md hidden-xl hidden-lg" ><a href="<?php echo $product['href']; ?>"><?php echo $product['name_mobile']; ?></a></h2>
                                            </div>
                                            <?php $is_optionqty = 1; ?>
                                            <?php if($product['options']) { ?>
                                                <div class="options options-<?php echo $product['product_id']; ?>">
                                                    <?php foreach($product['options'] AS $option) { ?>
                                                        <?php $countoption = count($option['product_option_value']); ?>
                                                        <?php $price_tooltip_radio = 1; ?>
                                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                                            <div class="radio">
                                                                <?php if($countoption == 1) { ?>
                                                                    <label class="<?php if($option_value['quantity'] > 0) { echo 'checked-option'; } else { echo 'disabled'; } ?>">
                                                                        <input type="radio" class="option-<?php echo $product['product_id']; ?>" onchange="price_with_options_ajax_call(<?php echo $product['product_id']; ?>,'order-history-carousel')" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($option_value['quantity'] < 1) { echo 'disabled'; } else { echo 'checked'; } ?>/>
                                                                <?php } else { ?>
                                                                    <label class="<?php if($option_value['quantity'] < 1) { echo 'disabled'; } ?>">
                                                                        <input type="radio" class="option-<?php echo $product['product_id']; ?>" onchange="price_with_options_ajax_call(<?php echo $product['product_id']; ?>,'order-history-carousel')" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" <?php if ($option_value['quantity'] < 1) { echo 'disabled'; } ?> />
                                                                <?php } ?>
                                                                <?php if($price_tooltip_radio && $option_value['price']) { ?>
                                                                    <span data-toggle="tooltip" title="<?php echo $option_value['price_prefix']; ?><?php echo round($option_value['price']); ?>"><?php echo $option_value['name']; ?></span>
                                                                <?php } elseif (!$price_tooltip_radio && $option_value['price']) { ?>
                                                                    <span><?php echo $option_value['name']; ?> (<?php echo $option_value['price_prefix']; ?><?php echo round($option_value['price']); ?>)</span>
                                                                <?php } elseif ($price_tooltip_radio && !$option_value['price']) { ?>
                                                                    <span><?php echo $option_value['name']; ?></span>
                                                                <?php } ?>
                                                                </label>
                                                            </div>
                                                        <?php } ?>
                                                    <?php } ?>
                                                </div>
                                            <?php } else { ?>
                                                <div class="options hidden-sm hidden-xs hidden-sm"></div>
                                                <?php $is_optionqty = 0; ?>
                                            <?php } ?>
                    
                                            <div class="price-rating">
                                                <div class="price-label">
                                                    <div class="box-price">
                                                        <?php if ($product['price']) { ?>
                                                            <?php if (!$product['special']) { ?>
                                                                <div class="price-box box-regular">
                                                                    <span class="regular-price">
                                                                        <span class="price-new-<?php echo $product['product_id']; ?> price"><?php echo $product['price']; ?></span>
                                                                    </span>
                                                                </div>
                                                            <?php } else { ?>
                                                                <div class="price-box box-special">
                                                                    <p class="special-price"><span class="price-new-<?php echo $product['product_id']; ?> price"><?php echo $product['special']; ?></span></p>
                                                                    <p class="price-old-<?php echo $product['product_id']; ?> old-price"><span class="price"><?php echo $product['price']; ?></span></p>
                                                                </div>
                                                            <?php } ?>
                                                            <p class="coupon col-md-12 col-xs-12 col-sm-12 pull-right"><?php echo $product['coupon'] ? 'Coupon: <b>' . $product['coupon'] . '</b>' : ''; ?></p>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add-to-cart" style="padding-top: 7px;">
                                                <?php if($product['personalized'] == 0) { ?>
                                                    <?php if($is_optionqty == 1 && $product['quantity'] > 0) { ?>
                                                        <div style="width: 50%;">
                                                            <input type="button" value="-" class="minus-button" onclick="minus(<?php echo $product['product_id']; ?>,'order-history-carousel')" />
                                                            <input type="text" class="quantity-<?php echo $product['product_id']; ?> quantity" name="quantity" value="1" onchange="quantityVerify(<?php echo $product['product_id']; ?>,'order-history-carousel')" />
                                                            <input type="button" value="&#43;" class="plus-button" onclick="plus(<?php echo $product['product_id']; ?>,'order-history-carousel')" />
                                                        </div>
                                                        <button type="button" class="hidden-md hidden-lg hidden-xl btn button button-cart cart-<?php echo $product['product_id']; ?>" onclick ="addtocart(<?php echo $product['product_id']; ?>,'order-history-carousel')"><i class="fa fa-shopping-cart"></i></button>
                                                        <button type="button" class="hidden-xs hidden-sm btn button button-cart cart-<?php echo $product['product_id']; ?>" onclick ="addtocart(<?php echo $product['product_id']; ?>,'order-history-carousel')"><?php echo $button_cart; ?></button>
                                                    <?php } else { ?>
                                                        <button class="hidden-md hidden-lg hidden-xl oos btn button" type="button" disabled><i class="fa fa-shopping-cart"></i></button>
                                                        <button class="hidden-xs hidden-sm oos btn button" type="button" disabled>Stock Over!</button>
                                                    <?php } ?>
                                                <?php } else { ?>
                                                    <?php if($product['quantity'] > 0) { ?>
						                                <a href="<?php echo $product['href']; ?>" class="btn button button-personalize">Personalize Now</a>
					                                <?php } else { ?>
						                                <button class="oos btn button hidden-xs hidden-sm" type="button" disabled>Stock Over!</button>
						                                <button class="oos btn button btn-oos-mobile hidden-xl hidden-lg hidden-md" type="button" disabled><i class="fa fa-shopping-cart"></i></button>
					                                <?php } ?>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".order-history-carousel").owlCarousel({
                    autoPlay: true,
                    items : 4,
                    slideSpeed : 1000,
                    navigation : true,
                    paginationNumbers : true,
                    pagination : false,
                    stopOnHover : false,
            		itemsDesktop : [1199,4],
            		itemsDesktopSmall : [991,4],
            		itemsTablet: [700,3],
            		itemsMobile : [480,2]
                });
            });
        </script>
    <?php } ?>
</div>
<script type="text/javascript">
    function addtocart(product_id, id) {
        $('input[name=\'product_id\']').val(product_id);
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('input[name=\'product_id\'], #' + id +' .quantity-' + product_id + ', #' + id +' .checked-option .option-' + product_id),
            dataType: 'json',
            success: function(json) {
                if (json['error']) {
                    if (json['error']['option']) {
                        if($(".text-danger." + product_id).length == 0) {
                            $('.options-' + product_id).before('<div class="text-danger ' + product_id + '">Please Select Weight</div>');
                        }
                    }
                }
                if (json['success']) {
                    // Added to cart
                    var success_text = '<div style="margin: 0 0 10px 0"><div  style="float: left" ><img  style="margin: 0 5px 10px 0" class="img-thumbnail" src="'+json['href']+'" alt="True Elements"></div><div  style="text-align: center" >' + json['success'] + '</div></div>';

                    var n = new Noty({
                        type: 'success',
                        layout: json['notice_add_layout'],
                        text:  success_text ,
                        textAlign:"right",
                        animateOpen:{"height":"toggle"},
                        timeout: json['notice_add_timeout'],
                        progressBar: false,
                        closeWith: 'button',
                    }).show();
                    // Added to cart
                    $('#cart-total').html(json['total']);
                    $('#cart > .top-cart-contain ul').load('index.php?route=common/cart/info ul li');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    function minus(product_id, id) {
        var currentval = parseInt($(".quantity-" + product_id).val());
        $("#" + id + " .quantity-" + product_id).val(currentval-1);
        if($("#" + id + " .quantity-" + product_id).val() <= 0) {
            $("#" + id + " .quantity-" + product_id).val(1);
        }
    }
  
    function plus(product_id, id) {
        var currentval = parseInt($("#" + id + " .quantity-" + product_id).val());
        $("#" + id + " .quantity-" + product_id).val(currentval+1);
    }
    
    function quantityVerify(product_id, id) {
        var currentval = parseInt($("#" + id + " .quantity-" + product_id).val());
        if(currentval <= 0) {
           $("#" + id + " .quantity-" + product_id).val(1); 
        }
    }
</script>
<script type="text/javascript">
    function price_with_options_ajax_call(product_id, id) {
        $(".text-danger." + product_id).remove();
	    $.ajax({
	    	type: 'POST',
	    	url: 'index.php?route=product/live_options/index&product_id=' + product_id,
	    	data: $('#'+id+' .checked-option .option-' + product_id),
	    	dataType: 'json',
			success: function(json) {
				if (json.success) {
					$('#'+id+' .price-new-' + product_id).html(json.new_price.special);
					$('#'+id+' .price-old-' + product_id).html('<span class="price">' + json.new_price.price + '</span>');
					
					if(json.new_price.special) {
					    $('#'+id+' .price-new-' + product_id).html(json.new_price.special);
					    $('#'+id+' .price-old-' + product_id).html('<span class="price">' + json.new_price.price + '</span>');
					} else {
					    $('#'+id+' .price-new-' + product_id).html(json.new_price.price);
					}
				}
			},
			error: function(error) {
				console.log('error: '+error);
			}
		});
	}
	
	$(document).ready(function() {
	    $(".product-options").each(function () {
            if ($(this)[0].length == 0) {
                $(this).hide();
            }
        });
	});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $(".bestseller-products-slider").owlCarousel({
        autoPlay: <?php if($config_slide['autoplay']) { echo 'true' ;} else { echo 'false'; } ?>,
        /*items : <?php if($config_slide['items']) { echo $config_slide['items'] ;} else { echo 3; } ?>,*/
        slideSpeed : <?php if($config_slide['f_speed']) { echo $config_slide['f_speed']; } else { echo 200;} ?>,
        navigation : true,
        paginationNumbers : true,
        pagination : <?php if($config_slide['f_show_ctr']) { echo 'true' ;} else { echo 'false';} ?>,
        stopOnHover : false,
		itemsDesktop : [1199,4],
		itemsDesktopSmall : [991,3],
		itemsTablet: [700,3],
		itemsMobile : [480,2]
		
    });

});
</script>
<script type="text/javascript"><!--
    $('.des-container .options .radio input[type="radio"]').click(function() {
        $('.des-container .options .radio input[type="radio"]').each(function() {
            $(this).parents("label").toggleClass('checked-option', this.checked);
        });
    });
</script>