<div <?php echo 'id="cmsblock-'.$cmsblocks[0]['id_cmsblock'].'"'; ?> class="cmsblock">
	<div class='description'><?php echo html_entity_decode($cmsblocks[0]['description'],ENT_QUOTES, 'UTF-8'); ?></div>
</div>


<?php if($cmsblocks[0]['id_cmsblock'] == 72){ ?>
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function(){
        $('.sec1').fadeIn();
    },1000);
    setTimeout(function(){
        $('.sec2').fadeIn();
    },2000);
    setTimeout(function(){
        $('.sec31').fadeIn();
    },3000);
    setTimeout(function(){
        $('.sec32').fadeIn();
    },4000);
    setTimeout(function(){
        $('.sec33').fadeIn();
    },5000);
    setTimeout(function(){
        $('.sec34').fadeIn();
    },6000);
    setTimeout(function(){
        $('.sec4').fadeIn();
    },7000);
    setTimeout(function(){
        $('.sec5').fadeIn();
    },8000);
});
</script>
 <?php } ?>