    <input type="text" name="captcha" class="inputMaterial" autocomplete="off" />
    <label><?php echo $entry_captcha; ?></label>
    <div id="input-captcha">
    <img  src="index.php?route=<?php echo $xtensions_controller_path; ?>xbasic_captcha/captcha&view=<?php echo $view; ?>" alt="" />
    </div>    


