*:focus{
	box-shadow: none !important;
	outline: none !important;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color: #777;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	letter-spacing: 1px;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #5a5a5a;
	line-height: 1;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #7b7b7b;
}
a:hover {
	text-decoration: none;
	color: #e93838;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
	color: #999;
}
.form-control:focus {
	border:1px solid #ccc !important;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
}
.form-control {
	border-radius:0 !important;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 13px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* transition */
.list-unstyled li a:hover::before, .policy-static2 .container .col-md-4 .col:hover i,
.layout1:hover .btn-wishlist i, .layout1:hover .btn-compare i, .layout1:hover .btn-wishlist, .layout1:hover .btn-compare,
.product-layout:hover .image .img-r,
.product-layout:hover .image img:not(.img-r),
.product-thumb.layout2 .product-name:hover a,
.product-thumb.layout2 .image .label-product2,
a:hover, .product-layout:hover .image .img-r{
	-webkit-transition: ease-in-out .3s all;
	-moz-transition: ease-in-out .3s all;
	transition: ease-in-out .3s all;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff;
    background: #e93838;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	background: #333;
    border: 0;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 16px;
    text-transform: uppercase;
    color: #fff;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#button-voucher,
#button-coupon{
	height: 34px;
	line-height: 34px;
	margin-left: 5px;
}
/* top */
#top {
    position: relative;
    z-index: 999;
	border-bottom:1px solid #ededed;
}
#logo {
	margin:0;
	text-align:left;
} 
#logo a {
	display:inline-block;
}
header {
	padding:40px 0 30px;
	position:relative;
	z-index:998;
}
.header-content {
	position:relative;
	margin:10px 0 0;
}
/* policy static */
.policy-static2 {
    margin: 40px 0;
    border: 1px solid #e5e5e5;
    background: #f2f2f2;
}
.policy-static2 .container {
    padding: 0;
}
.policy-static2 .container .col-md-4 {
    padding: 0 !important;
}
.policy-static2 .container .col-md-4 .col {
    padding: 30px;
}
.policy-static2 .container .col-md-4 .col:hover i{
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.policy-static2 .container .col-md-4 .col i{
    font-size: 40px;
    color: #666666;
    font-weight: normal;
    float: left;
}
.policy-static2 .container .col-md-4 .col .banner-text {
    margin-left: 60px;
}
.policy-static2 .container .col-md-4 .col .banner-text h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 6px;
    font-weight: 600;
    text-transform: uppercase;
	margin-top: 0;
}
.policy-static2 .container .col-md-4 .col .banner-text p {
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    margin: 0;
}
.policy-static2 .container .col-md-4 .col.col2 {
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
.policy-static {
    display: inline-block;
    vertical-align: middle;
}
.policy-static .col {
    float: left;
    margin-right: 50px;
}
.policy-static .col i {
    color: #ffffff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f8484a;
    float: left;
    text-align: center;
    border-radius: 3px;
}
.policy-static .col3 i {
	background: #ffb700;
}
.policy-static .col2 i {
	background: #407ac5;
}
.policy-static .col .static-text {
    margin-left: 50px;
    margin-top: 8px;
}
.policy-static .col .static-text h2 {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
	margin: 0;
}
.policy-static .col .static-text p {
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}
/* language-currency */
.top-left {
	float:left;
}
.language-currency {
	float:left;
	width: 100%;
}
/* language-------------------------------------*/
.header-laguage {
	float:left;
	position:relative;
}
.language label {
	font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.language #form-language {
	padding-left:0;
}
.language #form-language .dropdown-language {
    border: 0;
    left: 0;
    left: auto;
    padding: 10px 15px;
    margin: 0;
	border-radius:0;
    min-width: 120px;
    background: #252525;
}
.language #form-language .btn-link {
	border: 0;
    padding: 10px 20px 10px 15px;
    color: #252525;
    font-size: 13px;
	font-weight:600;
    text-transform: capitalize;
    text-decoration: none;
	letter-spacing:1px;
	position:relative;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.language #form-language .btn-link:hover,
.language .btn-link:hover:after {
	color: #e93838;
}
.language #form-language .btn-link:after {
	content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 1;
    padding-left: 3px;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.language #form-language .btn-link:before {
	content: "";
    width:1px;
	height:16px;
	background:#252525;
	position:absolute;
	right:0;
	top:12px;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.language #form-language .dropdown-menu li button {
	color: #fff;
    text-decoration: none;
    padding: 5px 0;
    text-align: left;
}
.language #form-language .dropdown-menu li button:before {
	display:none;
}
.language .btn-link img {
	margin-top: -3px;
	margin-right:3px;
}
.language .dropdown-menu .btn-link {
	color:#393939;
}
.language .dropdown-menu .btn-link:after {
	display:none;
}
.language .dropdown-menu .btn-link img {
	margin-right:6px;
}
.language #form-language .dropdown-menu li .btn-link.language-selected {
	color: #e93838;
}
/* currency-------------------------------------*/
.header-currency {
    float:left;
}
.currency {
	float:left;
}
.currency label {
	font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
.currency #form-language {
	padding:10px 15px;
	padding-left:0;
}
.currency #form-currency .dropdown-currency { 
	border: 0;
    left: 0;
    left: auto;
    padding: 10px 15px;
    margin: 0;
    border-radius: 0;
    min-width: 120px;
    background: #252525;
}
.currency #form-currency .btn-link {
	border: 0;
    padding: 10px 20px 10px 15px;
    color: #252525;
    font-size: 13px;
	font-weight:600;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1.5px;
    position: relative;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.currency #form-currency .dropdown-menu .btn-link {
	color: #fff;
    text-decoration: none;
    padding: 5px 0;
    text-align: left;
}
.currency #form-currency .btn-link:hover,
.currency .btn-link:hover:after  {
	color: #e93838;
}
.currency .btn-link:after {
	content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 1;
    padding-left: 3px;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.currency .btn-link img {
	margin-top: -3px;
	margin-right:3px;
}
.currency .dropdown-menu .btn-link:after {
	display:none;
}
.currency .dropdown-menu .btn-link img {
	margin-right:6px;
}
.currency #form-language .dropdown-menu li .btn-link.currency-selected {
	color: #e93838;
}
/*--------------------*/
#top-links .dropdown-menu li:hover a,
#form-language .dropdown-menu li:hover button,
#form-currency .dropdown-menu li:hover button{
	color: #e93838;
	background: none;
}
#top-links .dropdown-menu li a,
#form-language .dropdown-menu li button,
#form-currency .dropdown-menu li button{
	color: #fff;
	text-decoration: none;
	padding: 5px 0;
	text-align: left;
}
#top-links .dropdown-menu li{
	padding: 0 !important;
}
#top-links .dropdown-menu,
#form-language .dropdown-menu,
#form-currency .dropdown-menu{
	border:0;
	left: 0;
	left: auto;
	padding:10px 15px;
	box-shadow:0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
	border-radius:5px;
	margin:0;
	min-width: 120px;
	background:#fff;
}
.lang-curr form > .btn-group > .dropdown-menu{
	right: 0;
	left: auto
}
.lang-curr form > .btn-group > span,
.lang-curr form > .btn-group > button{
	padding: 10px 0;
}
.lang-curr > div:not(:last-child) > form{
	margin-right: 20px;
	padding-right: 20px;
}
.text-cl + .btn-link i{
	margin-left: 3px;
}
.text-cl + .btn-link,
.text-cl{
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	padding: 0;
	line-height: 20px;
	border: none;
}
.text-cl{
	margin-right: 5px;
}
/* top-links */
#top-links {
	float: right;
}
#top-links .list-inline,
#top-links .list-inline li{
	padding: 0;
	margin: 0;
}
#top-links .dropdown-menu {
	border: 0;
    right: 0;
    padding: 10px 15px;
    border-radius: 0;
    min-width: 120px;
    background: #252525;
}
#top-links .list-inline .dropdown .dropdown-toggle {
	padding: 10px 15px;
	display:inline-block;
}
#top-links li a {
	color: #252525;
    font-size: 13px;
	font-weight:600;
    text-transform: capitalize;
	position:relative;
	text-decoration:none;
	letter-spacing:1px;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#top-links li a:hover,
#top-links li a:hover:after {
	color:#e93838;
}
#top-links li a:after {
	content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    line-height: 1;
    padding-left: 6px;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#top-links > .list-inline > li:not(:last-child) > a{
	margin-right: 10px;
	padding-right: 10px;
}
#top-links .dropdown-menu li a:after {
	display:none;
}
/* -------------------------------- */
/* Link-header */
.link-header {
	float:right;
	text-align:right;
	padding:13px 0;
}
.link-header div {
	display:inline-block;
}
.link-header .guarantee {
	padding-left:20px;
}
.link-header a {
	font-size:13px;
	color:#fff;
	text-transform:capitalize;
}
.link-header a:hover {
	color:#e93838;
}
.link-header div a:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.link-header .store a:before {
	content: "\f1ab";
}
.link-header .guarantee a:before {
	content: "\f1c6";
}
/* Block Header */
.block-header {
	color:#f5f5f5;
	font-weight:700;
	font-size:11px;
	margin:10px 0 0;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-style:italic;
}
.block-header a {
	font-weight:700;
	color:#e93838;
}
.block-header a:hover {
	color:#f5f5f5;
}
/*Social Left */
.icon-header {
	display:inline-block;
	padding:6px 0 8px;
	width:100%;
	text-align:center;
}
.icon-header ul { text-align:center; }
.icon-header .social {
	display: inline-block;
    margin-right: 18px;
}
.icon-header .social:last-child {
    margin: 0;
}
.icon-header .social a { 
	font-size:0;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.icon-header .social a:hover:before {
	color:#e93838;
}
.icon-header .social a:before {
	font-size:18px;
	color:#fff;
	display:inline-block;
	content:'\f343';
	font-family: 'Material-Design-Iconic-Font';
    font-weight: normal;
    vertical-align: middle;
}
.icon-header .social-google a:before {
	content:'\f34d';
	font-size:22px;
}
.icon-header .social-twitter a:before {
	content:'\f360';
	font-size:22px;
}
.icon-header .social-instagram a:before {
	content:'\f34f';
}
.icon-header .social-dribbble a:before {
	content:'\f33f';
}
/* main-menu */
body:not(.common-home) .main-menu{
	margin-bottom: 0;
}
.text-search {
	margin:20px 0 !important;
}
.main-menu{
	min-height: 65px;
	background: #222;
}
/* box-top */
.box-top {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 991;
}
/* search */
#search{
	width: 100%;
}
#search button i{
	font-size: 24px;
	line-height: 44px;
}
#search button:hover{
	background: #f8484a;;
}
#search button{
	height: 49px;
	width: 49px;
	color: #ffffff;
	background: #e93838;
	border: none !important;
	padding: 0;
	border-radius: 3px !important;
	float: right;
	margin-top: -49px;
	z-index: 3;
	position: relative;;
}
#search > input{
	height: 49px;
	font-size: 13px;
	color: #999999;
	border-radius: 5px;
	display: block;
	width: 100%;
	box-shadow: none;
	border: none;
}
/* cart */
.top-cart {
    float: right;
    padding: 0;
}
#cart{
	background: url(../image/icon-cart.png) no-repeat scroll 50% 0;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50px;
    height: 36px;
}
#cart .top-cart-contain {
    cursor: pointer;
    height: 45px;
    padding: 0 0 7px;
    position: relative;
    z-index: 1000011;
}
#cart > button:focus{
	box-shadow: none;
}
#cart .top-cart-contain button {
	background: none;
    border: 0;
    text-align: center;
    width: 20px;
    line-height: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 11px;
    left: 15px;
    box-shadow: none !important;
    text-shadow: none !important;
    z-index: 1;
    text-decoration: none !important;
    text-transform: capitalize;
}
#cart .top-cart-contain .cart-content .cart-button button {
    position: initial;
}
#cart .top-cart-contain button:hover #cart-total {
	color:#333;
}
#cart .dropdown-menu {
    background:#252525;
	border:0;
    padding:20px;
	margin:0;
    position: absolute;
    right: 0;
	display:none;
    text-align: left;
    top:99%;
    width: 340px;
	border-radius:0;
	box-shadow:none;
}
#cart .dropdown-menu {
	min-width: 100%;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li p {
	font-size: 15px;
	color:#fff;
	padding: 0;
	text-align: center;
	padding: 10px;
}
.row-cart { width:100%; margin-bottom:10px; display:inline-block; }
.row-cart .image-cart {
	width:87px;
	float:left;
}
.row-cart .image-cart .img-thumbnail { 
	border-radius:0;
	padding:0;
	border:0;
	background:none;
}
.row-cart .cart-content {
	margin-left:100px;
    font-size: 14px;
	text-align:left;
	position:relative;
}
.cart-content .cart-button {
	position:absolute;
	bottom:0px;
	right:0;
}
.cart-content .btn {
	padding:0;
	background:none;
	border:0;
}
.cart-content .btn:hover { background:none; }
.cart-content .btn .fa-times-circle { color:#fff; border:0; }
.cart-content .btn .fa-times-circle:hover { color:#e93838; }
.cart-content .product-name a {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}
.cart-content .product-name a:hover {
	color:#e93838;
}
.cart-content .cart-price {
	color:#e93838;
	font-weight:700;
	font-size:16px;
}
#cart .top-cart-contain .dropdown-menu button:before {
	display:none;
}
.row2-cart { text-align:right; width:100%; font-size:14px; }
.row2-cart { text-align:right; width:100%; font-size:14px;}
.row2-cart .box-cart { margin-bottom:5px; }
.row2-cart .box-cart .text strong {
    font-size: 11px;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
}
.row2-cart .box-cart .text1 {
	color:#e93838;
	font-weight:700;
}
.row2-cart .button-cart a {
	background:#e93838;
	border:0;
    font-weight: 700;
    font-size: 11px;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #fff;
	border-radius:0;
	display:inline-block;
}
.row2-cart .button-cart a strong { font-weight:700; }
.row2-cart .button-cart .fa { margin-right:5px; }
.row2-cart .button-cart {
	display: inline-block;
    margin-top: 15px;
    width: 100%;
}
.row2-cart .button-cart a:hover {
	background:#fff;
    color: #e93838;
}
#cart > button > i{
	display: none;
}
#cart #cart-total{
	position: relative;
	font-size: 16px;
	color: #e93838;
	text-transform: capitalize;
	font-weight:600;
}
#cart .text-item { display:none; }
#cart #cart-total .price-cart {
	display:none;
}
#cart > button + .dropdown-menu{
	padding: 10px;
	min-width: 300px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border-top: none;
}
.cart-close i{
	color: #d9534f;
}
.cart-close button{
	border: none;
	font-size: 14px;
	background: none;
}
.cart-close{
	padding: 8px 0 0 0 !important;
}
#cart > button + .dropdown-menu li p{
	line-height: 30px;
	margin: 0;
}
/* content */
#content {
	min-height: 400px;
}
#content h1, #content h2 {
    border: medium none;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}
/* carousel */
.owl-item{
	padding: 0 15px;
}
.owl-buttons div {
    background: rgba(0,0,0,0.1);
    border: 0;
    border-radius: 0;
    width: 45px;
    height: 45px;
	line-height:45px;
    font-size: 0;
    padding: 0;
    margin: 0 0 0 6px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    opacity: 0;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.owl-buttons div:hover {
	background:#e93838;
}
.owl-buttons div:hover:before {
	color:#fff;
}
.owl-carousel .owl-buttons div.owl-next {
	right:0;
} 
.owl-carousel .owl-buttons div.owl-prev {
	left:0;
}
.owl-carousel:hover .owl-buttons div {
	opacity:1;
}
.owl-carousel:hover .owl-buttons div.owl-next {
	right: -10px;
}
.owl-carousel:hover .owl-buttons div.owl-prev {
	left: -12px;
}
.owl-buttons div:before {
	font-family: 'Material-Design-Iconic-Font';
    display: block;
    font-size: 25px;
	color:#252525;
	font-weight:400;
}
.owl-buttons div.owl-prev:before {
	text-indent: -1px;
    content: "\f2fa";
}
.owl-buttons div.owl-next:before {
	content: "\f2fb";
    text-indent: 1px;
}
/* module-title */
#content .module-title h2 {
    display: inline-block;
    color: #101010;
    font-size: 22px;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0;
    position: relative;
    z-index: 2;
}
.module-title h2 {
    display: inline-block;
    color: #101010;
    font-size: 22px;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 15px;
    position: relative;
    z-index: 2;
}
.module-title {
	text-align: left;
	margin-bottom: 35px;
	position: relative;
	z-index: 1;
}
.text-title {
	text-align:left;
	display:inline-block;
	width:100%;
	margin:8px 0 0;
}
.text-title p {
	font-size:16px;
	color:#333333;
	margin:0;
}
/* home-modul */
.home-moduls {
	margin:60px 0 0;
}
.home-moduls .item-inner .images-container {
	width:80px;
	float:left;
}
.home-moduls .item-inner .des-container {
	margin-left:95px;
	padding:0;
}
.home-moduls .item-inner .actions {
	display:none;
}
.home-moduls .item-inner {
	margin-bottom:30px;
}
.home-moduls .item-inner .ratings {
	width:100%;
	margin:5px 0 0;
}
.home-moduls .item-inner .ratings div[class^="rating"] {
	background-position: center left;
}
.home-moduls .item-inner .price-label {
	width:100%;
	margin:8px 0 0;
}
#content .home-moduls .module-title h2 {
	font-size:18px;
	padding-bottom:10px;
	position:relative;
}
#content .home-moduls .module-title h2:before {
	width:100px;
	height:1px;
	content:'';
	display:inline-block;
	background:#7f7f7f;
	position:absolute;
	left:0;
	bottom:0;
}
/* blog */
#blog_home {
	text-align: center;
	margin:60px 0 0;
}
#blog_home .module-title {
	margin-bottom: 30px;
	border:0;
}
#blog_home .item-inner {
	padding:0;
	box-shadow:none !important;
}
#blog_home .articles-image {
	position:relative;
	overflow:hidden;
}
#blog_home .item-inner .articles-image:hover img {
	opacity:0.8;
}
#blog_home .item-inner:before {
	display:none;
}
#blog_home .articles-date {
	display:inline-block;
    width: 100%;
	margin:8px 0 0;
	text-align:right;
	font-size: 15px;
    text-transform: capitalize;
    color: #666666;
    font-weight:700;
}
#blog_home .articles-date span{
	float:left;
	font-size:28px;
	color:#252525;
}
#blog_home .articles-intro {
	font-size:15px;
	color:#666666;
	line-height:22px;
	margin:15px 0 0;
}
#blog_home .aritcles-content {
	display: inline-block;
    width: 100%;
	text-align:left;
}
#blog_home .readmore {
	margin:15px 0 0;
}
#blog_home .readmore a {
	color: #666666;
	display: inline-block;
	text-transform: capitalize;
	font-size:15px;
	border-bottom:1px solid #b2b2b2;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
#blog_home .readmore a:hover {
	color:#e93838;
	border-color:#e93838;
}
#blog_home .articles-name:hover{
	color: #e93838;
}
#blog_home .articles-name {
	display: block;
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
	font-style:italic;
    font-weight: 700;
    margin:18px 0 0;
    position: relative;
}
#blog_home img:hover {
	opacity:0.8;
}
/*Search-category */
.header-search {
    margin: 0;
    padding: 2px 0;
    float: right;
}
#search-by-category {
    clear: both;
    display: inline-block;
    margin: 0;
    padding: 0;
	position:relative;
}
.icon-search {
	cursor:pointer;
}
.icon-search:before {
	background: url(../image/icon-search.png) no-repeat 50% 0;
    display: inline-block;
    content: '';
    width: 50px;
    height: 36px;
}
.search-box {
	position:absolute;
	top:43px;
	right:0;
	display:none;
}
.search-container {
	width:290px;
	border:0;
	background:#252525;
	margin:0;
}
#search-by-category .search-container .categories-container{
    float:left;
    position:relative;
}
#search-by-category .search-container #text-search {
    width: 100%;
	background:#252525;
    border:0;
    border-left:0;
    box-shadow:none;
    height:50px;
	line-height:50px;
    color: #fff;
    font-size: 14px;
	position:relative;
	padding:0 55px 0 10px
}
#search-by-category .search-container #sp-btn-search{
    width:50px;
    float:right;
	position:absolute;
	top:0;
	right:0;
}
#search-by-category .search-container .categories-container {
    text-transform: uppercase;
    border:0;
	background:#fff;
	border-radius:50px 0 0 50px;
	position:relative;
}
#search-by-category .search-container .categories-container .hover-cate p {
    margin:0;
	font-size: 13px;
	color: #333333;
    padding:0 45px 0 20px;
    cursor: pointer;
    height: 50px;
	line-height:50px;
    overflow: hidden;
	text-transform:capitalize;
	border-radius:50px 0 0 50px;
	position:relative;
	display:none;
}
#search-by-category .search-container .categories-container .hover-cate p:after {
	content: "\f2f9";
    font-family: 'Material-Design-Iconic-Font';
    position:absolute;
	right:13px;
	top:0;
    font-size: 14px;
    color: #555555;
}
#search-by-category .search-container .categories-container .hover-cate p:hover {
	background:#fff;
}
#search-by-category .search-container .categories-container .hover-cate p i{
    position:absolute;
    top:30%;
    right:0px;
    padding:6px 20px 5px 0;
}
#search-by-category .search-container .categories-container .hover-cate .cate-items{
    z-index: 9999 !important;
    position: absolute;
    display: none;
    background: none repeat scroll 0% 0% #FFF;
    max-height: 300px;
    overflow: auto;
    margin-top:5px;
    border: 0 !important;
    padding: 20px;
    width:120%;
	text-align:left;
    cursor: pointer;
	border-radius:10px;
}
.cate-items li {
    text-transform: capitalize;
    color:#333;
    font-size: 13px;
	line-height:25px;
    list-style: none;
}
.cate-items li.f1 {
    padding-left: 5px;
}
.cate-items li.f2 {
    padding-left: 15px;
}
#search-by-category .search-ajax{
    position: absolute;
    z-index: 9999 !important;
    background: none repeat scroll 0% 0% #fff;
    left: 0;
    top: 50px;
    width: 240px;
    margin: 0;
}
#search-by-category .item-inner .product-name {
	margin:8px 0 0;
	padding:0;
}
#search-by-category .item-inner .product-name a { font-size:12px; }
#search-by-category .item-inner .price-label { width:100%; margin:3px 0 0; }
.search-ajax .product-name {
	margin:5px 0 3px;
}
.search-ajax .product-info { margin-bottom:10px; }
#search-by-category .search-ajax li{
    list-style: none;
}
#search-by-category .search-ajax .ajax-result-container .ajax-result-list{
    display:block;
    border:1px solid #ddd;
    max-height:250px;
    overflow: auto;
    padding:20px 0;
	margin:0;
}
#search-by-category .item-inner {
	padding:0 8px;
}
#search-by-category .item-inner:before {
	display:none;
}
#btn-search-category {
    background:#e93838;
    padding:0;
	height:50px;
	line-height:50px;
	width:50px;
	font-size:0;
	border:0;
	border-radius:0;
    box-shadow:none;
    text-shadow:none;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#btn-search-category:hover {
	background:#333;
}
#btn-search-category:before {
	font-family:FontAwesome;
	content:"\f002";
	font-size:19px;
	display:inline-block;
	color:#fff;
	line-height:50px;
}
/* module product */
.item-inner {
	position: relative;
    display: inline-block;
    width: 100%;
	z-index:1;
}
.item-inner .des-container {
	text-align:left;
	padding:18px 0 0;
}
.item-inner .name-wishlist {
	display:inline-block;
	width:100%;
	position:relative;
}
.item-inner .wishlist {
	position:absolute;
	right:0;
	top:0;
}
.item-inner .wishlist a {
    padding: 0;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    font-size: 0;
    color: #666666;
    cursor: pointer;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.item-inner .wishlist a:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 16px;
	content: "\f15e";
}
.item-inner .wishlist a:hover:before {
	color:#e93838;
}
.item-inner .wishlist em { display:none; }
#content .item-inner .product-name {
	margin:0;
	line-height:20px;
	padding-right:20px;
}
.item-inner .product-name {
	margin:0;
	line-height:20px;
	padding-right:20px;
}
.item-inner .product-name a {
	font-size: 13px;
    color: #252525;
	font-weight: 700;
	text-transform: uppercase;
	font-style:italic;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.item-inner .product-name a:hover {
	color:#e93838;
}
.item-inner .ratings {
	float:right;
	width:40%;
	margin:0;
}
.item-inner .ratings div[class^="rating"] {
	background-position: center right;
}
.item-inner .ratings .review-count {
	display:none;
}
.item-inner .price-rating {
	display:inline-block;
	width:100%;
	margin:10px 0 0;
}
.item-inner .price-label {
	text-align:left;
	float:left;
	width:60%;
}
.item-inner .price-label .special-price {
	display:inline-block;
	margin:0;
}
.item-inner .price-label .old-price {
	display:inline-block;
	margin:0;
}
.item-inner .special-price .price {
	color:#e93838;
}
.item-inner .price {
	font-size: 15px;
    color: #e93838;
    text-align: left;
    font-weight: 700;
    margin: 0;
}
.item-inner .price-new {
	display: inline-block;
	font-size: 15px;
    color: #e93838;
    text-align: left;
    font-weight: 700;
    margin: 0;
}
.item-inner .price-old {
	display: inline-block;
	color: #5c5c5c;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: line-through;
}
.item-inner .price-tax {
	font-size:15px;
	display:none;
}
.common-home .item-inner .product-des {
	display:inline-block;
	width:100%;
}
.item-inner .product-des {
	display:none;
}
.item-inner .old-price .price {
	color: #5c5c5c;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: line-through;
}
.item-inner .actions {
	display: inline-block;
    width: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.item-inner .actions .add-to-links {
	padding:0;
	text-align:left;
}
.item-inner .add-to-links div {
	float:left;
	list-style:none;
	margin-bottom:3px;
	-webkit-transform: translateX(65px);
    -moz-transform: translateX(65px);
    -ms-transform: translateX(65px);
    -o-transform: translateX(65px);
    transform: translateX(65px);
	-webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    transition: ease .4s all;
}
.item-inner:hover .add-to-links div {
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
	-webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    transition: ease .5s all;
}
.item-inner:hover .add-to-links div.compare {
	-webkit-transition: ease .7s all;
    -moz-transition: ease .7s all;
    transition: ease .7s all;
}
.item-inner:hover .add-to-links div.qv-button-container {
	-webkit-transition: ease .9s all;
    -moz-transition: ease .9s all;
    transition: ease .9s all;
}
.item-inner .add-to-links .btn-quickview {
	border:0;
	line-height: 40px;
    height: 40px;
    width: 40px;
	padding:0;
	position: relative;
    text-align: center;
	font-weight: normal;
	display: inline-block;
    font-size: 0;
	color:#666666;
	background: #fff;
	cursor:pointer;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.item-inner .add-to-links .btn-quickview:before {
	font-family: 'Material-Design-Iconic-Font';
    display: block;
    font-size: 16px;
	content: "\f15c";
}
.item-inner .add-to-links .btn-cart {
	border:0;
	line-height: 40px;
    height: 40px;
    width: 40px;
	padding:0;
	position: relative;
    text-align: center;
	font-weight: normal;
	display: inline-block;
    font-size: 0;
	color:#666666;
	background: #fff;
	cursor:pointer;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.item-inner .add-to-links .btn-cart span { display:none; }
.item-inner .add-to-links .btn-cart:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 16px;
    content: "\f1cb";
}
.item-inner .add-to-links a {
	line-height: 40px;
    height: 40px;
    width: 40px;
	padding:0;
	position: relative;
    text-align: center;
	font-weight: normal;
	display: inline-block;
    font-size: 0;
	color:#666666;
	background: #ffffff;
	cursor:pointer;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.item-inner .add-to-links a:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 16px;
}
.item-inner .add-to-links a.link-compare:before {
	content: "\f1b5";
}
.item-inner .add-to-links .btn-quickview:hover,
.item-inner .add-to-links a:hover,
.item-inner .add-to-links .btn-cart:hover {
	color:#e93838;
}
.item-inner .add-to-links em {
	display:none;
}
/*hover images==========================================================================*/
.item-inner .images-container {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0;
	z-index:2;
}
.item-inner .product-image .image1 {
	display:block;
	float:left;
	width:100%;
	z-index:1
}
.item-inner:hover .product-image .image1 {
	opacity:0;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}

.item-inner .image2 {
	position:absolute;
	top:0;
    left:0;
    opacity:0;
	display:block;
	width:auto;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}
.item-inner:hover .image2
{
	opacity:1;
	z-index: 0;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}

.product-list .product-container .image {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0;
}
.product-list .product-container .product-image .image1 {
	display:block;
	float:left;
	width:100%;
	z-index:1
}
.product-list .product-container:hover .product-image .image1
{
	opacity:0;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}

.product-list .product-container .image2 {
	position:absolute;
	top:0;
    left:0;
    opacity:0;
	display:block;
	width:auto;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}
.product-list .product-container:hover .image2
{
	opacity:1;
	z-index: 0;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out;
}
/*----------------------------------*/
.product-layout .image,
.product-layout .image > a{
	position: relative;
	display: block;
}
.product-layout:hover .image img{
	opacity: .7;
	visibility: visible;	
}
.product-layout:hover .image .img-r + img{
	opacity: 0;
}
.product-layout .image .img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
}
.product-thumb.layout2 .product-name:hover a{
	color: #e93838;
}
.product-thumb.layout2 .actions-link .btn-cart i,
.product-thumb.layout2 .actions-link .btn-wishlist,
.product-thumb.layout2 .actions-link .btn-compare{
	display: none;
}
.product-thumb.layout2 .actions-link .btn-cart i{
}
.product-thumb.layout2 .product-intro{
	text-align: center;
	margin-top: 20px;
}
.product-thumb.layout2 .product-name{
	margin: 10px 0 10px 0;
	padding-right: 50px;
	line-height: 15px;
	font-size: 12px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.product-thumb.layout2 .product-name a{
	color: #666666;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
}
.product-thumb.layout2 .image .label-product2{
	position: absolute;
	width: 60px;
	height: 60px;
	background: #333333;
	border-radius: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	z-index: 1;
	line-height: 60px;
	bottom: -30px;
	right: 0;
}
.product-thumb.layout2:hover .image .label-product2{
	bottom: -20px;
}
.product-thumb.layout2 .ratings{
	display: none;
}
.row_items .product-layout:not(:last-child) .product-thumb.layout2{
	padding-bottom: 35px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 23px;
}
.label-product{
	position: absolute;
	left: 0;
	top: 0;
	background: #f8484a;
	z-index: 9;
}
.label-product span::before{
	content: "";
	position: absolute;
	left: 100%;
	width: 0;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #f8484a;
	border-right: 14px solid transparent;
	border-top: 14px solid #f8484a;
}
.label-product span{
	display: block;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 28px;
	padding: 0 10px;
	height: 28px;
	position: relative;
}
.label-product.l-new{
	background: #407ac5;
	top: 0;
}
.label-product.l-new span::before{
	content: "";
	position: absolute;
	left: 100%;
	width: 0;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #407ac5;
	border-right: 14px solid transparent;
	border-top: 14px solid #407ac5;
}
.label-product.f-label + .l-new{
	top: 32px;
}	
}
.ratings{
	margin: 10px 0;
}
div[class^="rating"] {
    background-position: center left;
}
div[class^="rating"] {
    text-indent: -999999px;
}
.rating0 {
    background: url('../image/rating0.png') no-repeat;
}
.rating1 {
    background: url('../image/rating1.png') no-repeat;
}
.rating2 {
    background: url('../image/rating2.png') no-repeat;
}
.rating3 {
    background: url('../image/rating3.png') no-repeat;
}
.rating4 {
    background: url('../image/rating4.png') no-repeat;
}
.rating5 {
    background: url('../image/rating5.png') no-repeat;
}
.price{
	color:#101010;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}
.price span{
	display: block;
}
.price-old{
	font-size: 18px;
    color: #999999;
    font-weight: 400;
	text-decoration: line-through;
}
.price-new{
	color: #3b3b3b;
    font-size: 24px;
    font-weight: 600;
	line-height: 1;
}
.layout3 .actions-link .btn-cart .button:hover{
	background: #333;
}
.layout3 .actions-link .btn-cart .button{
	line-height: 40px;
	padding: 0 16px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	background: #e93838;
	border-radius: 3px;
	text-transform: capitalize;
	letter-spacing: 0;
	border: none;
	margin-top: 15px;
}
.layout3 .actions-link .btn-wishlist,
.layout3 .actions-link .btn-compare{
	display: none;
}
.layout3 .product-inner,
.layout3 .product-caption{
	float: left;
	width: 100%;
}
.layout3 .product-intro{
	float: right;
	width: auto;
}
.layout3 .price{
	float: left;
	width: auto;
	margin-top: 15px;
	margin-bottom: 0;
}
.layout3 .product-inner{
	border: 1px solid #e5e5e5;
	position: relative;
	padding: 93px 20px 15px;
}
.layout3 .product-name a:hover{
	color: #e93838;
}
.layout3 .product-name{
	margin: 0;
}
.layout3 .product-name a{
	color: #666666;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
}
.layout3 .ratings{
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.product-layout.layout4:last-child{
	border-bottom: 1px solid #e5e5e5;
}
.product-layout.layout4{
	margin: 0;
	float: left;
	width: 100%;
	padding: 30px 0 0;
	border-top: 1px solid #e5e5e5;
}
.product-layout.layout4 .product-thumb .product-inner{
	float: left;
	width: 70%;
	padding-left: 20px;
	margin: 0;
}
.product-layout.layout4 .ratings{
	display: none;
}
.product-layout.layout4 .product-thumb .image{
	width: 30%;
	float: left;
}
.product-layout.layout4 .price-old{
	font-size: 12px;
}
.product-layout.layout4 .price-new{
	font-size: 18px;
}
.product-layout.layout4 .product-name{
	margin-top: 0;
	line-height: 1;
	font-size: 13px;
}
.product-layout.layout4 .product-name a:hover{
	color: #e93838;
}
.product-layout.layout4 .product-name a{
	color: #666666;
	font-size: 13px;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
	line-height: 18px;
}
.product-layout.product-grid.layout4 .product-inner .product-caption{
	padding: 0;
}
/* countdow */
.countdown-section {
	width: 25%;
	display: inline-block;
	text-align: center;
	padding:0 6px;
	line-height: 1;
}
.countdown-section:first-child {
	padding-left:0;
}
.countdown-section .countdown-amount{
	font-size: 30px;
	color: #ffffff;
	font-weight: 600;
	padding:10px;
	background:#243238;
	display: block;
	line-height: 1;
	border-radius:3px;
}
.countdown-section .countdown-period {
	font-size:12px;
	color:#555;
	margin:8px 0 0;
	display:block;
}
.occountdown-container .item-inner .des-container {
	padding:30px 0 5px;
}
.occountdown-container .box-timer {
	margin:20px 0 0;
}
.occountdown-container .owl-wrapper-outer {
    padding: 10px 0;
}
.occountdown-container .owl-carousel .owl-buttons div {
	opacity:1;
	top:0;
	margin:-59px 0 0;
	background:none;
	width:auto;
	height:25px;
	line-height:25px;
	z-index:99;
}
.occountdown-container .owl-carousel .owl-buttons div:before {
	color:#a2a2a2;
	font-size:24px;
}
.occountdown-container .owl-carousel .owl-buttons div:hover:before {
	color:#e93838;
}
.occountdown-container .owl-carousel .owl-buttons div.owl-prev {
	left:inherit;
	right:32px;
}
.occountdown-container .owl-carousel .owl-buttons div.owl-next {
	right:15px;
}
/* furniture */
.featured-container { margin:60px 0 0; }
.featured-container .row {
	margin:0 -10px;
}
.featured-container .owl-item {
	padding:0 10px;
	z-index:1;
	position:relative;
}
.featured-container .item {
	margin-bottom:45px;
}
.featured-container .item:last-child {
	margin:0;
}
/* ------ */
.custom-products .product-layout {
	margin-bottom: 40px;
}
.custom-products .product-layout:nth-child(3n) .item-inner:before,
.custom-products .product-layout:last-child .item-inner:before {
	display:none;
}
.custom-products .product-layout.product-list {
	margin:0;
}
.product-list .layout1{
	border: none;
	float: left;
	padding: 0;
	padding-bottom: 30px;
}
.product-list  .layout1 .product-intro {
    float: left;
}
.product-list  .layout1 .btn-wishlist i,
.product-list  .layout1 .btn-compare i{
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.product-list .product-des{
	margin-top: 16px;
	display:inline-block;
	font-size:14px;
	color:#666666;
}
.product-list .des-container {
	padding:0 0 0 30px;
}
.product-list .layout1 .product-name a{
	font-size: 18px;
	color: #333333;
}
.product-list .product-thumb {
	display:inline-block;
	width:100%;
	margin-bottom:50px;
}
.product-list .item-inner .actions .add-to-links {
	text-align:center;
}
.product-list .item-inner:before {
	display:none;
}
.custom-products .product-list:last-child .item-inner {
	border:0;
}
.product-list .item-inner .product-name a {
    font-size: 18px;
    color: #333333;
}
.product-list .item-inner .product-name a:hover {
	color:#e93838;
}
.layout1 .per-sale,
.layout1 .price-new{
	display: inline-block;
}
.layout1 .price-new{
	font-size: 18px;
}
.layout1 .price-old{
	font-size: 13px;
	line-height: 1;
}
.layout1 .per-sale{
	background: #d4232b;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	line-height: 19px;
	padding: 2px 8px 0;
}
.layout1 .product-intro{
	position: relative;
	text-align: center;
}
.product-grid .layout1 .product-des,
.layout1 .price-tax{
	display: none;	
}
.layout1 .btn-cart i{margin-right: 5px;}
.layout1 .btn-wishlist i:hover,
.layout1 .btn-compare i:hover{
	color: #fff;
	border-color: #e93838;
	background-color: #e93838;
}
.layout1 .btn-wishlist i,
.layout1 .btn-compare i{
	cursor: pointer;
	font-size: 14px;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 33px;
	border: 1px solid #ccc;
	font-weight: 400;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-right: -4px;
}
.layout1 .btn-compare i{
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	margin: 0;
	margin-left: -4px;
	display: inline-block;
}
.related-product .actions-link2,
.featured-module .actions-link2,
.product-tabs-container-slider .actions-link2{
	margin: 0 -10px;
}
.layout1:hover .btn-wishlist i,
.layout1:hover .btn-compare i{
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.layout1 .btn-wishlist,
.layout1 .btn-compare{
	color: #444;
	font-size: 0;
	padding: 0;
	background: #fff;
	display: inline-block;
	width: 34px;
}
/* random */
.randomproduct-module .module-title {
	text-align:left;
	margin-bottom:20px;
}
.randomproduct-module .module-title h2 {
	font-size:18px;
	padding:0;
}
.randomproduct-module .item-inner {
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom: 1px solid #ededed;
}
.randomproduct-module .item-inner:last-child {
	margin:0;
	padding:0;
	border:0;
}
.randomproduct-module .item-inner .ratings {
	width:100%;
	float:left;
	margin:5px 0 0;
}
.randomproduct-module .item-inner .ratings div[class^="rating"] {
	background-position: center left;
}
.randomproduct-module .item-inner .price-label {
	width:100%;
}
.randomproduct-module .images-container {
	width: 80px;
    float: left;
}
.randomproduct-module .des-container {
	margin-left: 100px;
    position: relative;
	padding:0;
}
.randomproduct-module .owl-wrapper-outer {
    padding: 10px 0;
}
.randomproduct-module .product-name {
	margin:0;
}
.randomproduct-module .item-inner .actions {
	display:none;
}
/* Product-grid */
.product-grid .item-inner .actions .add-to-links {
	display:inline-block;
	margin:0;
}
/* bestseller */
.bestseller-container {
	margin:75px 0 0;
}
#content .bestseller-container .module-title h2 {
	font-size:20px;
}
#content .bestseller-container .module-title h2::first-letter {
	font-size:20px;
	color:#101010;
}
.bestseller-container .owl-carousel .owl-wrapper-outer {
	padding:10px 0;
}
.bestseller-container .item-inner {
	padding: 10px;
    margin-bottom: 10px;
}
.bestseller-container .images-container {
	width:125px;
	float:left;
}
.bestseller-container .des-container {
	margin-left:145px;
	position:relative;
}
.bestseller-container .item-inner:before {
	display:none;
}
.bestseller-container .item-inner .actions {
	background:#fff;
	padding:15px 0;
	position:absolute;
	left:0;
	top:40px;
	opacity:0;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.bestseller-container .item-inner:hover .actions {
	opacity:1;
}
/* tab categories */
.tabcategory-container {
	margin:55px 0 0;
}
.tabcategory-container .item-inner {
	margin-bottom:10px;
}
.tabs-categorys{
	padding: 0;
	text-align: left;
	margin-bottom: 23px;
	position: relative;
	z-index: 1;
}
.tabcategory-container .module-title {
	float:left;
	margin:0;
	border:0;
	width:50%;
	text-align:left;
}
.tabcategory-container .module-title h2 {
	padding:0 !important;
}
.tabcategory-container .module-title h2:before {
	display:none;
}
.tabcategory-container .box-title {
	float:right;
	width:50%;
}
/* layernavigation */
.layernavigation-module .module-title {
	display:none;
}
.layernavigation-module .filter-attribute-container label {
	position: relative;
    display: block;
    color: #252525;
    border-bottom: 1px solid #ededed;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 15px;
	letter-spacing: 1.5px;
}
.layernavigation-module .filter-attribute-container .filter-price {
	padding:0 15px;
}
/* featurer category */
.featured-cat-thumb .content-thumb .sub-featured-categories li:hover,
.featured-cat-thumb .content-thumb .sub-featured-categories li a:hover{
	color: #e93838;
}
.featured-cat-thumb .content-thumb .sub-featured-categories li:last-child{
	list-style: none;
	margin-top: 10px;
}
.featured-cat-thumb .content-thumb .sub-featured-categories li:last-child a:hover{
	background: #444444;
}
.featured-cat-thumb .content-thumb .sub-featured-categories li:last-child a{
	padding: 10px 20px 8px;
	background: #9b9b9b;
	font-weight: 600;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;	
}
.featured-cat-thumb .content-thumb .sub-featured-categories li a{
	color: #666666;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 300;
	margin-bottom: 5px;
	display: block;
}
.featured-cat-thumb .content-thumb .sub-featured-categories{
	padding-top: 10px;
	margin: 0;
}
.featured-cat-thumb .content-thumb > a{
	border: 1px solid #e5e5e5
}
.featured-cat-thumb .content-thumb > a,
.featured-cat-thumb .content-thumb .sub-featured-categories{
	float: left;
	width: 50%;
}
.featured-cat-thumb .content-thumb .name{
	color: #666;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}
.featured-cat-thumb .content-thumb{
	border-top: 4px solid #e93838;
	padding: 25px 0px 30px;
	display: inline-block;
	width: 100%;
}
/* newsletter popup */
.b-close{
	display: block;
}
.newletter-popup{
	background: #fff;
	top: 50% !important;
	margin-top: -179px;
	position: fixed !important;
	padding: 50px 20px;
	text-align: center;
	display: none;
}
#boxes .newletter-title h2{
	font-size: 23px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
#boxes .box-content > label{
	font-weight: 400;
	width: 80%;
	font-size:14px;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 50%;
	margin: 20px 0;
	padding:0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
	margin-bottom:20px;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	position: absolute;
	right: -12px;
	top: -12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
}
/* our brands */
body:not(.common-home) .banner-ourbrands {
	margin-top: 20px;
}
.banner-ourbrands {
	margin:35px 0 0;
	padding:10px 20px 10px 0;
	background:#f7f7f7;
}
.banner-ourbrands .module-title {
	display:none;
}
.banner-ourbrands .owl-carousel .owl-buttons div.owl-next {
	right:-20px;
}
.banner-ourbrands .owl-carousel:hover .owl-buttons div.owl-next {
	right:-30px;
}
/* footer */
.footer-static {
	padding:80px 0 60px;
	background:#1f1f1f;
}
.footer-static .col.col1 {
	padding-right:10px;
}
.footer-static .col.col1 .footer-title {
	display:none;
}
.footer-static .footer-content .desc-footer {
	color: #a9a9a9;
    line-height: 23px;
    font-size: 14px;
	margin:23px 0 20px;
}
.footer-static .col1 .footer-content div,
.footer-static .col1 .footer-content label {
	color: #fafafa;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 15px;
	margin:0;
}
.footer-static .col1 .footer-content div {
	margin-bottom:8px;
}
.about-static p{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    margin: 20px 0 0;
    line-height: 20px;
}
.footer-static .footer-title {
	position:relative;
	padding:0 0 20px;
}
.footer-static .footer-title h3 {
	font-size:15px;
	font-weight:700;
	margin:0;
	color:#fff;
	text-transform:uppercase;
}
.footer-static .col4 .footer-content {
	margin:10px 0 0;
}
.footer-static .footer-content li {
	line-height:30px;
	padding-bottom:5px;
}
.footer-static .footer-content li a {
	font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding: 0;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.footer-static .footer-content li a:hover {
	color:#e93838;
	padding:0 0 0 10px;
}
.contact-info ul li {
    position: relative;
    padding: 0 0 0 25px;
    line-height: 15px !important;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #666666;
}
.contact-info ul li .fa {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2px;
    color: #e93838;
    font-size: 14px;
}
.contact-info ul li .fa.fa-home {
    font-size: 16px;
}
.contact-info li .fa.fa-mobile {
    font-size: 19px;
    left: 5px;
    top: -4px;
}
.tag-static{
	margin-top: 55px;
border-top: 1px solid #e1e1e1;
padding-top: 40px;
}
.tag-static h2{
	font-size: 13px;
	color: #3b3b3b;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}
.tag-static ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.tag-static ul li {
    float: left;
    padding-right: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
	line-height: 1;
	font-size: 12px;
}
.tag-static ul li a {
    font-size: 12px;
    color: #666666;
	
}
.tag-static ul li:last-child::after {
	display: none;
}
.tag-static ul li::after {
    content: "";
    background: #666666;
    height: 12px;
    width: 2px;
    position: absolute;
    right: 0;
    top: -1px;
}
.tag-static ul li a:hover {
    color: #e93838;
}
.follow-us ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.follow-us ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.follow-us ul li a {
    font-size: 0;
    text-align: center;
}
.follow-us ul li a i {
    background: #3a599c;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 100%;
    content: "\f09a";
    display: inline-block;
    font-family: "FontAwesome";
}
.follow-us ul li.twitter a i{
    content: "\f099";
    background: #5a8eca;
}
.follow-us ul li.vimeo a i{
    content: "\f27d";
    background: #2ca2db;
}
.follow-us ul li.instagram a i{
    content: "\f16d";
    background: #527fa6;
}
.follow-us ul li.google-plus a i{
    content: "\f0d5";
    background: #ce3527;
}
.follow-us ul li a:hover i {
    background: #e93838 !important;
}
.middle-footer{
	background: #444444;
	padding: 30px 0 20px;
}
/* Newletter */
.newletter-subscribe-container {
	display:inline-block;
	width:100%;
}
#dialog-normal .newletter-title h3{
	font-size: 18px;
	color: #fff;
	font-weight: 800;
	margin: 0 20px 0 0;
	text-transform: uppercase;
	line-height: 50px;
}
#dialog-normal .newleter-content label{
	font-size: 12px;
	color: #999999;
}
#dialog-normal .newletter-title {
	display:none;
}
#dialog-normal .newletter-title label {
	display:none;
}
#dialog-normal .newleter-content{
    float: left;
    padding:0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#subscribe_email-normal {
	background: none;
	color: #666666;
	display: block;
	padding: 10px 50px 10px 15px;
	font-size: 13px;
	height: 48px;
	line-height:48px;
	border: 2px solid #373737;
	width: 100%;
}
#subscribe-normal {
	position:relative;
}
#subscribe-normal .btn {
	background:none;
	line-height: 48px;
	height:48px;
	width:48px;
	font-size: 0;
	letter-spacing: 0;
	padding: 0 ;
	color: #fff;
	border: none;
	float: right;
	position:absolute;
	top:0;
	right:0;
	z-index: 1;
}
#subscribe-normal .btn:hover{
	color:#e93838;
}
#subscribe-normal .btn:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 16px;
    content: "\f159";
	font-weight:400;
}
#notification-normal{
	position: absolute;
	bottom: -25px;
}
#notification-normal div{
	color: #FFF;
}
#notification-normal div.warning{
	color: #e93838;
}
/* link-footer */
.bottom-footer .link-footer {
	text-align:center;
}
.link-footer ul {
	padding:0;
}
.link-footer li {
	list-style:none;
	padding-right:20px;
	margin-right:20px;
	display:inline-block;
	position:relative;
}
.link-footer li:before {
	content:'';
	background:#fff;
	width:3px;
	height:1px;
	position:absolute;
	right:0;
	top:50%;
}
.link-footer li:last-child {
	margin:0;
	padding:0;
}
.link-footer li:last-child:before {
	display:none;
}
.link-footer li a {
	font-size:12px;
	color:#fff;
	text-transform:uppercase;
	font-weight:400;
}
.link-footer li a:hover {
	color:#e93838;
}
/* ------- */
.bottom-footer {
	background:#1f1f1f;
}
.bottom-footer .container-inner {
	border-top:1px solid #2b2b2b;
	padding:30px 0;
}
.bottom-footer p a{
	color: #e93838;
}
.bottom-footer p{
	color: #a8a8a8;
	background: none;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	padding: 0;
	margin: 10px 0 0;
	display:inline-block;
	width:100%;
}
#back-top {
    background: #e93838;
    bottom: 35px;
    display: none;
    height: 50px;
    position: fixed;
    right: 12px;
    width: 50px;
    line-height: 50px;
    z-index: 999;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    text-align: center;
    font-size: 23px;
    color: #fff;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#back-top::before {
    content: "\f102";
    font-family: 'FontAwesome';
    display: block;
}
#back-top:hover {
    opacity: .8
}
/* breadcrumb */
.breadcrumb a:hover{
	color: #e93838;
}
.breadcrumb a{
    color: #252525;
	font-size: 15px;
    text-transform: capitalize;
}
.breadcrumb-container {
	padding: 60px 0;
	text-align:center;
	margin-bottom: 50px;
	background:#f1f1f1;
	border-top:1px solid #d8d8d8;
	display:inline-block;
	width:100%;
}
.breadcrumb {
	font-size: 15px;
	color: #e93838;
	margin-bottom: 50px;
	padding: 50px 0;
	text-align:center;
	text-transform: capitalize;
	border-radius:0;
}
.breadcrumb-category,
.breadcrumb-checkout,
.breadcrumb-success,
.breadcrumb-special {
	padding:0;
	margin:0;
	background:none;
	float:right;
	width:50%;
	text-align:right;
}
.breadcrumb-container .category-name {
	width:50%;
	float:left;
	font-size: 24px;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
	margin:0;
	text-align:left;
}
.breadcrumb .category-name:before {
	display:none;
}
.breadcrumb > li {
	padding-right: 15px;
}
.breadcrumb > li:first-child:before {
	display:none;
}
.breadcrumb > li:last-child {
	padding:0;
}
.breadcrumb > li:hover::before a,
.breadcrumb > li:last-child::before{
	color: #e93838;
	border-color: #e93838;
}
.breadcrumb > li::before {
	content: "\f105";
	font-family: FontAwesome;
	color: #ffffff;
	font-size: 14px;
	display: inline-block;
	margin-right: 13px;
	text-align: center;
}
.breadcrumb > li + li::before{
	content: "\f105";
	padding: 0;
	color: #252525;
}
.breadcrumb li:last-child a {
	color: #e93838;
}
.category-info .img-thumbnail{
	border: none;
	border-radius: 0;
	padding: 0;
}
.custom-category #compare-total {
	font-size:14px;
	font-weight:600;
}
.custom-products .two-items:nth-child(2n+1),
.custom-products .three-items:nth-child(3n+1),
.custom-products .four-items:nth-child(4n+1){
	clear: both;
}
.toolbar{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom:20px;
}
.toolbar3 .btn-group{
	background: #fff;
}
.toolbar3{
	padding: 0;
	text-align: right;
	margin-right:30px;
	background: #fff;
	float:right;
}
.toolbar1{
	padding-left: 0;
	background: #fff;
	float:left;
}
.toolbar2 {
	float:right;
}
#input-sort,
#input-limit{
	border: 1px solid #e5e5e5;
	border-radius: 0;
	box-shadow: none;
	margin-top:3px;
	height:32px;
	font-size:11px;
	color:#252525;
	font-weight:600;
	text-transform:uppercase;
	padding:5px 12px;
}
#list-view:hover,
#list-view.selected,
#grid-view:hover,
#grid-view.selected{
	color: #e93838;
}
#list-view,
#grid-view {
	border: none;
	border-radius: 0;
	padding: 0;
	color: #666666;
	height:33px;
	width: 33px;
	background: none;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
#list-view {
	background:url("../image/bg-list.png") no-repeat 0 0 #e7e7e7;
	margin-right:10px;
}
#grid-view {
	background:url("../image/bg-grid.png") no-repeat 0 0 #e7e7e7;
}
#list-view:hover,#list-view.selected {
	background:url("../image/bg-list.png") no-repeat 0 100% #e93838;
}
#grid-view:hover,#grid-view.selected {
	background:url("../image/bg-grid.png") no-repeat 0 100% #e93838;
}
.pagination {
	margin: 0;
	background: #fff;
	padding-right: 10px;
}
.pagination > li.active > span, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    border-color: #aaaaaa !important;
    background-color: #aaaaaa !important;
    color: #FFF !important;
}
.pagination > li > a, .pagination > li > span{
	border: 1px solid #dddddd;
	border-radius: 0 !important;
	background: none !important;
	color: #252525 !important;
	font-size: 13px;
	padding: 0 5px;
	margin: 0 5px;
	width: 25px;
	height: 25px;
	line-height: 24px;
	text-align: center;
}
.toolbar4::after{
	margin-top: 12px;
}
.toolbar4{	
	margin: 0;
	margin-top: 10px;
	clear: both;
	position: relative;
	float: left;
	width: 100%;
}
.toolbar4  .col-sm-6{
	padding: 0;
}
.toolbar4  .text-right{
	margin-top: 0px;
	font-size: 13px;
	color: #6a6a6a;
	padding: 6px 0 0 10px;
	background: #fff;
	width: auto;
	float: right;
}
/* detail product */
.zoomContainer {
    top: 0px !important;
    left: 15px !important;
    right: 0px;
    bottom: 0px;
    width: 100% !important;
}
.zoomContainer .zoomLens {
    width: 100px !important;
    height: 100px !important;
}
.zoomContainer .zoomWindowContainer .zoomWindow {
    margin-left: 15px;
    border-color: #e93838 !important;
}
.thumbnails .thumbnail {
    padding: 0px;
    border: none;
	border-radius: 0;
    margin-bottom: 15px;
}
.thumbnails .thumbnail.active, 
.thumbnails .thumbnail:focus, 
.thumbnails .thumbnail:hover {
    border-color: #EBEBEB;
}
#content .col-2 .product-name {
	font-size: 24px;
	margin: 0 0 13px;
	color: #252525;
	font-weight: 700;
	text-transform: uppercase;
	font-style:italic;
}
.col-2 .ratings{
	margin:0;
}
.col-2 .price-product li span{
	font-weight: 600;
color: #333333;
font-size: 22px;
	display: block;
}
.col-2 .price-product{
	font-size: 18px;
	margin: 18px 0;
}
.col-2 .price-product .new-price {
	font-weight: 700;
	color: #e93838;
	font-size: 30px;
	display:inline-block;
}
.col-2 .price-product .old-price {
	text-decoration: line-through !important;
	color: #999999;
	font-size: 16px;
	display: inline-block;
	font-weight: 400;
	margin-left:8px;
}
.col-2 .list-unstyled li {
    text-transform: capitalize;
    padding: 5px 0px;
	font-size: 14px;
	color: #666;
	font-weight:600;
}
.col-2 .list-unstyled li .ex-text:hover{
	color: #e93838;
}
.col-2 .list-unstyled li .ex-text {
    color: #e93838;
    padding-left: 5px;
	font-weight:400;
}
.short-des{
	color: #666;
	line-height: 22px;
	padding: 20px 0;
	border-bottom:1px solid #ededed;
	border-top:1px solid #ededed;
	font-size: 14px;
	margin: 0 0 25px;
}
.col-2 .btn-wishlist,
.col-2 .btn-compare{
	line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 0;
    padding: 0;
    position: relative;
    text-align: center;
    font-weight: normal;
    float:left;
    font-size: 0;
	border:1px solid #e4e4e4;
	margin-left:10px;
    color: #666666;
    background: none;
    cursor: pointer;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.col-2 .btn-wishlist span,
.col-2 .btn-compare span {
	display:none;
}
.col-2 .btn-wishlist:before,
.col-2 .btn-compare:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 18px;
}
.col-2 .btn-wishlist:before {
	content: "\f15e";
}
.col-2 .btn-compare:before {
	content: "\f1b5";
}
.col-2 .btn-wishlist:hover,
.col-2 .btn-compare:hover {
	background:#e93838;
	border-color:#e93838;
	color:#fff;
}
.qty-product {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.qty-product label {
    float: left;
    margin: 10px 20px 0 0 !important;
    width: auto;
    color: #252525;
    font-weight: 700;
    font-size: 15px;
	text-transform:uppercase;
}
#input-quantity,
#minus, #plus{
	display: inline-block;
	height: 40px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	font-weight: 700;
	text-align: center;
	width: 25px;
	font-size: 14px;
	background: none;
	border-radius:0;
	float: left;
	background: #fff;
	padding: 0;
}
#minus{
	border-radius:0;
	border-right:0;
}
#input-quantity{
	border-right: none;
	background: none;
	border-radius:0;
}
#input-quantity + div{
	float: left;
	width: 30px;
	margin-right: 20px;
}
#input-quantity{
	width: 65px;
	height: 40px;
}
#minus:hover, #plus:hover{
	background: #e93838;
	color: #fff;
}
label[for="input-quantity"]{
	color: #100D13;
	margin-right: 10px;
}
.col-2 #button-cart i{
	display: none;
}
.col-2 #button-cart2,
.col-2 #button-cart{
	background: #000000;
	height: 45px;
	font-weight: 700;
	color: #fff;
	border: none;
	float:left;
	border-radius:0;
	text-transform:uppercase;
	padding: 0 23px;
	font-size: 14px;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.col-2 #button-cart:before,
.col-2 #button-cart2:before {
	font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 16px;
    content: "\f1cb";
	margin-right:10px;
	font-weight:400;
}
.col-2 #button-cart:hover,.col-2 #button-cart2:hover {
	background:#e93838;
}
.bootstrap-datetimepicker-widget td span:hover{
    background: none !important;
    margin: 0 !important;
}
.col-2 > .form-group {
    margin: 10px 0px 20px;
	display:inline-block;
	width:100%;
}
#product {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 20px;
}
.has-option {
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: inset 0 0 7px 0px #ddd;
}
.col-3 .nav-tabs {
	margin: 0;
	text-align:center;
	border:0;
}
.col-3 .nav-tabs li {
	float:none;
	display:inline-block;
	padding:0 40px;
	position:relative;
}
.col-3 .nav-tabs li:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	width:1px;
	height:17px;
	background:#7f7f7f;
}
.col-3 .nav-tabs li:first-child {
	border:0;
}
.col-3 .nav-tabs li:last-child:after {
	display:none;
}
.col-3 { 
	margin-bottom: 30px;
	margin-top: 80px;
}
.col-3 .nav-tabs li:hover a,
.col-3 .nav-tabs li.active a {
	color: #e93838;
	background:none !important;
	border-radius: 0;
	border:1px solid transparent;
	border-bottom:2px solid #e93838;
}
.col-3 .nav-tabs li a {
	border: 1px solid transparent;
	border-bottom:2px solid transparent;
	font-size: 18px;
	color: #666666;
	line-height:20px;
	padding:0 0 20px;
	margin: 0;
	font-weight: 700;
	text-transform:uppercase;
	position:relative;
}
.col-3 .nav-tabs li a:after {
	
}
.col-3 .tab-content {
	border: 0;
	border-top:1px solid #ededed;
	padding: 55px 0 20px;
	color: #666666;
	font-size:15px;
	line-height:28px;
	overflow: auto;
}
.image-additional-container{
}
.image-additional-container  .thumbnail {
	border:0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.related-product-container .product-des{
	display: none;
}
.related-product-container {
	margin-top: 40px;
	margin-bottom: 50px;
}
.related-product-container .module-title {
	margin-bottom:20px;
}
.owl-style2 .owl-buttons div i{
	display: block;
	font-size: 24px;
	color: #333333;
}
.owl-style2 .owl-buttons .owl-next{
	right: 0;
}
.owl-style2 .owl-buttons .owl-prev{
	left: 0;
}
.owl-style2 .owl-buttons div {
	margin: 0;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width:31px;
	height:31px;
	line-height:32px;
	background:#d8d8d8 !important;
}
.owl-style2:hover .owl-buttons div.owl-next {
	right: -10px;
}
.owl-style2:hover .owl-buttons div.owl-prev {
	left: -10px;
}
.owl-style2 .owl-buttons div:hover {
	background:#e93838 !important;
}
.owl-style2 .owl-buttons{
	position: static;
	width: auto;
	background: none;
}
.owl-style2 .owl-controls{
	line-height: 0;
	height: 0;
}
#gallery_02.owl-carousel .active + div + div,
#gallery_01.owl-carousel .active + div + div{
	border-right: none;
}
#gallery_02.owl-carousel .owl-item,
#gallery_01.owl-carousel .owl-item {
	padding: 0 5px;	
}
.alert.alert-success{
	text-align: center;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	border-radius:0;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
#map-canvas{
	min-height: 400px;
	margin: 20px 0;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}
/* check-out--------------------------- */
.checkout-cart #content h1, .checkout-cart #content h2 {
    font-size: 16px;
    margin: 0 0 20px;
	color:#444;
	font-weight:700;
	text-transform: uppercase;
}
.checkout-cart h1 {
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background: #f1f1f1;
}
.table-bordered thead tr td {
    background: #f1f1f1;
    border: 0;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}
.table-bordered thead td {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd !important;
    color: #4d4d4d;
    float: none;
    font-size: 14px;
    font-weight: normal;
    min-width: 150px;
    text-align: center;
    vertical-align: middle;
}
.table-responsive td .img-thumbnail {
    border-radius: 0;
    border: 0;
}
.table-responsive td {
    padding: 15px !important;
    text-align: center;
    vertical-align: middle !important;
    color: #4d4d4d;
    font-size: 14px;
}
.table-bordered td {
    text-align: center;
    vertical-align: middle !important;
    padding: 8px !important;
    font-weight: 700;
}
.table-responsive td .form-control {
    width: 45px;
    height: 38px;
    border: 1px solid #DDD;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    font-size: 14px;
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
}
.table-responsive td .input-group-btn {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}
.table-responsive tbody td.text-right {
    color: #e93838;
    font-size: 20px;
    font-weight: 700;
}
.table-responsive td button {
	border-radius:0 !important;
}
.checkout-cart .panel-group .panel {
    border-radius: 0;
    margin-bottom: 15px;
    border:0;
    background: none;
    box-shadow: none;
}
.checkout-cart #accordion .panel-heading a {
    font-size: 14px;
    text-transform: uppercase;
    color: #555;
	font-weight:700;
	text-decoration:none;
}
.panel-group .panel .panel-body {
    border: 1px solid #f2f2f2 !important;
    border-top: 0;
}
.panel-group .panel-heading {
    background: #f5f5f5;
    border: 1px solid #eee;
    padding: 12px 15px;
    border-radius: 0;
}
.panel-group .panel-heading .panel-title {
	font-weight:700;
	text-transform:uppercase;
	font-size:13px;
}
.checkout-cart #accordion .panel-heading {
    background: #f1f1f1;
}
.checkout-cart .panel-collapse input {
    height: 40px;
    box-shadow: none;
    border: 1px solid #dddddd;
    color: #4d4d4d;
    font-size: 13px;
    width: 300px;
    border-radius: 0;
}
.checkout-cart .panel-collapse .input-group-btn {
    float: left;
}
.checkout-cart .panel-collapse .input-group-btn input {
    width: auto;
    background: #222 !important;
    color: #fff !important;
    border: 0 !important;
	height: 40px !important;
	padding:0 20px !important;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.checkout-cart .panel-collapse .input-group-btn input:hover {
	background:#e93838 !important;
}
.panel-group .panel {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
    border: 0;
}
.checkout-checkout .panel-group .panel-collapse h2 {
    color: #444;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
/* my-account---------------------------*/
.account-account #content h2, .account-wishlist #content h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px;
	font-weight:700;
}
.account-account #content a {
	font-size:14px;
	font-weight:700;
}
/* instagram */
.instagram-container {
	margin:55px 0 0;
	background:#252525;
	padding:50px 0;
}
.instagram-container .container-inner {
	position:relative;
}
.instagram-container .module-title {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:-20px 0 0;
	text-align:center;
}
.instagram-container .module-title h2 {
	padding:15px 23px;
	font-size:12px;
	color:#252525;
	font-weight:400;
	background:#fff;
}
.instagram-container .text-title {
	text-align:center;
}
.instagram-container .row {
	margin:0 -3px;
}
.instagram-container .owl-item {
	padding:0 3px;
}
.instagram-container .fancybox img {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.instagram-container .fancybox:hover img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* banner-static----------------------- */
.banner-static img  {
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.banner-static:hover img  {
	opacity:0.8;
}
.banner-static1 {
	margin:30px 0 0;
}
.banner-static1 .col {
	position:relative;
	text-align:center;
	background:#f7f7f7;
	padding:30px 20px;
}
.banner-static1 .icon-banner {
	width:40px;
	height:40px;
	line-height: 34px;
	float:left;
}
.banner-static1 .icon-banner:before {
	font-size: 40px;
	color:#9b9b9b;
	content:'\f3b0';
    display:inline-block;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: normal;
    vertical-align: middle;
}
.banner-static1 .col2 .icon-banner:before {
	content:'\f126';
}
.banner-static1 .col3 .icon-banner:before {
	content:'\f2b6';
}
.banner-static1 .banner-content {
	text-align:left;
	margin-left:55px;
}
#content .banner-static1 .banner-content h2 {
	margin:0;
	font-size:14px;
	color:#252525;
	font-weight:700;
	text-transform:uppercase;
}
.banner-static1 .banner-content p {
	margin:6px 0 0;
	color:#252525;
	font-size:13px;
}
/*Banner-center-----------------------------------*/
.banner-center {
	margin:40px 0 0;
}
.banner-center .col {
	position:relative;
}
.banner-center .col2 {
	overflow:hidden;
}
.banner-center .col2:before,.banner-center .col2:after {
	content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
	z-index:1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    transition: ease .15s all;
}
.banner-center .col2:before {
	bottom: -35px;
    right: -90px;
}
.banner-center .col2:hover:before {
	right: -35px;
}
.banner-center .col2:after {
	top: -35px;
    left: -90px;
}
.banner-center .col2:hover:after {
	left: -35px;
}
.banner-center .col img {
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.banner-center .col:hover img {
	opacity:0.8;
}
.banner-center .col .banner-content {
	width:80%;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	bottom:-100px;
	background:#fff;
	padding:30px 0;
	text-align:center;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.banner-center .col:hover .banner-content {
	bottom:-90px;
}
.banner-center .banner-content h3 {
	font-size: 14px;
    color: #bfbebe;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    letter-spacing: 2px;
}
#content .banner-center .banner-content h2 {
	font-size: 22px;
    color: #252525;
    margin: 13px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}
.banner-center .banner-content a {
	height: 32px;
    line-height: 35px;
    padding: 0 20px;
    background: #252525;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0 0;
}
.banner-center .banner-content a:hover {
	background:#e93838;
}
/*Banner-center1-----------------------------------*/
.banner-center1 {
	position:relative;
	overflow:hidden;
	margin:45px 0 0;
}
.banner-center1:before,.banner-center1:after {
	content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: ease .15s all;
    -moz-transition: ease .15s all;
    transition: ease .15s all;
}
.banner-center1:before {
	bottom: -35px;
    right: -90px;
}
.banner-center1:hover:before {
	right: -35px;
}
.banner-center1:after {
	top: -35px;
    left: -90px;
}
.banner-center1:hover:after {
	left: -35px;
}
/* Banner-left-------------------------------------- */
.banner-left {
	margin:60px 0 0;
	position:relative;
	overflow:hidden;
}
.banner-left:before {
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
	pointer-events: none;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.banner-left:hover:before {
	box-shadow: 0 0 0 15px rgba(255,255,255,0.2) inset;
}
/*Social Footer--------------------------------------*/
.footer-static .footer-content .social-footer {
	padding:0;
	margin:40px 0 0;
	display:inline-block;
	width:100%;
}
.social-footer .social-title h2 {
	font-size:15px;
	color:#ffffff;
	font-weight:700;
	margin:0;
	text-transform:uppercase;
}
.social-footer ul {
	margin:30px 0 0;
	display:inline-block;
	width:100%;
	text-align:left;
	padding:0;
}
.footer-static .footer-content .social-footer li {
	float:left;
	list-style:none;
	margin-right:10px;
}
.footer-static .footer-content .social-footer li:last-child {
	margin:0;
}
.footer-static .footer-content .social-footer li a {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #c8c8c8;
    border: 1px solid #4d4d4d;
    font-size: 0;
    line-height: 38px;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
	letter-spacing:0;
}
.footer-static .footer-content .social-footer li a:hover {
	background:#e93838;
	border-color:#e93838;
}
.footer-static .footer-content .social-footer li a:before {
	padding: 0 !important;
    font-size: 14px;
	line-height:38px;
    display: inline-block;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: normal;
    vertical-align: middle;
}
.footer-static .footer-content .social-footer li.facebook a:before {
	content: "\f343";
}
.footer-static .footer-content .social-footer li.twitter a:before {
	content: "\f360";	
}
.footer-static .footer-content .social-footer li.rss a:before {
	content: "\f3ea";
}
.footer-static .footer-content .social-footer li.youtube a:before {
	content: "\f408";
}
.footer-static .footer-content .social-footer li.google a:before {
	content: "\f3f7";
}
/*Paypal---------------------------------------------*/
.paypal-footer {
	display:inline-block;
	width:100%;
	text-align:center;
	margin:20px 0 0;
}
.paypal-footer ul {
	padding:0;
}
.paypal-footer ul li {
	list-style:none;
	display:inline-block;
	margin-right:10px;
}
.paypal-footer ul li:last-child {
	margin:0;
}
/* scroll */
.fix-nav {
	background:#fff;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9997;
	padding:15px 0 10px;
	-webkit-animation: fadeInDown 300ms linear;
    -moz-animation: fadeInDown 300ms linear;
    -ms-animation: fadeInDown 300ms linear;
    animation: fadeInDown 300ms linear;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
/* Mobile------------------------------------------- */
@media(max-width: 1199px){
	.b-modal,
	.newletter-popup,.item-inner .add-to-links div.qv-button-container, .quickview-container{
		display: none !important;
	}
	#blog_home .articles-name { font-size:13px; }
	.menu-recent .owl-carousel:hover .owl-buttons div.owl-next { right:0; }
	#dialog-normal .newleter-content { width:70%; }
	.tabcategory-container .owl-carousel:hover .owl-buttons div.owl-next { right:-5px; }
	.fix-nav { position:initial !important; animation: fadeInDown 0s linear; }
	.banner-ourbrands .item { text-align:center; }
	.banner-ourbrands .item a { display:inline-block; }
	.banner-static .col { padding:20px 10px; }
	.banner-static1 .banner-content p { font-size:15px; }
	#blog_home .articles-date span { font-size:18px; }
	#blog_home .articles-date { font-size:12px; }
}
@media(max-width: 991px){	
	.zoomContainer{
		display: none !important;
	}
	.main-menu > .container .row > .col-sm-6 + div{
		float: right;
	}
	.main-menu > .container .row > .col-sm-6{
		width: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.main-menu > .container{
		position: relative;
	}
	.ma-nav-mobile-container {
		display: block !important;
	}
	.footer-static { padding:40px 0 20px; }
	.footer-static .col.col1 .footer-title { display:block; }
	.footer-static .col .footer-title:after {
		content: "\f107";
		display: block;
		font-weight: 700;
		font-family: FontAwesome;
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -20px;
		color: #fff;
	}
	.footer-static .footer-title { cursor:pointer; }
	.footer-static .footer-content {
		display:none;
	}
	.footer-static .col { margin-bottom:20px; }
	.footer-static .col.col1 { padding:0; }
	.block-header { font-size:8px; }
	header { padding:20px 0 10px; }
	.box-top { position:initial; width:100px; margin:0 auto; }
	#logo a{
		display: inline-block;
	}
	#logo{
		text-align: center;
		margin:15px 0;
	}
	#top .box-top { text-align:center; position:initial; float:none; width:150px; margin:0 auto; padding:0; border:0; }
	#search-by-category .search-container .categories-container .hover-cate p {
		padding:0 28px 0 20px;
	}
	#cart .dropdown-menu { right:-80px; }
	.header-link .header-content .box-content { right:-60px; }
	.item-inner .price-label { min-height:30px; }
	.search-box { right:-163px; }
	.banner-static1 .icon-banner { width:100%; text-align:center; }
	.banner-static1 .banner-content { margin:10px 0 0; display:inline-block; width:100%; text-align:center; }
	#content .banner-static1 h2 { font-size:13px; margin:5px 0 0; }
	.banner-static1 .banner-content a { font-size:9px; height:25px; line-height:25px; padding:0 10px; }
	.banner-center .col .banner-content { bottom:-60px !important; }
	.banner-center .banner-content h3 { font-size:10px; }
	#content .banner-center .banner-content h2 { font-size:11px; margin:5px 0 0; }
	.banner-center .banner-content a { margin:10px 0 0; height:20px; line-height:21px; padding:0 10px; font-size:10px; }
	.tabcategory-container .module-title { width:100%; }
	.tabcategory-container .box-title { float:left; width:100%; }
	#blog_home .item-inner .articles-image img { width:100%; } 
	.newletter-subscribe { max-width: 80%; }
	.featured-module { margin:50px 0 0; }
	.custom-products .three-items:nth-child(3n+1) { clear:none; }
	.custom-products .product-layout:nth-child(3n) .item-inner:before { display:block; }
	.custom-products .product-layout:nth-child(2n) .item-inner:before { display:none; }
	#input-quantity + div { margin-right: 5px; }
	.col-2 #button-cart:before { display:none; }
	.col-2 #button-cart { font-size:13px; padding:0 15px; }
	.col-3 .nav-tabs li a { font-size:14px; }
	.banner-home .col-md-9 { width:73%; }
	.banner-home .col-md-3 { width:25%; }
}
@media(max-width: 767px){
	.owl-buttons{
		display: none;
	}
	.col-2 { margin-top:30px; }
	#top { text-align:center; }
	#top .top-left { float:none; display:inline-block; }
	.search-box { right: -120px; }
	.language-currency { text-align:center; float:none; display:inline-block; }
	.header-laguage,.header-currency,#top-links { display:inline-block; float:none; }
	.search-container { width:250px; }
	.currency { float:none; }
	.header-right { float:none; }
	.block-header { font-size:10px; display:inline-block; width:100%; margin:0; }
	#cart .dropdown-menu { right: -85px; }
	.top-cart { margin:0; }
	header { padding:20px 0; text-align:center; }
	.banner-static { margin:30px 0 0; }
	.banner-static img { width:100%; }
	.banner-static1 .col.col2 { margin:20px 0; }
	.banner-home .col-md-9 { width:100%; }
	.banner-home .col-md-3 { width:100%; }
	.banner-center .col img { width:100%; }
	.banner-center .col .banner-content { bottom:30px !important; }
	.banner-center .col2 { margin:20px 0; }
	.product-list .des-container { padding:20px 0 0; }
	.banner-left { margin:30px 0; }
	.banner-left img { width:100%; }
	.paypal-footer ul li { margin-bottom:5px; }
	.article-item-inner .article-intro { margin-top:30px; }
	#back-top {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	#back-top::before{
		font-size: 20px;
	}
}
@media(max-width: 640px){
	.banner-center p { font-size:14px; }
	.product-list .product-inner,
	.product-list .image{
		width: 100%;		
	}
	.product-list .image{
		margin-bottom: 20px;
	}
	#dialog-normal .newletter-title { text-align:center; width:100%; }
	#dialog-normal .newletter-title h3 { margin:0; }
	#dialog-normal .newleter-content { width:100%; }
	.banner-center { margin:30px 0 0; }
}
@media(max-width: 580px){
	.top-left,.link-header { width:100%; text-align:center; }
	.link-header { padding:0 0 13px; }
	.language-currency,#top-links,.language,.currency { float:none; display:inline-block; }
	.countdown-section .countdown-amount { padding:10px 0; }
	.articles-image img { width:100%; }
	.search-container { width:250px; }
	.col-3 .nav-tabs li { border:0; }
	.col-3 .nav-tabs li a { font-size:15px; padding:0 13px; }
	.text-title { margin:15px 0 0; }
	.text-title p { font-size:12px; }
	#content .module-title h2 { font-size:18px; }
	#content .banner-center h2 { font-size:20px; }
}
@media(max-width: 480px){
	.col-3 .nav-tabs { text-align:left; }
	.col-3 .nav-tabs li { width:100%; margin:0 0 10px; text-align:left; padding:0; }
	.col-3 .nav-tabs li:after { display:none; }
	.col-3 .nav-tabs li a { padding: 0 0 10px; }
}
@media(max-width: 320px){
	.toolbar::after{
		display: none;
	}
	#input-sort{
		margin-bottom: 10px;
	}
}
@media(max-width: 560px){
	#dialog-normal .newletter-title::before{
		display: none;
	}
	#dialog-normal .newletter-title{
		padding: 0;
		margin-bottom: 20px;
	}
	#dialog-normal .newletter-title,
	#dialog-normal .newleter-content{
		width: 100%;
		text-align: center;		
	}
}
@media(max-width: 480px){
	.custom-products .product-grid {
		width: 100%;
	}
	.toolbar1 { width:100%; }
	.toolbar3 { margin:10px 0 0; clear:both; float:left;	}
	.toolbar2 { float:left; margin:10px 0 0; clear:both; }
}
@media(max-width: 380px){
	.block-header { font-size:8px; }
	.language-currency,#top-links { width:100%; }
	.link-header { padding:8px 0 22px; }
	#search-by-category .search-container .categories-container .hover-cate p {
		padding:0 22px 0 10px;
		font-size:11px;
	}
	#cart .dropdown-menu { width:290px; right:-90px; }
	.bestseller-container .images-container { width:75px; }
	.bestseller-container .des-container { margin-left:95px; }
	.col-2 #button-cart {
		border: 0;
		line-height: 45px;
		height: 45px;
		width: 45px;
		border-radius: 100%;
		padding: 0;
		position: relative;
		text-align: center;
		font-weight: normal;
		display: inline-block;
		font-size: 0;
		color: #fff;
		background: #101010;
		cursor: pointer;
		-webkit-transition: ease .3s all;
		-moz-transition: ease .3s all;
		transition: ease .3s all;
	}
	.col-2 #button-cart:before {
		font-family: 'Material-Design-Iconic-Font';
		display: inline-block;
		font-size: 18px;
		content: "\f1cb";
		margin:0;
	}
}
.banner-sidebar:hover img{
	opacity: .7;
}
.randomproduct-module .module-title::after{
	display: none;
}
#tab-review{
	padding: 15px;
}