.article-page .article-list{
	float: left;
}
.article-page .article-item{
	float: left;
	margin-bottom: 40px;
}
.article-page .article-name{
	font-size: 18px;
	font-weight:700;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.articledate i{
	margin-right: 5px;
}
.articledate{
	font-size: 11px;
	text-transform: uppercase;
	color: #787878;
	padding: 10px 0px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	margin: 0px 0px 10px;
}
.intro-content{
	font-size: 14px;
	margin: 13px 0px;
	line-height: 30px;
}
.readmore-page i{
	margin-left: 5px;
	display: inline-block;
	font-size: 11px;
}
.readmore-page{
	background: #F1574D;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 10px 20px;
	display: inline-block;
}
.readmore-page:hover{
	background: #ED2A1E;
	color: #fff;
}
.article-title{
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #222;
}
.article-description{
	font-size: 14px;
	margin: 20px 0px;
	line-height: 30px;
}
.article-container img{
	float: left;
	margin-right: 30px;
}
.article-description p{

}
.article-date{
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	color: #787878;
	margin: 0;
}
@media(max-width: 767px){
	.article-container img {
		width:100%;
		margin:0 0 20px 0;
	}
}