.product-description h3 {
    color: #000000!important;
    line-height: 1.5!important;
    font-size: 17px!important;
    margin-top: 15px!important;
    font-weight: 600;
  }
  .product-description h4 {
    margin-top: 20px!important;
    line-height: 26px !important;
    font-weight: 600;
  }
  .product-description p, .sub-description {
    font-size: 15px!important;
    color: #000!important;
    text-align: justify!important;
  }
  /*.product-description p {
    line-height: 28px!important;
  }*/
  .product-description ul {
    font-size: 14px!important;
    color: #000!important;
    line-height: 28px!important;
  }
  .product-description ul .sub-description {
    text-align: justify!important;
  }
  .product-description ul li {
    font-size: 15px!important;
  }
.product-description .fa-check {
    color: #000!important;
}
/** common **/
.marginnbottom {
   margin-bottom: 30px;
}
.product-description h4 {
    margin-top: 2px!important;
    line-height: 26px !important;
    font-weight: 600;
}

/** Why TE  **/
.whytepara {
     font-size: 20px;
    text-align: justify;
    padding-left: 15px;
}
.whytetitle {
    font-weight: bold;
    text-align: left;
    margin-top:20px;  
}
.paddlr {
    padding-left: 0px;
    padding-right: 28px;
}
.p0 {
   padding-left: 0;
   padding-right: 0;
}
 /** How to use **/
.usetitle {
    text-align: justify;
    font-weight: bold;
    margin-bottom: 25px;
 }

.forshadowbox {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: #fff;
    color: #000;
}
.usebox {
    margin-top: 7rem;
}
.imgalign {
    text-align: center;
}
.shadow {
    box-shadow: 0 0 0.7rem -0.1rem rgba(0,0,0,0.15);
    width: 22%;
    margin-right: 3%;
    min-height: 120px;
    border-radius: 7px;
}
.useimg {
    text-align: center;
    width:70%;
    display: table; 
    padding-left: 50px;
}
.forshadowboximg {
    padding: 3% 20% 0 20%;
    width: 100%;
    margin-top: -9.7rem;
}
.forshadowboximg2 {
    padding: 3% 20% 0 20%;
    width: 100%;
    margin-top: -8.7rem;
}
.forshadowboximg3 {
    padding: 3% 20% 0 20%;
    width: 100%;
    margin-top: -9.5rem;
}
.forshadowbox-mob {
    box-shadow: 0 0 0.7rem -0.1rem rgba(0,0,0,0.15);
    margin-bottom: 10rem;
    border-radius: 7px;
}
.phnviewmar {
    margin-bottom: 20px;
    margin-top: 2px !important; 
}
.s02 {
    padding: 0 5px;
}
.uset {
    padding-right: 20px; 
    line-height: 22px !important;
}
.lineht {
    line-height: 22px !important;
}

/** health benefits **/
 .healthtitle {
    text-align: justify;
    font-weight: bold;
    margin-bottom: 20px;
}
.healthpara {
    text-align: justify;
    font-size: 17px;
}
.healthimg {
    min-width: 1px!important;
    display: table;
    margin: auto;
    width: 72%;
    margin-bottom:20px;
}
.imgtitle {
    font-size: 17px;
    font-weight: 300;
    text-align: left !important;
}

/** table **/
.frtable {
    padding-left:0px;
    padding-right:0px;
}
#prod-comp {
    overflow-x: auto;
}
#prod-comp table th img {
    width: 148px;
}
.table-heading {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        padding: 8px 14px 6px !important;
        background-color: #f7f7f7;
        font-weight: bold;
        color: #626262;
        float: none !important;
        margin-right: 0;
        text-align: center;
        width: 106px;
    }
    .table-data {
        padding-top: 8px !important;
        padding-left: 14px;
        padding-bottom: 8px;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        background-color: #fff5ec;
    }
    .table-row th {
        text-align: center;
        vertical-align: top;
        min-width: 90px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .table-tag {
        font-size: 13px!important;
    }
    .health-concern-image img, #benefits .benefit-image img {
        display: table;
        margin: auto;
    }
    .health-concern-heading, #benefits .benefit-heading {
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: 17px;
    }
    #ing2, #ing3, #ing4 {
        display: none;
    }
    .ingredient-details {
       padding-bottom: 15px;
    }
@media only screen and (min-width: 768px){
    .fordesktoptable{
        table-layout: fixed;
        width: 100%;
        text-align: center;
    }
    .usebox {
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media(max-width: 768px) {
        #benefits .benefit-container {
            padding: 0!important;
        }
    }
    .ing {
        width: 10%;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
    }
    .single-ing {
        margin-bottom: 15px;
        margin-top: 15px;
    }