
/*feature-slider*/
body{
     overflow-x:hidden;
}
b {
    color: #000;
}

.new-title {
    margin-top: 20px;
}
.review_part .tour_pack_text h2 {
    font-size: 60px !important;
    margin-bottom: 30px !important;
    text-transform: capitalize !important;
}
/*.sec-welcome{
    background-image: url("/image/img/bg-02.jpg");
}*/



@media (max-width:1537px) {                      
        .buck-carousel .text-holder p   {   font-size: 1.5rem; }
        .sec-item{  margin-top: -90px; }
}
.text-holder {
    margin-right: 15px!important;
}
.checked {
  color: orange;
}
.fa {  font-size: 19px; }

/* Deafult Margin & Padding */
.car-holder div img {
    margin: 0;
}
/* bounce-animate */
.bounce-animate {
  animation-name: float-bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear; }

@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }
    
    /* 4. about-area */
    
.section-title-cap {
    margin-bottom: 29px;
    text-align: none;
}


.about-wrapper { margin-top: 0px; }

.section-title span {
	font-size: 18px;
	color: #ef8829;
	font-weight: 600;
	margin-bottom: 22px;
	display: inline-block;
}
.section-title p {
	margin-bottom: 0;
	margin-top: 10px;
}

.section-title-cap h1 {
	text-transform: capitalize;
}

.about-text p {
	margin-top: 30px;
	margin-bottom: 38px;
}

/* about 2 */

.about-list li {
	padding-bottom: 26px;
}
.about-list li:last-child{padding-bottom:0;}

@media(max-width:767px){
    
     .sec-item{ margin-top: 7px;}
    .banner7 { position: relative;z-index: 0;top: 0px;}
    .col-xl-6 { margin-top:-90px; }
    .row121 { display:none;}
    .about-area{ overflow-x:hidden; }
    .sec-welcome { overflow-x:hidden; }
   .about-icon img{width: 60%;}
   .about-icon{ float: left;  margin-right: 0px;  margin-top: 0px;  }
   .sec-welcome{ display:none;}
   .size-w-1 { width: 100.2%; }
   
   .new-title span {
        font-weight: 700;
        color: #333333;
        font-size: 41px;
        position: absolute;
        -webkit-transform: translateY(-26%);
        transform: translateY(-26%);
        opacity: .2;
        left: 10%;
        padding-bottom: 288px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }

/*.te{
    color: black;
    padding-left: 74px;
    font-size: 21px;

}*/
    .te{
        color: black;
        text-align: center;
        font-size: 1.4em!important;
        font-family: 'Muli', sans-serif!important;
        font-weight: 600!important;
        text-transform: capitalize!important;
        line-height: 25px;
    }
    .new-title-wrap .new-title {
        display: inline-block;
        position: relative;
        margin-top: -9px;
    }

    .new-title h2 {
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }

}


/* Mobile  */

    @media(min-width:1025px){
        .about-area { overflow-x:hidden; }
        .sec-welcome { overflow-x: none;min-height: 550px; }
    
    .te{
        
        color: black; 
        text-align: center; 
        font-size: 2.6em!important;
        font-family: 'Muli', sans-serif!important;
        font-weight: 600!important;
        text-transform: capitalize!important;
    }
    
    .section-gap {display:none;}
    .sec-welcome-mobile {display:none;}
    
    .about-icon {
    	float: left;
    	margin-right: 30px;
    	margin-top: 10px;
    }  
    .new-title span {
        font-weight: 700;
        color: #333333;
        font-size: 60px;
        position: absolute;
        width: 939.75px;
        left: 36%;
        padding-bottom: 288px;
        -webkit-transform: translateY(-26%);
        transform: translateY(-26%);
        opacity: .2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        
    } 
    .new-title-wrap .new-title {
        display: inline-block;
        position: relative;
        margin-top: -9px;
    }
    
    .new-title h2 {
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    
    .size-w-1 {
        width: 68.2%;
    }
    .tltslide img {
        width: 99vw!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    
 
    .about-area { overflow-x:hidden; }
        
    .sec-welcome { overflow-x: none;min-height: 550px; }
    
    .te{
        color: black; 
        text-align: center; 
        font-size: 2em!important;
        font-weight: 600!important;
        text-transform: capitalize!important;
    }
    
    .section-gap {display:none;}
    .sec-welcome-mobile {display:none;}
    
    .about-icon {
    	float: left;
    	margin-right: 30px;
    	margin-top: 10px;
    }  
    
    .new-title span {
        font-weight: 700;
        color: #333333;
        font-size: 60px;
        position: absolute;
        width: 939.75px;
        left: 36%;
        padding-bottom: 288px;
        -webkit-transform: translateY(-26%);
        transform: translateY(-26%);
        opacity: .2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    } 
    
    .new-title-wrap .new-title {
        display: inline-block;
        position: relative;
        margin-top: -9px;
    }
    
    .new-title h2 {
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    
    .size-w-1 {
        width: 68.2%;
    }
   
}

@media(max-width:1000px) {
    #cart #cart-total {
        top: -5px !important;
    }
}

    #cart #cart-total {
        top: -6px;
    }
    
    .about-list-text {
    	overflow: none;
    }
    .about-list-text h3 {
    	font-size: 24px;
    	font-weight: 500;
    	margin-bottom: 5px;
    }
    .about-list-text p {
    	margin-bottom: 0;
    	padding-right: 10px;
    }
    .about1-img {
        margin-right: -184px;
        margin-top: 0px;
    }


    .about-wrapper a.btn {
    	margin-top: 51px;
    }

    p{
        font-size: 15px;
    	color: #FFFFFF;
    }
    
@media (max-width:1537px) {


}

    .mybtn{
        
        border: 2px solid #fff;
        padding: 11px 30px;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: capitalize;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .mybtn:hover {
        background: #000;
        border: 2px solid #a2a2a2;
        color: #fff;
        transition: .5s ease-in;
        -webkit-transition: .5s ease-in;
        -moz-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        -ms-transition: .5s ease-in;
    }
    .item-welcome.one, .item-welcome.four {
        top: 0%;
    }
    .txt-m-101 {
        font-weight: 600;
    }

    /*Countdown css*/
    #countdown {
    	width: 80%;
    	height: 155px;
    	text-align: center;
    	background: #222;
    	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
    	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
    	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
    	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
    	border: 1px solid #111;
    	border-radius: 5px;
    	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    	margin: 5% auto;
    	padding: 24px 0;
    	position: relative;
    }
    
    #countdown:before{
    	content:"";
    	width: 8px;
    	height: 40%;
        top: 30%;
    	background: #444;
    	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
    	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
    	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
    	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
    	border: 1px solid #111;
    	border-top-left-radius: 6px;
    	border-bottom-left-radius: 6px;
    	display: block;
    	position: absolute;
    	left: -10px;
    }
    
    #countdown:after{
    	content:"";
    	width: 8px;
    	height: 40%;
        top: 30%;
    	background: #444;
    	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
    	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
    	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
    	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
    	border: 1px solid #111;
    	border-top-right-radius: 6px;
    	border-bottom-right-radius: 6px;
    	display: block;
    	position: absolute;
    	right: -10px;
    }
    
    #countdown #tiles{
    	position: relative;
    	z-index: 1;
    }
    
    #countdown #tiles > span{
    	width: 23.5%;
    	/*max-width: 92px;*/
    	font: bold 48px 'Droid Sans', Arial, sans-serif;
    	text-align: center;
    	color: #111;
    	background-color: #ddd;
    	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
    	background-image:    -moz-linear-gradient(top, #bbb, #eee);
    	background-image:     -ms-linear-gradient(top, #bbb, #eee);
    	background-image:      -o-linear-gradient(top, #bbb, #eee);
    	border-top: 1px solid #fff;
    	border-radius: 3px;
    	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    	margin: 0 3px;
    	padding: 18px 0;
    	display: inline-block;
    	position: relative;
    }
    
    #countdown .labels{
    	width: 100%;
    	height: 25px;
    	text-align: center;
    	position: relative;
    	bottom: -5px;
    }
    
    #countdown .labels li{
    	font: bold 12px 'Droid Sans', Arial, sans-serif;
    	color: #f47321;
    	text-shadow: 1px 1px 0px #000;
    	text-align: center;
    	text-transform: uppercase;
    	display: inline-block;
    	padding: 0;
    }
    .deal-product {
        border-radius: 4px;
        box-shadow: hsl(0, 0%, 96%) 0 0 16px;
        overflow: hidden;
        background-color: hsl(0, 0%, 100%);
        padding: 10px;
        min-height: 350px;
    }
    .old-price {
        text-decoration: line-through;
    }
    .product-name, .price-container {
        text-align: center;
        font-size: 15px!important;
    }
    .product-name {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 40px;
    }
    .countdown-text h2 {
        font-size: 22px!important;
        text-align: center;
    }
    .more-deals-button, .coupon-text {
        text-align: center;
    }
    .countdown-container {
        padding: 10px;
        margin-top: 33px;
    }
    .new-price {
        font-weight: 600;
    }
@media(max-width: 1000px) {
    #countdown {
        width: 100% !important;
        height: 128px;
    }
    #countdown #tiles > span {
        width: 22.5% !important;
        font: bold 32px 'Droid Sans', Arial, sans-serif;
    }
    .deal-product {
        min-height: 230px !important;
    }
    #countdown:before, #countdown:after {
        top: 20%;
        height: 60%;
    }
    .product-name {
        padding-top: 5px;
        min-height: 50px!important;
        padding-right: 0!important;
    }
    .deals-overlay {
        width: 50%!important;
    }
    .countdown-container {
        margin-top: 0!important;
    }
    .des-container {
        padding-left: 7px!important;
    }
}
    .price-rating {
        margin: 0!important;
    }
    .deals-overlay {
        right: 0px;
        top: 10px;
        position: absolute;
        background:#f49a25;
        color:#fff;
        padding: 4px;
        font-weight: 600;
        width: 25%;
        text-align: center;
        z-index: 1;
    }