
/*//////////////////////////////////////////////////////////////////
[ LOADDING ]*/
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } 
}


/*//////////////////////////////////////////////////////////////////
[ Item welcome ]*/
.item-welcome-parent {
  position: relative;
}

.item-welcome {
  width: 20%;
  position: absolute;
}

.item-welcome.one {
  top: 0%;
  left: 6%;
}

.item-welcome.two {
  top: 0;
  left: 39%;
}

.item-welcome.three {
  top: 0;
  right: 7%;
}

.item-welcome.four {
  top: 24%;
  right: 0;
}

/*---------------------------------------------*/
.item-welcome-pic-dark {
  opacity: 0;
}


/*---------------------------------------------*/
.item-welcome:hover .item-welcome-pic-dark {
  opacity: 1;
}

.item-welcome:hover .item-welcome-pic-light {
  opacity: 0;
}

@media (max-width: 991px) {
  .item-welcome-parent {
    padding: 0;
  }

  .item-welcome-parent > img {
    display: none;
  }

  .item-welcome {
    width: calc(50% - 50px);
    position: unset;
    padding-bottom: 50px;
  }

  .item-welcome.one {
    margin-right: 25px;
    margin-left: 25px;
  }

  .item-welcome.two {
    order: -2;
    margin-right: 25px;
    margin-left: 25px;
  }

  .item-welcome.three {
    order: -1;
    margin-right: 25px;
    margin-left: 25px;
  }

  .item-welcome.four {
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {

  .item-welcome {
    width: calc(50% - 15px);
  }

  .item-welcome.one {
    margin-right: 15px;
    margin-left: 0;
  }

  .item-welcome.two {
    margin-right: 15px;
    margin-left: 0;
  }

  .item-welcome.three {
    margin-left: 15px;
    margin-right: 0;
  }

  .item-welcome.four {
    margin-left: 15px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {

  .item-welcome {
    width: 100%;
    margin: 0 !important;
  }

}

/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/
.cl0 {color: #fff;}
.cl3 {color: #000000;}
.cl6 {color: #000000;}
.cl7 {color: #000000;}

/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.txt-s-101 {
 
  font-size: 14px;
  line-height: 1.6;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.txt-m-101 {
  font-size: 15px;
  text-transform: uppercase;
}

.txt-m-102 {
  font-size: 20px;
  line-height: 1.2;
}

/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/

.txt-l-102 {

  font-size: 35px;
  line-height: 1.2;
  text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.size-w-1 {
  width: 68.2%;
}

.size-w-2 {
  width: 25%;
}


/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/
.bg0 {background-color: #fff;}
.bg11 {background-color: rgba(51,51,51,0.5);}


/*---------------------------------------------*/
.hov-img1 {
  display: block;
}

.hov-img1 > img{
  width: 100%;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
}

.hov-img1:hover > img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*---------------------------------------------*/
.hov1 {
  height: 0px;
}

.hov1-child {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.hov1-parent:hover .hov1 {
  height: 25px;
}

.hov1-parent:hover .hov1-child {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*//////////////////////////////////////////////////////////////////
[ XL ]*/
@media (max-width: 1199px) {

  /*---------------------------------------------*/
  .respon2 {
    width: 50%;
  }
}

/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 575px) {

  /*---------------------------------------------*/
  .respon2 {
    width: 100%;
  }

}

