.account_dashboard
{
	font-size:14px;
	color:#666;
	line-height:26px;
	font-weight:500;
	text-transform:capitalize;
	 
}
.account_dashboard .clear{
	clear:both;
}
.account_dashboard a
{
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
.account_dashboard h1, .account_dashboard h2, .account_dashboard h3, .account_dashboard h4, .account_dashboard h5, .account_dashboard h6 {
	color: #898989;
	margin:  0;
	font-family: 'Montserrat', sans-serif;
}
/* Override the bootstrap defaults */
.account_dashboard h1 {
	font-size: 30px;
}
.account_dashboard h2 {
	font-size: 24px;
}
.account_dashboard h3 {
	font-size: 18px;
}
.account_dashboard h4 {
	font-size: 15px;
}
.account_dashboard h5 {
	font-size: 12px;
}
.account_dashboard h6 {
	font-size: 10.2px;
}
/* account_dashboard style start */

.admin_wrapper .admin_images_section
{
    text-align: center;
    background: #EEEEEE;
    padding: 20px 15px;
}
.admin_wrapper .admin_images_section img
{
    max-width: 125px;
    width: 100%;
    border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.admin_wrapper .admin_images_section .images_border
{
    border: 2px solid #fff;
    max-width: 125px;
    margin: auto;
    border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.admin_wrapper .admin_images_section h3
{
    font-size: 18px;
    font-weight: 600;
    color: #f49a25;
    margin: 10px 0 5px;
}
.admin_wrapper .admin_images_section p {
    margin: 0;
    color: #000;
    font-size: 14px;
	text-transform: lowercase;
}
.admin_wrapper .pencil_icon
{
    width: 50%;
    float: left;
    text-align: center;
	border-right: 1px solid #36508b;
	padding: 7px;
}
.admin_wrapper .pencil_icon:last-child
{
	border-right: 0px solid #36508b;
}
.admin_wrapper .admin_icon_wrapper
{
    background: #54bfc2;
    display: flex;
    border-top: 1px solid #36508b;
}

.admin_wrapper .pencil_icon i {
    font-size: 24px;
    color: #000;
}
/* right side style */
.account_dashboard .right_order_wrapper 
{
    text-align: center;
}
.account_dashboard .right_order_wrapper .totle_order_wrapper
{
    background: #fff;
    padding:35px 5px;
}
.account_dashboard .right_order_wrapper .totle_order_wrapper i
{
   color:#ffffff;
   font-size: 30px;
}
.account_dashboard .right_order_wrapper .totle_text_wrapper
{
    background: #eee;
    padding: 15px 5px;
}
.account_dashboard .right_order_wrapper .totle_text_wrapper h5 {
    font-size: 18px;
    color: #888;
    padding-top: 5px;
    font-weight: 700;
}
.account_dashboard .change_items 
{
    margin-top:30px;
}
.account_dashboard .change_items .change_password_wrapper
{
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px 10px;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	    margin-bottom: 30px;
}
/* ------------- ------------- */

.account_dashboard .change_items .change_password_wrapper .change_icon_wrapper i {
 align-items: center;
    justify-content: center;
    position: relative;
    height: 75px;
    width: 75px;
    line-height: 75px;
    /*background: #f49a25;*/
    color: #f49a25;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    transition: 1s box-shadow;
    margin: auto;
	font-size: 35px;
    line-height: 75px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
.account_dashboard .change_items .change_password_wrapper:hover i {
	background:#eee;
	color:#888;
}

/* ------------- ------------- */
.account_dashboard .change_items .change_password_wrapper h3 a
{
    font-size: 15px;
    font-weight: 600;
    margin-top: 12px;
    display: inline-block;
}

.recent_orders h3
{
    background: #EEEEEE;
    color: #000;
    padding: 12px 15px;
    margin-bottom: 16px;
    font-weight: 600;
}

.recent_orders .table>thead>tr>th {
    border-right: 1px solid #ddd;
	border-bottom: 0;
}
.recent_orders .table>thead
{
    border: 1px solid #ddd;
}
.recent_orders .table tbody
{
    border: 1px solid #ddd;
    border-top: 0;
}
.recent_orders .table>thead>tr>th {
    padding: 10px 15px;
}
.recent_orders .table>tbody>tr>td
{
    padding: 17px 15px;
    border-top: 1px solid #ddd;
    background: #fff;
}
.recent_orders .table tr td.pending_section span
{
    background: #f49a25;
    padding: 6px 15px;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
}
.recent_orders .table tr td.eye_icons i
{
    background: #eeeeee;
    color: #888;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
}
.account_dashboard .totle_text_wrapper h4 {
    font-size: 15px;
    color: #888;
}
.recent_orders .table tr td.eye_icons i:hover
{
    background: #f49a25;
	color:#ffffff;
}
.recent_orders .table tr td
{
	vertical-align: middle;
}
.ad_my_account h3
{
    background: #f49a25;
    color: #000;
    padding: 10px 15px;
    font-weight: 600;
    margin-top: 30px;
}

.ad_my_account i {
    font-size: 14px;
    margin-right: 5px;
    color: #f49a25;
}

.list-group.ad_my_account a {
    border: 1px solid #ddd;
    color: #535456;
    padding: 8px 15px;
}
 .list-group.ad_my_account a:hover {
    background:#eee;
	color:#f49a25;
}
.new_account_dashboard .totle_order_wrapper h5 {
    font-size: 24px;
    color: #000;
    padding: 0 10px;
     
}
a {
    color: #000;
}
/*responsive */
@media only screen and (max-width: 1200px)
{
.account_dashboard .totle_text_wrapper h4 {
    font-size: 13px;
}
.account_dashboard .right_order_wrapper .totle_text_wrapper h5 {
    font-size: 15px;
}
.account_dashboard .right_order_wrapper .totle_order_wrapper i {
    font-size: 28px;
}
.account_dashboard .change_items .change_password_wrapper .change_icon_wrapper i {
    height: 70px;
    width: 70px;
    line-height: 75px;
    font-size: 30px;
    line-height: 70px;
}
.account_dashboard .change_items .change_password_wrapper h3 a {
    font-size: 13px;
}
.recent_orders h3 {
    font-size: 15px;
}
}
@media only screen and (max-width: 768px)
{
.account_dashboard .right_order_wrapper {
    text-align: center;
    margin-bottom: 30px;
}
.account_dashboard .change_items {
    margin-top: 0;
}
.account_dashboard_wrapper .col-sm-3, .account_dashboard_wrapper .col-sm-4
{
    width: 50%;
    float: left;
}
}
@media only screen and (max-width: 450px)
{
.account_dashboard_wrapper .col-sm-3, .account_dashboard_wrapper .col-sm-4
{
    width:100%;
    float: left;
}
}

/* new page */
.account_dashboard.new_account_dashboard .right_order_wrapper .totle_text_wrapper {
    background: #eeeeee;
    padding: 20px 10px;
}
.account_dashboard.new_account_dashboard .right_order_wrapper {
    text-align: left;
    border: solid darkgray;
}
.account_dashboard.new_account_dashboard h4 {
    font-size: 14px;
    color: #888;
	text-align: center;
}

.account_dashboard.new_account_dashboard .right_order_wrapper .totle_text_wrapper h5 {
    font-size: 20px;
    color: #5b626b;
    padding-top: 7px;
    font-weight: 700;
}
.account_dashboard.new_account_dashboard .right_order_wrapper .totle_order_wrapper i {
   color: #000;
    font-size: 21px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
    position: absolute;
    right: 23px;
    top: 20px;
    background: linear-gradient(#666, #666, #666);
    box-shadow: 0px 2px 6px 2px #00000073;
	-moz-box-shadow: 0px 2px 6px 2px #00000073;
	-webkit-box-shadow: 0px 2px 6px 2px #00000073;
}
.account_dashboard.new_account_dashboard .right_order_wrapper .totle_order_wrapper {
    padding: 30px 5px;
}

.account_dashboard.new_account_dashboard .change_items .change_password_wrapper .change_icon_wrapper {
    align-items: center;
    justify-content: center;
    position: relative;
    height: 75px;
    width: 75px;
    line-height: 75px;
    /*background: #f49a25;*/
    color: #000;
    transition: 1s box-shadow;
    margin: auto;
    font-size: 35px;
    line-height: 75px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.account_dashboard.new_account_dashboard .change_items .change_password_wrapper:hover .change_icon_wrapper
{
	/* background: #eee;*/
}
.account_dashboard.new_account_dashboard .change_items .change_password_wrapper .change_icon_wrapper i {
    font-size: 35px !important;
    line-height: 75px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
.account_dashboard.new_account_dashboard .change_items .change_password_wrapper {
    padding: 30px 10px 15px;
}
.account_dashboard.new_account_dashboard .change_items .change_password_wrapper h3 a {
    margin-top: 30px;
}
.account_dashboard form
{
    margin-top: 20px;
}
.account_dashboard form input[type="text"], .account_dashboard form textarea
{
    border-radius: 0;
    outline: 0;
    border-color: #ddd;
    padding: 15px 15px;
    height: 40px;
    border: 0;
    box-shadow: none;
    border-bottom: 2px solid #f49a25;
   margin-bottom: 10px;
}
.account_dashboard form textarea
{
	height:75px;
}
.account_dashboard form .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.account_dashboard .product-thumb .image {
    text-align: center;
    padding: 15px 0;
}
.account_dashboard .product-thumb .button-group {
    overflow: initial;
}

.account_dashboard .product-thumb .caption {
    padding: 15px 0 5px;
}
.account_dashboard .owl-wrapper-outer {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius:0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.recent_orders .table tr td.pending_section span {
    background: #666;
    padding: 6px 15px;
    color:  #fff;
    text-transform: uppercase;
    border-radius: 5px;
}






.mpacc-orders .table > thead > tr > th{
	border-top: 1px solid #eee !important;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
	padding: 8px;
}
.mpacc-orders .table > tbody > tr > td{
	border: none;
	vertical-align: middle;
	padding: 8px;
}
.mpacc-orders .mpmain-table .table{
	margin-bottom: 0;
	background: none;
	border-radius: 8px;
	text-align: left;
}
.mpacc-dashboard .text-center{
	text-align: center;
}
.mpacc-dashboard .text-right{
	text-align: right;
}
 
 
 .mpacc-orders .table-condensed > tbody > tr > td{
	color: #000;
}

/*.mpacc-orders .table-condensed .complete-order{
	background: #78cb5f !important;
}
.mpacc-orders .pending-order{
	background: #EBAE08 !important;
}

.mpacc-orders .Shipped-order{
	background: #78CB5F !important;
}
.mpacc-orders .failed-order {
	background: #E46E46 !important;
}
.mpacc-orders .Canceled-order{
	background: #E46E46 !important;
}

.mpacc-orders .cancelled-order{
	background: #EE293A !important;
}*/

.mpacc-other-links{
	margin-bottom: 10px;
}
.mpacc-other-links ul li a {
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition:0.5s;
  position: relative;
}

.mpacc-other-links ul li a:hover {
  border: 2px solid rgba(255,255,255,0);
  color: #000;
}

.mpacc-other-links ul li a::before, .mpacc-other-links ul li a::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}
.foo::before {
  border-bottom: 3px solid #1CBAFA;
  border-left: 3px solid #1CBAFA;
  border-radius: 8px;
  -webkit-transform-origin: 0 100%;
}
.foo::after {
  border-top: 3px solid #1CBAFA;
  border-radius: 8px;
  border-right: 3px solid #1CBAFA;
  -webkit-transform-origin: 100% 0%;
}
.mpacc-other-links ul li a:hover::after, .mpacc-other-links ul li a:hover::before {
  -webkit-transform: scale(1);
}
.mp-complete-order .mp-Order{
	background: #78cb5f;
	color: #000;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 100px;
    display: inline-block;
}
.mp-Test{
	background: #EE293A;
	color: #000;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 100px;
    display: inline-block;
}
.mp-Canceled-order{
	background: #E46E46;
	color: #000;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 100px;
    display: inline-block;
}
.mp-pending-order{
	background: #EBAE08;
	color: #000;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 100px;
    display: inline-block;   
}
.mp-failed-order{
	background: #E46E46;
	color: #000;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 100px;
    display: inline-block;   
}


@media only screen and (min-width: 768px) {
	
	.mpacc-orders .mpmain-table .mp-button{
		margin-bottom: 15px;
	}
	.mpacc-orders .mpmain-table .mp-return{
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 980px) {
	
	.mpacc-orders .mpmain-table .mp-button{
		margin-bottom: 0px;
	}
	.mpacc-orders .mpmain-table .mp-return{
		margin-bottom: 0px;
	}
	.mpbtn-submit{
		padding: 10px 40px;
		font-size: 14px;
	}
	
}