<table cellspacing="0" cellpadding="0" border="0" style="width:100%;table-layout:fixed;">
    <tr>
        <td style="text-align:left;">
            <input name="orderreviews[{number}][product_id]" type="hidden" value="{pr_id}" style="font-family:inherit">
            <strong>{pr_name}</strong>
        </td>
    </tr>
    <tr>
        <td>
             {image}
        </td>
    </tr>
    <tr>
        <td width="100%" style="font-family:Verdana;color:#f0ad4e;direction:ltr; text-align:center;">
            <span style="display:inline-block">
                <span style="display:inline-block;float:left;margin-right:15px">
                    <input id="rat{number}_1" name="orderreviews[{number}][rating]" type="radio" value="1" style="font-family:inherit">
                    <label for="rat{number}_1"><span style="font-size:21px;padding-left:0">★</span></label>
                </span>
                <span style="display:inline-block;float:left;margin-right:15px">
                    <input id="rat{number}_2" name="orderreviews[{number}][rating]" type="radio" value="2" style="font-family:inherit">
                    <label for="rat{number}_2"><span style="font-size:21px;padding-left:0">★★</span></label>
                </span>
                <span style="display:inline-block;float:left;margin-right:15px">
                    <input id="rat{number}_3" name="orderreviews[{number}][rating]" type="radio" value="3" style="font-family:inherit">
                    <label for="rat{number}_3"><span style="font-size:21px;padding-left:0">★★★</span></label>
                </span>
                <span style="display:inline-block;float:left;margin-right:15px">
                    <input id="rat{number}_4" name="orderreviews[{number}][rating]" type="radio" value="4" style="font-family:inherit">
                    <label for="rat{number}_4"><span style="font-size:21px;padding-left:0">★★★★</span></label>
                 </span>
                <span style="display:inline-block;float:left;margin-right:15px">
                    <input id="rat{number}_5" name="orderreviews[{number}][rating]" type="radio" value="5" checked="" style="font-family:inherit">
                    <label for="rat{number}_5"><span style="font-size:21px;padding-left:0">★★★★★</span></label>
                </span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <ul style="margin:0;padding:0">
                <textarea name="orderreviews[{number}][text]" cols="40" rows="5" style="font-size:12px;padding-left:3px;min-height:60px;width:99%;border:solid 1px #e1e1e1;font-family:inherit;margin:0 0 15px 0"></textarea>
            </ul>
            <br>
        </td>
    </tr>
</table>
                           