@font-face {
    font-family: arcena;
    src: url(ARCENA.ttf);
}

.mpblogpost-layout .image .list-inline {
	margin-top: 10px; 
	margin-bottom: 0; 
	text-align: center; 
}
.blog-post-sep { 
	margin: 40px 0;  
}
.mp-grid-layout .inner-layout{
	margin-bottom: 30px;
}

ul, li {

    margin: 0px !important;
    font-size: 15px !important;
}


.mp-grid-layout .inner-layout .image{
	position: relative;
}
.mp-grid-layout .inner-layout .image .view{
	position: absolute;
	top: 30px;
	right: 0;
 	color: #fff;
	padding: 5px 5px;
}
.mp-grid-layout .inner-layout .caption h4{
	font-size: 15px !important;
	margin-top: 0;
	line-height: 20px;
	height: 42px;
	overflow: hidden;
	font-weight: 600;
}
.mp-grid-layout .inner-layout .caption h4 a{
	color: #000;
	text-transform: none;
	text-decoration: none;
}
.mp-grid-layout .inner-layout .caption{
	background: #ffffff;
	padding: 14px 14px 3px 14px;
}
.mp-grid-layout .inner-layout .dar{
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 10px !important;
	margin-left: 0;
	display: block;
}
.mp-grid-layout .inner-layout .dar li a{
	color: #000;
}
.mp-grid-layout .inner-layout iframe{
	margin-bottom: -6px;
	width: 100%;
}
.mp-grid-layout .inner-layout .dar li i{
	font-size: 18px;
	padding-right: 5px;	
	color: #3A4C70;
}


.mp-grid-layout .inner-layout .dar li{
	padding: 0;
}
.mp-grid-layout .inner-layout .rating{
	margin: 15px 0 0;
}
.mp-grid-layout .inner-layout .author{
	text-align: right;
	font-size: 12px !important;
    color: #666 !important;
}
.mp-grid-layout .inner-layout .cmt-wsh{
	margin-bottom: 0;
	border-top: 1px solid #fff;
	padding-top: 15px;
}
.mp-grid-layout .inner-layout .desc{
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
	min-height: 90px;
}
.mp-blog h1{
	text-align: left;
	font-family: roboto, 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.mp-list-group h1{
	text-align: center;	
}
.mp-blog h1, .mp-list-group h1{
	margin-bottom: 15px;
	text-transform: none;
	font-weight: normal;
}

.mp-blog h3{
	text-align: left;
	font-family: roboto, 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px!important;
}
.mp-list-group h3{
	text-align: left;	
}
.mp-blog h3, .mp-list-group h1{
	margin-bottom: 15px;
	text-transform: none;
	font-weight: normal;
}


.mp-blog .blog-info{
	margin: 0px 0 15px;
	font-size: 14px;
	color: #000;
	
}
.mp-blog .social-media li a i{
	font-size: 24px;
}
.mp-blog .social-media li{
	padding-right: 0;
	padding-left: 3px;
}
.mp-blog .social-media li h3{
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.mp-blog .blog-info li a{
	color: #000;
}
.mp-blog .thumbnails .thumbnail{
	border-radius: 0;
	padding: 0;
	border: none;
	margin-bottom: 0px;
}
.mp-blog .main-image{
	position: relative;
	margin-bottom: 10px;
}
.mp-blog .addthis_toolbox{
	/*position: absolute;*/
	bottom: 0;
}
.mp-blog .addthis_toolbox .share{
	float: left;
	background: #fff;
	margin: 0;
	color: #666;
	text-transform: uppercase;
	margin-right: 5px;
}
.mp-blog .addthis_toolbox .share i{
	padding: 3.2px 5px;
	background: #008329;
	color: #fff;
	font-size: 14px;
	line-height: normal;
	display: inline-block;
	vertical-align: top;
}
.mp-blog .addthis_toolbox .share span{
	padding: 0px 5px;
	font-size: 12px;
	line-height: normal;
	display: inline-block;
	font-weight: bold;
}
.mp-blog .thumbnails{
	margin-left: 0;
}
.mp-blog .thumbnails > li:last-child{
	padding-right: 0;
}
.mp-blog .thumbnails > li:first-child{
	padding-left: 0;
}
.mp-blog .thumbnails > li {
	margin-left: 0;
	padding-right: 3.5px;
	padding-left: 3.3px;
}
.mp-blog .thumbnails > li.mpblogimage-additional{
	width: calc(100% / 4);
	float: left;
}
.mp-blog .main-image .thumbnail{
	margin-bottom: 0;
}
.mp-blog .main-image .thumbnail{
	margin-bottom: 0;
}
.mp-blog .blog-details .description img{
	max-width: 100%;
}
.mp-blog .blog-details .description{
	font-size: 15px;
	line-height: 28px;
	margin-top: 0px;
	margin-bottom: 35px;
	margin-right: 0px;
    width: 94%;
}
.mp-blog #form-comment .form-control{
	background: #fff;

}

 

.mp-blog #form-comment h1{
	font-size: 16px;
}
.mp-blog #form-comment h1 i{
	font-size: 16px;
}
.mp-blog .btn-primary, #blogsearch .btn-primary {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f49a25;
	border: none;
	text-shadow: none;
	-webkit-text-shadow: none;
}
.mp-blog .btn-primary:hover, #blogsearch .btn-primary:hover {
	background: #000000;
}
.mp-blog .inner-rating {
	text-align: center;
	background: #F2F2F2;
	padding: 10px;
	min-height: 167px;
}
.mp-blog .inner-rating .alert-success{
	position: absolute;
	width: 100%;
}
.mp-blog .inner-rating .rating-container{
	margin-bottom: 10px;
}
.mp-blog .inner-rating .form-horizontal{
	position: relative;
}
.mp-blog .inner-rating .form-group{
	padding-top: 60px;
}
.mp-blog .rating-wrap h1{
	font-size: 16px;
}
.mp-blog .rating-wrap h1 i{
	font-size: 16px;
}
.mp-blog .blog-details .tags .icon-tag{
	float: left;
	background: #f49a25;
	color: #fff;
	padding: 4px 8px;
	border-radius: 2px;	
	margin-right: 5px;
}
.mp-blog .blog-details .tags a{
	background: #EAE8E9;
	color: #000;
	padding: 4px 12px;
	float: left;
	margin-right: 5px;
	border-radius: 2px;	
	margin-bottom: 5px;
}
.mp-fa{
	font-size: 22px;
}
.mp-blog .nav-tabs > li > a{
	margin-right: 2px;
	line-height: 20px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	background: #EAE8E9;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	color: #3a4c70;
	padding: 20px 30px;
	display: inline-block;
}
.mp-blog .nav-tabs > li.active > a, .mp-blog .nav-tabs > li.active > a:focus, .mp-blog .nav-tabs > li.active > a:hover{
	background: #3a4c70;
	color: #fff;
}
.all-list h3{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: normal;
}
.all-list h3 i{
	font-size: 20px;
}
.all-list .mpblog-layout{
	margin-bottom: 15px;
}

.all-list .mpblog-layout .caption h4 a{
	color:#333;
}
.all-list .mpblog-layout .caption h4{
	margin-top: 0;
	font-size: 14px;
	margin-bottom: 3px;
	line-height: 20px;
	font-weight: normal;
}
.mp-list-group .list-group-item{
	border: none;
	padding: 7px 0px;
	-webkit-transition: linear 0.2s; /* Safari */
    transition: linear 0.2s;
    color: #666;
    display: block;
}
.mp-list-group{
	border: 1px solid #ddd;
	padding: 5px 10px;
	margin-bottom: 15px;
}
.mp-list-group h1{
	border-bottom: 1px solid #ddd;
	margin-top: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}
.mp-list-group .list-group-item:hover, .mp-list-group .list-group-item:active, .mp-list-group .list-group-item:focus, .mp-list-group .list-group-item.active{
	background: none;
	color: #2199C6;
	padding-left: 5px;
}
.mpblog-cate-wrap{
	/*background: #F5F5F5;*/
	padding: 15px;
	margin-bottom: 30px;	
}
.mpblog-cate-wrap h2{
	margin-top: 0;
	font-family: arcena;
	font-weight: 500;
	margin-bottom: 15px;
}
.mpblog-cate-wrap, .mpblog-cate-wrap p{
	font-size: 14px;
	line-height: 20px;
}
.mpblog-cate-wrap img {
    width: 100%;
    max-width: 100%;
}
.mpblog-cate-wrap .img-thumbnail{
	border: none;
	padding: 0;
}
.mpblog-subcate h3{
	font-weight: 500;
	font-size: 21px;
	margin-bottom: 10px;
}
.mpblogpost-list{
	background: #ffffff;
	padding: 15px;
	margin-bottom: 30px;
}
.mpblogpost-list .small-rating{
	margin-top: 0;
}
.small-rating .rating-icons i{
	left: 18%;
}
.mpblogpost-list .caption h4{
	margin-bottom: 15px;
	line-height: 20px;
}
.mpblogpost-list .caption h4 a{
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}
.mpblogpost-list .dar li i {
    font-size: 18px;
    padding-right: 5px;
    color: rgb(33, 154, 200);
}
.mpblogpost-list .dar{
	font-size: 14px;
	margin-bottom: 15px;
}
.mpblogpost-list .dar li a {
    color: #000;
}
.mpblogpost-list .desc {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 15px;
}
.mpblogpost-list .image{
	position: relative;
}
.mpblogpost-list .image .dar{
	margin-bottom: 0px;
}
.mpblogpost-list .image .view {
    position: absolute;
    top: 30px;
    right: 0;
    background: #000;
    color: #fff;
    padding: 5px 10px;
}
@media(min-width: 768px){
	.mp-grid-layout .inner-layout .image img{
		width: 100%;
	}
	.mp-blog .social-media{
		text-align: center;
		margin-bottom: 0px 0 10px;
	}
	
	.small-rating{
		margin-top: 10px;	
	}
	.all-list .mpblog-layout .caption h4{
		margin-top: 5px;
	}
	.mp-blog h1, .mp-list-group h1{
		font-size: 18px;
	}

}
@media(min-width: 980px){
	.mp-grid-layout .inner-layout .image img{
		width: auto;
	}
	.mp-blog .social-media{
		margin: 7px 0 15px;
		text-align: right;
	}
	
	.all-list .mpblog-layout .image{
		padding-right: 0;
	}
	.all-list .mpblog-layout .caption h4{
		margin-top: 0px;
	}
}
@media(max-width: 767px){
	.mp-blog .thumbnails > .mpblogimage-additional{
		width: 49%;
	}
	.mp-blog .thumbnails .thumbnail{
		margin-bottom: 0;
	}
	.mp-blog .blog-details .tags{
		margin-bottom: 15px;
	}
	.mp-grid-layout .inner-layout .dar li a{
		font-size: 12px;
	}
	.mp-grid-layout .inner-layout .image .img-responsive{
		width: 100%;
	}
	.mp-blog .social-media{
		text-align: center;
		margin-bottom: 0px 0 10px;
	}
	
	.mp-grid-layout .inner-layout .dar .col-sm-12{
		text-align: center;
	}
	.mp-blog h1, .mp-list-group h1{
		font-size: 16px;
		line-height: normal;
	}
}

#blogsearch .form-control {
	height: 38px;
	box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

/*Rating starts*/

.rating-icons-container {	
	margin-top: 5px;
}
.rating-icons{
	width: 30px;
	height: 28px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	position: relative;
	display: inline-block;
	background: #fff;
	border: 1px solid #adadad;
}
.rating-icons.full i{
	color: #fff !important;
}
.rating-icons i{
	position: absolute;
	top: 4px;
	color: #adadad !important;
	padding: 0 !important;
	font-size: 16px !important;
	left: 24%;
	cursor: pointer;
}
/*.rating-icons:hover, .rating-icons.half:hover .grey{
	background: rgba(33, 154, 200, 1);
}*/

.rating-icons.full .red{
	background: rgba(33, 154, 200, 1);
	display: block;
	width: 100%;
	height: 100%;
}
.rating-icons.half .red{
	background: rgba(33, 154, 200, 1);
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
.rating-icons.half .grey{
	background: #ccc;
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}

.small-rating .rating-icons-container {
	margin-top: 0;
	display: inline-block;
}
.small-rating .rating-icons {
	width: 18px;
	height: 18px;
}
.small-rating .rating-icons i {
	font-size: 11px !important;
	top: 2px;
}
/*Rating ends*/

/*Next Previous Links starts*/
.mpblognavs .mpblognav {
	position: fixed;
	top: 50%;
	z-index: 1000;
	color: #fff;
	width: 230px;
	margin-top: -100px;
	-webkit-transition:all .8s cubic-bezier(0.77,0,.175,1);
	-moz-transition:all .8s cubic-bezier(0.77,0,.175,1);
	-ms-transition:all .8s cubic-bezier(0.77,0,.175,1);
	-o-transition:all .8s cubic-bezier(0.77,0,.175,1);
	transition:all .8s cubic-bezier(0.77,0,.175,1);
	backface-visibility:hidden
}
.mpblognavs .mpblognav:hover { 
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
	ms-transform:translate(0,0);
}
.mpblognavs .mpblognav:hover.mpblognavs-nextlink {
	left: 0;
}
.mpblognavs .mpblognav:hover.mpblognavs-prevlink {	
	right : 0;
}
.mpblognavs .mpblognavs-nextlink { 
	left: -180px;
}
.mpblognavs .mpblognavs-prevlink {
	right: -180px;
}
.mpblognavs .mpblognav:hover.mpblognav .mpblognavs-title {
	opacity:1;
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
	ms-transform:translate(0,0);
	-webkit-transition:all .8s cubic-bezier(0.075,.82,.165,1) .4s;
	-moz-transition:all .8s cubic-bezier(0.075,.82,.165,1) .4s;
	-ms-transition:all .8s cubic-bezier(0.075,.82,.165,1) .4s;
	-o-transition:all .8s cubic-bezier(0.075,.82,.165,1) .4s;
	transition:all .8s cubic-bezier(0.075,.82,.165,1) .4s;
}
.mpblognavs .mpblognavs-image {
	float: left;
}
.mpblognavs .mpblognavs-icon {
	float: left;
	height: 112px;
	background: #333;
	width: 50px;
	position: relative;
	display: table;
	text-align: center;
}
.mpblognavs .mpblognavs-icon i {
	display: table-cell;
	vertical-align: middle;
	font-size: 25px;
}
.mpblognavs .mpblognavs-title h4{
	color: #fff;
}
.mpblognavs .mpblognavs-title {
	background: rgba(0,0,0,0.5);
	padding: 10px 24px;
	display: block;
	-webkit-transition:all .3s ease-in .2s;
	-moz-transition:all .3s ease-in .2s;
	-ms-transition:all .3s ease-in .2s;
	-o-transition:all .3s ease-in .2s;
	transition:all .3s ease-in .2s;
	-webkit-transform:translate(0,-50px);
	-moz-transform:translate(0,-50px);
	-ms-transform:translate(0,-50px);
	-o-transform:translate(0,-50px);
	transform:translate(0,-50px);
	ms-transform:translate(0,-50px);
	opacity:0;
	width: 230px;
	margin-top: -2px;
}
.mpblognavs .mpblog-mpblognavs h4, .mpblog-links .mpblog-mpblognavs h4 {
	color: #333;
	margin: 0; 	
}
/*Next Previous Links ends*/
.rating-wrap{
	margin-bottom: 15px;
}
#mpblogsubcates .owl-wrapper-outer{
	box-shadow: none;
	border: none
	border-radius: 0;
}
#mpblogsubcates .owl-wrapper-outer .owl-item{
	margin: 0 5px;
}
.video-container {
	position: relative;
	padding-bottom: 55.97%;
	height: 0; 
	overflow: hidden;
	margin-bottom: -0.535%;
	background-color: #fff;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#column-right .all-list h1, #column-left .all-list h1, #blogsearch h1{
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 15px;
}
.mpbloglike i{
	cursor: pointer;
}
#blogsearch {
	margin-bottom: 15px;
}
.mp-comments {
	padding: 15px 20px;
	margin: 10px 0;

}
.mp-avatar {
	background: #eee;
	color: #fff;
	height: 35px;
	width: 35px;
	text-align: center;
	display: table;
	float: left;
        border:1px solid #6E6E6E;
}
.mp-comments .cmt-wrap{
	margin-left: 65px;
}
.mp-comments .cmt-wrap h5{
	color: #908b8b;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin: 10px 0;
}
.mp-avatar i {
	font-size: 25px;
	display: table-cell;
	vertical-align: middle;
        color: #000;
}
.mp-commentauthor {
	font-style: italic;
	font-weight: 600;
}
.capcha fieldset .col-sm-2, .capcha fieldset .col-sm-10{
	width: 100%;
	text-align: left;
}
.capcha #input-captcha{
	margin-bottom: 5px;
}
.capcha .login-text{
	padding-top: 60px;
}
.mp-grid-layout h1{
	text-align: left;
	font-size: 20px;
    font-family: roboto, 'Oswald', sans-serif;
}
/* For Journal */
.img-responsive{
	display: block;
  	max-width: 100%;
  	height: auto;
  	min-width: 100%;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.list-inline, .list-unstyled{
	padding: 0;
	margin-top: 0;
	list-style: none
}
.list-inline li{
	display: inline-block;
}
.journal-mblog .inner-layout{
	margin-right: 20px;
}
.journal-mblog .mp-grid-layout{
	margin-right: -20px;	
}
.thumbnails {
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}
.journal-mblog p{
	margin-bottom: 10px; 
}
.journal-mblog .nav-tabs{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 15px;
}
.journal-mblog .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.clearfix:before,
.clearfix:after{
	display: table;
  	content: " ";
}
.clearfix:after{
	clear: both;
}
.journal-mblog hr{
	margin: 20px 0;
}
.journal-mblog .tab-content > .tab-pane {
    display: none;
}
.journal-mblog .tab-content > .active {
    display: block;
}
.oc2 .journal-mblog .tab-content{
	display: block;
	padding: 0;
	background: none;
}
.journal-mblog h1{
	margin-top: 15px;
}
.journal-mblog .mp-list-group h1{
	margin-top: 0;
}
@media(min-width: 768px) {
	.journal-mblog .capcha .inner-rating{
		margin-right: 7.5px;
	}
	.journal-mblog .rating-wrap .inner-rating{
		margin-left: 7.5px;
	}
}
.journal-mblog .quickview-button{
	display: none;
}
.img-circle {
    border-radius: 50%;
}
.journal-mblog .all-list .mpblog-layout .caption, .j-container .all-list .mpblog-layout .caption{
	padding-left: 15px;
}
.journal-mblog #blogsearch .form-control{
	min-height: 31px;
}
.all-list hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.m-blog-head {
	font-weight: 900;
	font-family: arcena;
	color: #101010;
    font-size: 22px;
}
.journal-mblog .mpblogpost-list .caption{
	padding-left: 15px;
}
.journal-mblog .mpblogpost-list .dar li{
	margin-right: 10px;
}
.journal-mblog .video-container{
	padding-bottom: 53.01%;
}
.journal-mblog .mpblog-cate-wrap .img-thumbnail{
	padding-right: 10px;
}
.journal-mblog .mpblog-subcate h4{
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}
.journal-mblog .journal-box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@media(min-width: 980px) {
	.journal-mblog #column-right + #content .video-container{
		padding-bottom: 51.41%;
	}
	.journal-mblog #column-left + #content .video-container{
		padding-bottom: 50.41%;
	}
}
@media(min-width: 1200px) {
	.journal-mblog #column-right + #content .video-container{
		padding-bottom: 51.41%;
	}
	.journal-mblog #column-left + #content .video-container{
		padding-bottom: 51.41%;
	}
}
.journal-mblog .tab-content ul li{
	margin: 0; 
}
.journal-mblog.mp-blog .inner-rating{
	min-height: 190px;
}
.journal-mblog.mpblognavs .mpblognavs-title{
	width: 182px;
	margin-top: -4px;
}
#mpblogsubcates .list-inline li h4{
	margin: 10px 0;
}
.avoide-click {
	pointer-events: none;
}

/* Blogs */

@media screen and (min-width: 500px){
 .blog-content-img:nth-child(even) .blog-img{
   float: right !important;
 }
}
.blog-padding{
 padding: 0!important;
}
.blog-sub-desc{
margin-bottom: 15px;
}
     
.blog-img img{
    border-radius: 4px;
}


.blog-img{
    padding: 8px;
}

@media screen and (max-width: 500px){
    .blog-paragraph, .blog-img{
        padding: 0!important;
    }
}

#comment p.commentt{
  margin: 20px 0px;
}
@media screen and (max-width: 900px) and (min-width: 500px){
  .col-sm-12{
   width: 100% !important;
 }

 .blog-info{
  text-align: left !important;
}
}

.blog-container .jumbotron{
  padding: 0 !important;
  background: none !important;
  margin-bottom: 0 !important;
}


.blog-description .blog-content {
  border-radius: 0 !important;
  background: #fff !important;
  display: inline-block;
  
}

.blog-padding{
  padding: 0!important;
}

.blog-content h1{
  padding: 15px 0px;
  font-size: 20px !important;
}

@media screen and (min-width: 500px){
  .blog-description{
    position: relative;
    bottom: 37px;
    text-align: center;
  }

  .blog-description .blog-content {
   width: 96%;
 }

 .blog-description .blog-content{
  padding: 8px;
}
.blog-content-img:nth-child(even)  {
  background: #faebcc !important;
}

.blog-img{
  padding: 8px 8px 8px 0px !important;
}
}

@media screen and (max-width: 900px){
  .blog-content h1{
    padding: 8px 0px !important;
  }

  .blog-info{
    padding: 2px 0px 10px 0px !important;
  }
}

@media screen and (min-width: 900px){
  .blog-info{
    text-align: right;
  }
}

/* Blog Form */

.blog-form{
  background: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  
}
.blog-comment-date .fa-calendar{
  padding: 5px;
}
.blog-form form{
  max-width: 600px;
  margin: auto;
}

.blog-form h2{
  text-align: center;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 20px !important;
}

.blog-form .form-control{
  background: #fff !important;
  background-image: none !important;
}

.blog-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: 500;
}
.blog-form input[type=text]:focus,  .blog-form textarea:focus{
  border: 1px solid #000 !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
  border-radius: 0;
  
}

.blog-form textarea {
  width: 100%;
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: 500;
}

.blog-form button{
  background: #000 !important;
  font-size: 15px !important;
  padding: 12px;
  border-radius: 0 !important;
  width: 200px;
  float: left !important;
  color: #fff !important;
}
.blog-form .alert-success .fa{
  color: #3c763d;
} 

.blog-form .alert-success {
  background-color: #d6e9c6;
  border-color: #576A47;
  font-weight: 500;
  color: #576A47 !important;
  margin: 15px 0 !important;
}

.blog-form .alert-danger{
 font-weight: 500;
}
.blog-form  .alert-danger .fa{
  color: #a94442 !important;
}

.blog-form .alert-dismissable .close, .alert-dismissible .close{
  right: -2px !important;
}

@media screen and (max-width: 500px) and (min-width: 300px){
  #button-comment{
    width: 100%;
  }
}

/* blogs comment */

  .blog-comment-date{
    text-align: right;
  }

  #comment-pagination{
    display: inline-block;
  }
  
  .mp-comments{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    padding: 12px;
  }

  .mp-avtar .fa::before{
    color: #f49a25 !important;
  }

  @media screen and (min-width: 300px) and (max-width: 480px){
    .blog-comment-date{
      font-size: 12px !important;
      margin: 6px 0;
    }
  }

  @media screen and (min-width: 900px){
    .blog-user-icon{
      max-width: 4%;
    }
  }

  #comment-button{
    border: 1px solid #f49a25;
    color: #f49a25;
    font-weight: 500;
  }

  #comment-button:hover{
    background: #f49a25;
    color: #fff;
  }
