.tab-title {
	position:relative;
	display:inline-block;
	width:100%;
	margin-bottom:30px;
}
.tab-title ul.tabs-categorys{
    margin:40px 0 0;
    padding: 0;
    list-style: outside none none !important;
    text-align: center;
	display:inline-block;
	width:100%;
}
.tabs-categorys li {
	position: relative;
    display: inline-block;
    line-height: 1;
    text-transform: capitalize;
    color: #606060!important;
	margin-right:40px;
    font-size: 16px;
	padding-bottom:8px;
    font-weight: 700;
	cursor:pointer;
	border-bottom:1px solid rgba(0,0,0,0);
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.tabs-categorys li:last-child {
	margin:0;
}
.tabs-categorys li.active,
.tabs-categorys li:hover {
	border-bottom:1px solid #f49a25;
	color:#f49a25!important;
}
@media(max-width: 640px){
	.tabs-categorys li { font-size:16px; margin-right: 20px; margin-bottom:10px; }
}
@media(max-width: 580px){
	.tab-title ul.tabs-categorys { margin:20px 0 0; }
}