.layernavigation-module {
	margin-bottom:60px;
}
.layernavigation-module .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin:0;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 999998; }
.ajax-loader { display: none; z-index: 999999; position: fixed; top: 50%; left: 50%; }
.layered-heading { font-weight:bolder; font-size: large; }
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a { display: inline-block; }
.filter-attribute-container { border-bottom: 1px solid #ccc; }
.filter-attribute-container:last-child { border-bottom: 0; margin:0; }
.filter-attribute-container .remove-filter { position: absolute; right: 0px; top: 50%; margin-top: -7px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(../../../../image/remove-icon.png) no-repeat;   border: 0; }
.filter-attribute-container .remove-filter:hover { background: url(../../../../image/remove-icon.png) no-repeat; opacity: 0.5; border: 0; }
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin-bottom: 0px !important;}
.filter-attribute-container .list-group-item { padding: 0; border: none; overflow: hidden; position: relative; margin-bottom: 25px !important;}
.filter-attribute-container .list-group-item .a-filter:first-child {
	padding-top:0;
}
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 10px 0 0; border: none; background: none;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px 0; text-align: center; font-size: 14px; margin-top: 10px}
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 14px;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #67D7BB;
}
.filter-attribute-container{
    border: none;
	margin-bottom:50px;
}
.filter-attribute-remove-container { margin:0; }
.filter-attribute-container label{
    color: #3b3b3b;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	width: 100%;
	padding: 10px 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
#slider-price.ui-slider-horizontal{
    height: 3px;
}
#slider-price .ui-widget-header{
	background: #09c6ab;
}
#slider-price.ui-widget-content{
    background: #dfdfdf;
    border: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #fff;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 10px;
    height: 10px;
    top: -4px;
	border-radius:0;
	background:#09c6ab;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #09c6ab;
}
.filter-attribute-container .list-group-item a:not(.remove-filter){
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #252525;
	border-bottom: 1px solid #ededed;
	padding:15px 0;
	font-weight:600;
}
@media(max-width: 1199px){
	.filter-attribute-container .list-group-item .filter-price .slider-values span {
		font-size:10px;
	}
	.filter-attribute-container .list-group-item .filter-price .input-price {
		width:25px;
		font-size:10px;
	}
	.filter-attribute-container .list-group-item a:not(.remove-filter) { font-size:12px; padding:10px 0; }
	.layernavigation-module .filter-attribute-container label { font-size:14px; }
}
@media(max-width: 767px){
	.filter-attribute-container .list-group-item .filter-price .slider-values span {
		font-size:13px;
	}
	.filter-attribute-container .list-group-item .filter-price .input-price {
		width:50px;
		font-size:13px;
	}
	.layernavigation-module .filter-attribute-container label { font-size:22px; }
}