<?php echo $header; ?><?php echo $column_left; ?>

<div id="content">

	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="<?php echo $download_location; ?>">
					<button data-toggle="tooltip" title="<?php echo $button_download_location; ?>" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; <?php echo $button_download_location; ?></button>
				</a>
			</div>
		    <h1><?php echo $heading_title; ?></h1>
		     <ul class="breadcrumb">
			   <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
		    </ul>
		</div>
	</div>

	<div class="container-fluid">
		<?php if ($error_warning) { ?>
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php } ?>
		<?php if ($success) { ?>
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php } ?>
		
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $heading_title; ?></h3>
			</div>
			<div class="panel-body">
				<form action="<?php echo $massaction; ?>" method="post" enctype="multipart/form-data" id="form-managelocation">
					<div class="">
						<div class="row">
							
							<div class="col-sm-2">
								<div class="form-group">
									<select name="massactions" id="input-massactions" class="form-control">
										<option value="">Actions</option>
										<option value="create_pickup_request"><?php echo $text_create_pickup_request; ?></option>
									</select>
								</div>
							</div>
							<span class="pickupLocation" style="display:none;">
								<div class="col-sm-2">
									<div class="form-group">
										<input type="date" name="pickup_date" placeholder="mm/dd/yyyy" id="input-pickup_date" class="form-control"/>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<select name="hours" class="form-control">
											<option value="">Hrs</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<select name="minute" class="form-control">
											<option value="">Min</option>
											<option value="15">15</option>
											<option value="30">30</option>
											<option value="45">45</option>
										</select>
									</div>
								</div>
							</span>
							<div class="col-sm-3">
								<div class="form-group">
									<button type="button" id="button-filter" class="btn btn-primary massactionBtn"><i class="fa fa-save"></i> Submit </button>
								</div>
							</div>
							
						</div>
					</div>
					
					
					  <div class="table-responsive">
						<table class="table table-bordered table-hover">
						  <thead>
							<tr>
								<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
								<td class="text-left">
									<?php if ($sort == 'location_id') { ?>
										<a href="<?php echo $sort_location_id; ?>" class="<?php echo $order|lower; ?>"><?php echo $column_location_id; ?></a>
								<?php } else { ?>
										<a href="<?php echo $sort_location_id; ?>"><?php echo $column_location_id; ?></a>
									<?php } ?>
								</td>
								<td class="text-left"><?php echo $column_name; ?></td>
								<td class="text-left"><?php echo $column_address; ?></td>
								<td class="text-left"><?php echo $column_contact_person; ?></td>
								<td class="text-left"><?php echo $column_email; ?></td>
								<td class="text-left"><?php echo $column_pin; ?></td>
								<td class="text-left"><?php echo $column_state; ?></td>
								<td class="text-left"><?php echo $column_expected_package_count; ?></td>
							</tr>
						  </thead>
						  <tbody>
							<?php if ($delhiveryLastmile_manageLocation) { ?>
							<?php foreach ($delhiveryLastmile_manageLocation as $manage_location) { ?>
							<tr>
								<td class="text-center">
									<?php if ($manage_location['location_id'] == selected){ ?>
										<input type="checkbox" name="selected[]" value="<?php echo $manage_location['location_id']; ?>" checked="checked" />
								<?php } else { ?>
										<input type="checkbox" name="selected[]" value="<?php echo $manage_location['location_id']; ?>" />
									<?php } ?>
								</td>
								<td class="text-left"><?php echo $manage_location['location_id']; ?></td>
								<td class="text-left"><?php echo $manage_location['name']; ?></td>
								<td class="text-left"><?php echo $manage_location['address']; ?></td>
								<td class="text-left"><?php echo $manage_location['contact_person']; ?></td>
								<td class="text-left"><?php echo $manage_location['email']; ?></td>
								<td class="text-left"><?php echo $manage_location['pin']; ?></td>
								<td class="text-left"><?php echo $manage_location['state']; ?></td>
								<td class="text-left"><?php echo $manage_location['expected_package_count']; ?></td>
							</tr>
							<?php } ?>
						<?php } else { ?>
							<tr>
							  <td class="text-center" colspan="9"><?php echo $text_no_results; ?></td>
							</tr>
							<?php } ?>
						  </tbody>
						</table>
					  </div>
					</form>
				<div class="row">
					<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
					<div class="col-sm-6 text-right"><?php echo $results; ?></div>
				</div>
				
				
			</div>
		</div>
	</div>

</div>
<script type="text/javascript"><!--
$('#input-massactions').on('change', function() {
	if($(this).val()=='create_pickup_request'){
		$(".pickupLocation").show();
	}else{
		$(".pickupLocation").hide();
	}
});
//--></script>
<script type="text/javascript"><!--
$('.massactionBtn').on('click', function() {
	if($('#input-massactions').val()!='create_pickup_request'){
		alert("Please select Actions.");
	}else{
		$('#form-managelocation').submit();
	}
});
//--></script>
<?php echo $footer; ?>