<?php echo $header; ?><?php echo $column_left; ?>
<div id="content" class="mpblog-content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-mpblogfeatured" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-mpblogfeatured" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
            <div class="col-sm-10">
              <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
              <?php if ($error_name) { ?>
              <div class="text-danger"><?php echo $error_name; ?></div>
              <?php } ?>
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mpblogpost"><span data-toggle="tooltip" title="<?php echo $help_mpblogpost; ?>"><?php echo $entry_mpblogpost; ?></span></label>
            <div class="col-sm-10">
              <input type="text" name="mpblogpost_name" value="" placeholder="<?php echo $entry_mpblogpost; ?>" id="input-mpblogpost" class="form-control" />
              <div id="mpblogfeatured-mpblogpost" class="well well-sm" style="height: 150px; overflow: auto;">
                <?php foreach ($mpblogposts as $mpblogpost) { ?>
                <div id="mpblogfeatured-mpblogpost<?php echo $mpblogpost['mpblogpost_id']; ?>"><i class="fa fa-minus-circle"></i> <?php echo $mpblogpost['name']; ?>
                  <input type="hidden" name="mpblogpost[]" value="<?php echo $mpblogpost['mpblogpost_id']; ?>" />
                </div>
                <?php } ?>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit"><?php echo $entry_limit; ?></label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="<?php echo $limit; ?>" placeholder="<?php echo $entry_limit; ?>" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width"><?php echo $entry_image_size; ?></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                  <input type="text" name="width" value="<?php echo $width; ?>" placeholder="<?php echo $entry_width; ?>" id="input-width" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-arrows-h"></i></button>
                  </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <input type="text" name="height" value="<?php echo $height; ?>" placeholder="<?php echo $entry_height; ?>" id="input-height" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-arrows-v"></i></button>
                  </span>
                  </div>
                </div>
              </div>
              <?php if ($error_image_size) { ?>
              <div class="text-danger"><?php echo $error_image_size; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                <?php if ($status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'mpblogpost_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=mpblog/mpblogpost/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['mpblogpost_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'mpblogpost_name\']').val('');
		
		$('#mpblogfeatured-mpblogpost' + item['value']).remove();
		
		$('#mpblogfeatured-mpblogpost').append('<div id="mpblogfeatured-mpblogpost' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#mpblogfeatured-mpblogpost').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script></div>
<?php echo $footer; ?>
