<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-teapi" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
      <div class="panel panel-default">
        <div class="panel-body">    
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
          </div><br>
          <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-manage-affiliate" class="form-horizontal">     

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-teapi_status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="teapi_status" id="input-teapi_status" class="form-control">
                <option value="0" <?php if(!$teapi_status) echo 'selected';?>>  <?php echo $text_disabled; ?> </option>
                <option value="1" <?php if($teapi_status) echo 'selected';?>>  <?php echo $text_enabled; ?> </option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-key"><span data-toggle="tooltip" title="<?php echo $help_api_key; ?>"><?php echo $entry_api_key; ?></span></label>
            <div class="col-sm-10">
              <input type="text" name="teapi_api_key" value="<?php echo $teapi_api_key; ?>" placeholder="<?php echo $entry_api_key; ?>" id="input-api-key" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-password"><span data-toggle="tooltip" title="<?php echo $help_api_password; ?>"><?php echo $entry_api_password; ?></span></label>
            <div class="col-sm-10">
              <input type="password" name="teapi_api_password" value="<?php echo $teapi_api_password; ?>" placeholder="<?php echo $entry_api_password; ?>" id="input-api-password" class="form-control" />
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<?php echo $footer; ?>