#quickview-bg-block {  
	display: none; background-color : rgba(0,0,0,0.8); top: 0; left: 0; right: 0; bottom: 0;  margin: auto; position: fixed; z-index:99999992;   }

.quickview-load-img {  display: none; position: fixed; top: 50%; left: 0; right: 0; bottom: 0; text-align: center; z-index: 15; margin: auto; z-index:9999999;}

.a-qv-close {
    position: fixed;
    z-index: 20;
}
#quickview-content {
    position: fixed;
    background-color: #fff;
    display: none;
    z-index: 99999993;
	padding:30px 30px 10px;
    width:1000px;
    height:450px;
    top: 50%;
	margin-top:-230px;
    left: 50%;
	margin-left:-540px;
	box-shadow:0 0 2px 2px #666;
    overflow: auto !important;
}
.quickview-container .thumbnails a.thumbnail {
	pointer-events: none;
}
.quickview-container #content { padding-bottom:20px; }
.quickview-container .name { margin:0 0 10px;  text-align:left; display:inline-block; width:100%; }
.quickview-container .product-name {
	font-size: 24px;
    margin: 0 0 13px;
    color: #252525;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}
.quickview-container .list-unstyled li {
    color: #69686c;
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 3px 0;
    font-weight: 700;
}
.quickview-container .list-unstyled li:before {
	display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #69686c;
    font-size: 15px;
    content: "\f101";
    margin-right: 10px;
}
.quickview-container .list-unstyled.price-product li:before {
	display:none;
}
.quickview-container .price { text-align:left; }
.quickview-container .price li {
	color: #69686c;
    display: inline-block;
    font-size: 24px;
	width:100%;
}
.quickview-container .price li h2 { font-size:20px !important; display: inline-block; margin:0 !important; }
.quickview-container .price li.old-price { font-size:20px; }
.quickview-container .thumbnails-image { margin:0 0 20px; }
.quickview-container .image-qv-additional a.thumbnail {
	background:#fff;
	border:0!important;
	padding:0;
	border-radius:0;
}
.quickview-container .btn-group button {
    border:0;
    width: 40px;
    height: 40px;
    background: #222;
    color:#fff;
	float:left;
	margin-right:12px;
	margin-bottom:20px;
	margin-top:10px;
    display: block;
    font-size: 14px;
    font-weight: normal !important;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.quickview-container #content h1,.quickview-container #content h2 { margin:10px 0 3px;}
.quickview-container h3 {
	font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.quickview-container .btn-group button:hover { background:#c43b68; }
.quickview-container .btn-group button:hover:before { color:#fff; }
.quickview-container .btn-group button:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    line-height: 43px;
    font-weight: normal;
}
.quickview-container .btn-group button.wishlist:before { content: "\f08a"; }
.quickview-container .btn-group button.compare:before { content: "\f080"; }
.quickview-container .alert.alert-success,.common-home .quickview-container .alert,
.quickview-container .alert {
	top:0;
	width:100%;
	left:0;
	position:absolute;
	z-index:9;
	border-radius:0;
	margin:0;
}
.quickview-container .a-qv-close {
	font-size: 0px;
    position: fixed;
    right: 50%;
    top: 50%;
    margin:-214px -430px 0 0;
    z-index: 99999990;
}
.quickview-container .a-qv-close:before {
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f00d";
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background: #e91113;
}
.quickview-container #product { margin:20px 0 0; }
.quickview-container .form-group label { float:left; margin:8px 10px 10px 0; }
.quickview-container #button-cart {
	float:left;
	background:none;
	padding:0;
	margin:0 0 0 20px;
	width:auto;
	border:0;
}
.quickview-container #button-cart span span {
    display: block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    background: #c43b68;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 20px;
}
.quickview-container #button-cart span span:before {
    content: "\e04e";
    font-family: 'simple-line-icons';
    font-size: 15px;
    text-indent: 0;
    display: block;
    float: left;
    margin-right: 10px;
    line-height: 40px;
}
.quickview-container .image-additional-container .owl-wrapper-outer {
	padding:10px 0;
}
.quickview-container .image-block .owl-theme .owl-controls .owl-buttons div { margin:-20px 0 0; }
.quickview-container .image-block .owl-carousel .owl-item { padding:0 3px; } 
.quickview-container .rating { display: inline-block; text-align:left; margin:10px 0 0;  }
.quickview-container .rating a { float:left; }
.quickview-container .rating .rating-qick  { float:left; margin:0 10px 0 0; }
.quickview-container #button-cart:hover span span { background:#222; }
.quickview-container .list-unstyled.price { margin:0 0 20px; }
.quickview-container .list-unstyled.price li { font-size:15px; }
.quickview-container .form-group.required label { float:none; }