{{ header }}
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/shipway_default.css" />
<div class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		<div id="content" class="onj_content">{{ content_top }}
			<h1 align="center">Track Your Shipment Status</h1>
			<div id="shipway_track_wrapper" >
			<form action="{{ action }}" id="form" method="post" style="margin:0 auto;" >
				<fieldset>
					<legend>Track now</legend>
						<table>
							<tbody>
								<tr>
									<th width="70">ORDER ID :</th><td><input type="text" name="order_id"  value="{% if order_id is defined %} {{ order_id }} {% endif %}" /></td>									
									<td><input type="submit" value="Track"  name="btnSubmit" class="btn btn-primary btn-block"/></td>
								</tr>
							</tbody>
						</table>
				</fieldset>
			</form>
			{% if status_result is defined %}
			<table class="track_table">
			{% if awbno is defined %}
				<tr class="head">
					<th>Tracking ID</th>
					<th>Carrier Name</th>					
				</tr>
				<tr>
					<td class="rhead">{% if awbno is defined %} {{ awbno }} {% endif %} </td>
					<td class="rhead">{% if carrier_name is defined %} {{ carrier_name }} {% endif %} </td>
				</tr>
				{% endif %}
				<tr>
					<td colspan="2">
					<div id="status_container" style="text-align:center;"></div>
					{{ status_result }}			
					</td>
				</tr>
			</table>		
			{% endif %}					
				{{ content_bottom }}
		  </div>
		  {{ column_right }}
		</div>
	</div>
</div>
{{ footer }}